# Settings

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime, timedelta
import sys
import re
import pandas as pd
import requests

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning) # FutureWarning 제거

In [ ]:
# Selenium 설치
!pip install selenium
!pip install webdriver_manager


# Chrome WebDriver 설치
!apt-get update
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
import sys
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')

Requirement already satisfied: selenium in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /usr/local/lib/python3.10/dist-packages (from selenium) (2.0.4)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.10/dist-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.10/dist-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.10/dist-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (23.1.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.10/dist-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Get:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Fetched 341 kB in 4s (80.0 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
chromium-chromedriver is already the newest version (1:85.0.4183.83-0ubuntu2.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 20 not upgraded.
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

service = Service()

# Chrome WebDriver 실행
options = webdriver.ChromeOptions()
options.add_argument('--headless')  # 화면 출력 없이 실행하려면 이 옵션을 사용
options.add_argument('--no-sandbox')  # Colab 환경에서 실행할 때 필요한 옵션
options.add_argument('--disable-dev-shm-usage')  # Colab 환경에서 실행할 때 필요한 옵션
driver = webdriver.Chrome(service=service, options=options)  # 'chromedriver'는 PATH에 있는 경우 생략 가능

# 버전 확인
print("Chrome WebDriver Version:", driver.capabilities['chrome']['chromedriverVersion'])

# WebDriver 종료
driver.quit()

Chrome WebDriver Version: 116.0.5845.96 (1a391816688002153ef791ffe60d9e899a71a037-refs/branch-heads/5845@{#1382})

# Pre-Crawling

## 청약 전 날짜 리스트 + 공모주명 리스트

- 청약 전 날짜 데이터 및 공모주명 리스트는 38공모주(http://www.38.co.kr/html/fund/?o=k)를 참고하여 직접 datatime 및 문자열 리스트로 생성하였습니다.
- `start_list_n` / `ipo_list_n`에서 n은 38공모주의 공모주 청약일정 페이지 번호를 나타냅니다.
- 최신순으로 총 15페이지, 15*30=450개의 공모주 데이터입니다.

In [ ]:
# 청약 전 일 입력

start_list_1 = [datetime(2023, 9, 3), datetime(2023, 8, 28), datetime(2023, 8, 28), datetime(2023, 8, 22), datetime(2023, 8, 21), datetime(2023, 8, 20), datetime(2023, 8, 20), datetime(2023, 8,13),
              datetime(2023, 8, 9), datetime(2023, 8, 8), datetime(2023, 8, 6), datetime(2023, 7,31), datetime(2023, 7, 31), datetime(2023, 7, 31), datetime(2023, 7, 31), datetime(2023, 7, 30),
              datetime(2023, 7, 26), datetime(2023, 7, 25), datetime(2023, 7, 23), datetime(2023, 7, 16), datetime(2023, 7, 16), datetime(2023, 7, 16), datetime(2023, 7, 16), datetime(2023, 7, 12),
              datetime(2023, 7, 10), datetime(2023, 7, 9), datetime(2023, 7, 9), datetime(2023, 7, 4), datetime(2023, 7, 2), datetime(2023, 6, 26)] # 1페이지

start_list_2 = [datetime(2023, 6, 25), datetime(2023, 6, 20), datetime(2023, 6, 19), datetime(2023, 6, 19), datetime(2023, 6, 18), datetime(2023, 6, 12), datetime(2023, 6, 12), datetime(2023, 6,12),
              datetime(2023, 6, 6), datetime(2023, 6, 4), datetime(2023, 5, 24), datetime(2023, 5, 21), datetime(2023, 5, 21), datetime(2023, 5, 14), datetime(2023, 5, 9), datetime(2023, 5, 8),
              datetime(2023, 5, 7), datetime(2023, 5, 7), datetime(2023, 4, 23), datetime(2023, 4, 17), datetime(2023, 4, 16), datetime(2023, 3, 27), datetime(2023, 3, 26), datetime(2023, 3, 26),
              datetime(2023, 3, 26), datetime(2023, 3, 20), datetime(2023, 3, 19), datetime(2023, 3, 12), datetime(2023, 3, 6), datetime(2023, 3, 5)] # 2페이지

start_list_3 = [datetime(2023,3, 1), datetime(2023,2, 26), datetime(2023,2, 21), datetime(2023,2, 21), datetime(2023,2, 19), datetime(2023,2,19), datetime(2023,2, 19), datetime(2023,2, 15),
               datetime(2023,2, 13), datetime(2023,2, 8), datetime(2023,2, 6), datetime(2023,2, 5), datetime(2023,1, 30), datetime(2023,1, 25), datetime(2023,1, 24), datetime(2023,1, 15),
               datetime(2023,1, 15), datetime(2023,1, 9), datetime(2023,1,9), datetime(2022,12,14), datetime(2022,12,12), datetime(2022,12,11), datetime(2022,12,5), datetime(2022,12,5),
               datetime(2022,11,23), datetime(2022,11,23), datetime(2022,11,21), datetime(2022,11,20), datetime(2022,11,16), datetime(2022,11,14)] # 3페이지

start_list_4 = [datetime(2022, 11, 10), datetime(2022, 11, 8), datetime(2022, 11, 7), datetime(2022, 11, 7), datetime(2022, 11, 6), datetime(2022, 11, 1), datetime(2022, 11, 1), datetime(2022, 10, 25),
              datetime(2022, 10, 25), datetime(2022, 10, 23), datetime(2022, 10, 23), datetime(2022, 10, 23), datetime(2022, 10, 23), datetime(2022, 10, 18), datetime(2022, 10, 17), datetime(2022, 10, 17),
              datetime(2022, 10, 16), datetime(2022, 10, 11), datetime(2022, 10, 10), datetime(2022, 10, 10), datetime(2022, 10, 10), datetime(2022, 10, 10), datetime(2022, 10, 5), datetime(2022, 10, 4),
              datetime(2022, 10, 3), datetime(2022, 10, 3), datetime(2022, 9, 26), datetime(2022, 9, 25), datetime(2022, 9, 25), datetime(2022, 9, 23)] # 4페이지

start_list_5 = [datetime(2022, 9, 21), datetime(2022, 9, 19), datetime(2022, 9, 19), datetime(2022, 9, 19), datetime(2022, 9, 18), datetime(2022, 9, 14), datetime(2022, 9, 14), datetime(2022, 9, 12),
              datetime(2022, 8, 31), datetime(2022, 8, 28), datetime(2022, 8, 15), datetime(2022, 8, 15), datetime(2022, 8, 9), datetime(2022, 8, 8), datetime(2022, 7, 27), datetime(2022, 7, 25),
              datetime(2022, 7, 25), datetime(2022, 7, 19), datetime(2022, 7, 18), datetime(2022, 7, 18), datetime(2022, 7, 18), datetime(2022, 7, 17), datetime(2022, 7, 11), datetime(2022, 7, 11),
              datetime(2022, 7, 5), datetime(2022, 7, 4), datetime(2022, 7, 3), datetime(2022, 6, 26), datetime(2022, 6, 20), datetime(2022, 6, 20)] # 5페이지

start_list_6 = [datetime(2022, 6, 15), datetime(2022, 6, 13), datetime(2022, 6, 13), datetime(2022, 6, 13), datetime(2022, 6, 13), datetime(2022, 6, 13), datetime(2022, 6, 8), datetime(2022, 6, 7),
              datetime(2022, 5, 23), datetime(2022, 5, 16), datetime(2022, 5, 11), datetime(2022, 5, 10), datetime(2022, 5, 2), datetime(2022, 4, 18), datetime(2022, 4, 18), datetime(2022, 4, 17),
              datetime(2022, 4, 17), datetime(2022, 4, 10), datetime(2022, 3, 27), datetime(2022, 3, 21), datetime(2022, 3, 21), datetime(2022, 3, 14), datetime(2022, 3, 13), datetime(2022, 3, 6),
              datetime(2022, 3, 1), datetime(2022, 2, 24), datetime(2022, 2, 21), datetime(2022, 2, 20), datetime(2022, 2, 20), datetime(2022, 2, 16)] # 6페이지

start_list_7 = [datetime(2022, 2, 14), datetime(2022, 2, 14), datetime(2022, 2, 14), datetime(2022, 2, 13), datetime(2022, 2, 9), datetime(2022, 2, 8), datetime(2022, 2, 7), datetime(2022, 2, 6),
              datetime(2022, 1, 23), datetime(2022, 1, 23), datetime(2022, 1, 19), datetime(2022, 1, 19), datetime(2022, 1, 17), datetime(2022, 1, 12), datetime(2022, 1, 11), datetime(2022, 1, 10),
              datetime(2022, 1, 9), datetime(2021, 12, 19), datetime(2021, 12, 15), datetime(2021, 12, 15), datetime(2021, 12, 8), datetime(2021, 12, 8), datetime(2021, 12, 5), datetime(2021, 12, 1),
              datetime(2021, 11, 23), datetime(2021, 11, 21), datetime(2021, 11, 21), datetime(2021, 11, 10), datetime(2021, 11, 10), datetime(2021, 11, 8)] # 7페이지

start_list_8 = [datetime(2021,11, 7), datetime(2021,11, 2), datetime(2021,11, 1), datetime(2021,10, 31), datetime(2021,10, 31), datetime(2021,10, 31), datetime(2021,10, 26), datetime(2021,10, 24),
              datetime(2021,10, 24), datetime(2021,10, 20), datetime(2021,10, 19), datetime(2021,10, 18), datetime(2021,10, 17), datetime(2021,10, 11), datetime(2021,10, 11), datetime(2021,10, 4),
              datetime(2021,9, 29), datetime(2021,9, 27), datetime(2021,9,26), datetime(2021,9,26), datetime(2021,9,26), datetime(2021,9,22), datetime(2021,9,13), datetime(2021,9,13),
              datetime(2021,9,13), datetime(2021,9,12), datetime(2021,9,12), datetime(2021,9,6), datetime(2021,9,5), datetime(2021,9,1)] # 8페이지

start_list_9 = [datetime(2021,8, 30), datetime(2021,8, 29), datetime(2021,8, 29), datetime(2021,8, 23), datetime(2021,8, 23), datetime(2021,8, 11), datetime(2021,8, 8), datetime(2021,8, 8),
              datetime(2021,8, 8), datetime(2021,8, 4), datetime(2021,8, 4), datetime(2021,8, 4), datetime(2021,8, 3), datetime(2021,8, 3), datetime(2021,8, 1), datetime(2021,8, 1),
              datetime(2021,7, 28), datetime(2021,7, 25), datetime(2021,7, 25), datetime(2021,7, 18), datetime(2021,7, 15), datetime(2021,7, 12), datetime(2021,7, 7), datetime(2021,6, 30),
              datetime(2021,6, 14), datetime(2021,6, 8), datetime(2021,6, 7), datetime(2021,6, 6), datetime(2021,6, 1), datetime(2021,5, 24)] # 9페이지

start_list_10 = [datetime(2021,5, 12), datetime(2021,5, 12), datetime(2021,5, 10), datetime(2021,5, 10), datetime(2021,5, 10), datetime(2021,5, 9), datetime(2021,5, 5), datetime(2021,5, 2),
              datetime(2021,4, 27), datetime(2021,4, 27), datetime(2021,4, 18), datetime(2021,4, 11), datetime(2021,4, 11), datetime(2021,3, 29), datetime(2021,3, 24), datetime(2021,3, 21),
              datetime(2021,3, 14), datetime(2021,3, 14), datetime(2021,3, 10), datetime(2021,3, 8), datetime(2021,3, 7), datetime(2021,3, 4), datetime(2021,3, 3), datetime(2021,3, 1),
              datetime(2021,3, 1), datetime(2021,2, 24), datetime(2021,2, 22), datetime(2021,2, 17), datetime(2021,2, 15), datetime(2021,2, 14)] # 10페이지

start_list_11 = [datetime(2021, 2, 14), datetime(2021, 2, 14), datetime(2021, 2, 2),datetime(2021, 1, 28), datetime(2021, 1, 26),
              datetime(2021, 1, 24), datetime(2021, 1, 24), datetime(2021, 1, 24),datetime(2021, 1, 24), datetime(2021, 1, 20),
              datetime(2021, 1, 20), datetime(2021, 1, 18), datetime(2021, 1, 18),datetime(2021, 1, 17), datetime(2021, 1, 11),
              datetime(2021, 1, 11), datetime(2020, 12, 14), datetime(2020, 12, 13),datetime(2020, 12, 13), datetime(2020, 12, 13),
              datetime(2020, 12, 10), datetime(2020, 12, 9),datetime(2020, 12, 7), datetime(2020, 12, 6), datetime(2020, 12, 3),
              datetime(2020, 12, 2), datetime(2020, 12, 1),datetime(2020, 11, 30), datetime(2020, 11, 29), datetime(2020, 11, 29) ] # 11페이지

start_list_12 = [datetime(2020, 11, 26), datetime(2020, 11, 22), datetime(2020, 11, 22),datetime(2020, 11, 22), datetime(2020, 11, 22),
              datetime(2020, 11, 16), datetime(2020, 11, 12), datetime(2020, 11, 11), datetime(2020, 11, 9), datetime(2020, 11, 8),
              datetime(2020, 11, 8), datetime(2020, 11, 2), datetime(2020, 10, 28), datetime(2020, 10, 19), datetime(2020, 10, 19),
              datetime(2020, 10, 18), datetime(2020, 10, 12), datetime(2020, 10, 6), datetime(2020, 10, 4), datetime(2020, 9, 23),
              datetime(2020, 9, 14), datetime(2020, 9, 13), datetime(2020, 9, 13), datetime(2020, 9, 9), datetime(2020, 9, 8),
              datetime(2020, 9, 8), datetime(2020, 9, 6), datetime(2020, 9, 6), datetime(2022, 9, 2), datetime(2022, 8, 31) ] # 12페이지

start_list_13 = [datetime(2020, 8, 30), datetime(2020, 8, 17), datetime(2020, 8, 10),datetime(2020, 8, 9), datetime(2020, 8, 4),
              datetime(2020, 8, 4), datetime(2020, 8, 3), datetime(2020, 8, 2), datetime(2020, 7, 28), datetime(2020, 7, 26),
              datetime(2020, 7, 21), datetime(2020, 7, 20), datetime(2020, 7, 20), datetime(2020, 7, 19), datetime(2020, 7, 15),
              datetime(2020, 7, 14), datetime(2020, 7, 13), datetime(2020, 7, 13), datetime(2020, 7, 12), datetime(2020, 7, 12),
              datetime(2020, 7, 12), datetime(2020, 7, 7), datetime(2020, 7, 5), datetime(2022, 7, 5), datetime(2022, 6, 28),
              datetime(2020, 6, 24), datetime(2020, 6, 24), datetime(2020, 6, 22), datetime(2020, 6, 17), datetime(2020, 6, 15) ] # 13페이지

start_list_14 = [datetime(2020, 6, 14), datetime(2020, 6, 10), datetime(2020, 6, 10),datetime(2020, 6, 7), datetime(2020, 6, 7),
              datetime(2020, 5, 11), datetime(2020, 5, 10), datetime(2020, 3, 11), datetime(2020, 3, 2), datetime(2020, 3, 1),
              datetime(2020, 3, 1), datetime(2020, 2, 25), datetime(2020, 2, 23), datetime(2020, 2, 19), datetime(2020, 2, 18),
              datetime(2020, 2, 9), datetime(2020, 2, 2), datetime(2020, 1, 28), datetime(2020, 1, 15), datetime(2020, 1, 15),
              datetime(2019, 12, 16), datetime(2019, 12, 15), datetime(2019, 12, 15), datetime(2019, 12, 11), datetime(2019, 12, 11),
              datetime(2019, 12, 11),datetime(2019, 12, 10), datetime(2019, 12, 9), datetime(2019, 12, 8), datetime(2019, 12, 8) ]  # 14페이지

start_list_15 = [datetime(2019, 12, 8), datetime(2019, 12, 1), datetime(2019, 11, 27), datetime(2019, 11, 25), datetime(2019, 11, 24),
              datetime(2019, 11, 24),datetime(2019, 11, 20), datetime(2019, 11, 20), datetime(2019, 11, 17), datetime(2019, 11, 17),
              datetime(2019, 11, 13), datetime(2019, 11, 12), datetime(2019, 11, 10), datetime(2019, 11, 10), datetime(2019, 11, 10),
              datetime(2019, 11, 10),datetime(2019, 11, 6), datetime(2019, 11, 6), datetime(2019, 11, 5), datetime(2019, 11, 3),
              datetime(2019, 10, 30), datetime(2019, 10, 29), datetime(2019, 10, 27), datetime(2019, 10, 27), datetime(2019, 10, 22),
              datetime(2019, 10, 22),datetime(2019, 10, 20), datetime(2019, 10, 20), datetime(2019, 10, 20), datetime(2019, 10, 20) ] # 15페이지

In [ ]:
# 공모주 이름 리스트


ipo_list_1 = ['상상인스펙4호', '인스웨이브시스템즈', '한화플러스스팩4호', '대신밸런스스팩16호', '유안타스팩11호', '대신밸런스스팩15호', '한국스팩12호', '시큐레터', '스마트레이더시스템', '넥스틸', '빅토리콘텐츠', '큐리옥스바이오시스템즈', 'SK증권스팩10호',
             '코츠테크놀로지', '하나스팩28호', 'KB스팩26호', '파두', '엠아이큐브솔루션', '시지트로닉스', '파로스아이바이오', '버넥트', '에이엘티', '유안타스팩14호', '뷰티스킨', 'SK증권스팩9호', '센서뷰',
             '와이랩', '필에너지', '디비금융스팩11호', '이노시뮬레이션'] # 1페이지

ipo_list_2 = ['교보스팩14호', '오픈놀', '시큐센', '알멕', '하나스팩29호', '하이스팩8호', 'KB스팩25호', 'NH스팩29호', '프로테옴텍', '큐라티스', '마녀공장', '나라셀라',
            '진영(구.진영엘디엠)', '기가비스', '모니터랩', '씨유박스', '키움스팩8호', '트루엔', '에스바이오메딕스', '토마토시스템', '마이크로투나노', '미래에셋비전스팩3호', '삼성FN리츠(유가)', 'BKS스팩22호', '하나스팩27호',
            '지아이이노베이션', '엘비인베스트먼트', '한화위탁관리부동산투자회사', '유안타스팩12호', '미래에셋드림스팩1호'] # 2페이지

ipo_list_3 = ['금양그린파워', 'NH스팩28호', '자람테크놀로지', '하나스팩26호', '나노팀', '삼성스팩8호', '바이오인프라', '유안타스팩13호', '미래에셋비전스팩2호', '이노진', '제이오', '샌즈랩', '꿈비', '스튜디오미르',
             '삼기이브이', '오브젠', '미래반도체', '한주라이트메탈', '티이엠씨', '신영스팩9호', '바이오노트', '비엔케이스팩1호', 'IBKS스팩21호', 'NH스팩27호', '에스에이엠지엔터테인먼트', '대신밸런스스팩14호', '유진스팩9호', 'NH스팩26호',
              '대신밸런스스팩13호', '펨트론'] # 3페이지

ipo_list_4 = ['인벤티지랩', '엔젯', '티에프이', '유비온', '티쓰리엔터테인먼트', '윤성에프앤씨', '디티앤씨알오', '뉴로메카', '제이아이테크', 'NH스팩25호', '큐알티', '교보스팩13호', 'KB스팩23호', '저스템',
            '산돌', 'IBKS스팩20호', '삼성스팩7호', '플라즈맵', '한국스팩11호', '하나금융스팩25호', '핀텔', 'NH스팩24호', '샤페론', '에스비비테크', '오에스피', '탑머티리얼', '이노룰스',
            'SK증권스팩8호', '모델솔루션', '유안타스팩10호'] # 4페이지

ipo_list_5 = ['선바이오', '더블유씨피', '알피바이오', '한화플러스스팩3호', '하나금융스팩24호', '오픈엣지테크놀로지', 'KB스타리츠', 'KB스팩22호', '하나금융스팩23호', '키움스팩7호', 'IBKS스팩19호', '신영스팩8호',
            '쏘카', '대성하이텍', '에이치와이티씨', '새빗켐', '유안타스팩9호', '수산인더스트리', '에이프릴바이오', '신한스팩10호', '아이씨에이치', '성일하이텍', 'IBKS스팩18호', '루닛', '에이치피에스피',
            '대신밸런스12호스팩', '영창케미칼', '코난테크놀로지', '삼성스팩6호', '넥스트칩'] # 5페이지

ipo_list_6 = ['NH스팩23호', 'KB스팩21호', '교보스팩12호', '보로노이', '위니아에이드', '레이저쎌', '비플라이소프트', '범한퓨얼셀', '청담글로벌', '하나금융스팩22호', '마스턴프리미어리츠', '가온칩스',
            '대명에너지', '상상인스팩3호', '포바이포', '신영스팩7호', '신한스팩9호', '미래에셋비전스팩1호', '키움스팩6호', '지투파워', '유진스팩8호', '세아메카닉스', '공구우먼', '유일로보틱스', '코람코더원리츠',
            '모아데이타', 'SK증권스팩7호', '노을', '비씨엔씨', '풍원정밀'] # 6페이지

ipo_list_7 = ['브이씨', '스톤브릿지벤처스', '하나금융스팩21호', '퓨런티어', '한국스팩10호', '바이오에프디엔씨', 'IBKS스팩17호', '인카금융서비스', '나래나노텍', '아셈스', '스코넥', '이지트로닉스', 'LG에너지솔루션',
            '애드바이오텍', '케이옥션', '오토앤', '디비금융스팩10호', '래몽래인', '하나금융스팩20호', 'NH스팩22호', '하이스팩7호', '교보스팩11호', '케이티비네트워크', '툴젠', '신한서부티엔디리츠', '대신밸런스스팩11호',
            '미래에셋글로벌리츠', '알비더블유', '마인즈랩', '바이옵트로'] # 7페이지

ipo_list_8 = ['트윔', 'NH올원리츠', '지오엘리먼트', '비트나인', '디어유', '아이티아이즈', '지니너스', '카카오페이', '피코그램', '엔켐', '리파인', '지앤비에스엔지니어링', '아이패밀리에스씨', '차백신연구소',
            '지아이텍', 'NH스팩21호', '케이카', '씨유테크', '원준', '하나금융스팩19호', '아스플로', 'NH스팩20호', '에스앤디', '실리콘투', '프롬바이오', '신한스팩8호', '바이오플러스', '현대중공업',
             '대신밸런스스팩10호', '유진스팩7호'] # 8페이지

ipo_list_9 = ['와이엠텍', '에이비온', 'SK리츠', '일진하이솔루스', 'IBKS스팩16호', '바이젠셀', '브레인즈컴퍼니', '아주스틸', '롯데렌탈', '딥노이드', '한컴라이프케어', '디앤디플랫폼리츠', '플래티어', '엠로', '크래프톤',
            '원티드랩', '에이치케이이노엔', '카카오뱅크', '한화플러스스팩2호', '에브리봇', '맥스트', '큐라클', '에스디바이오센서', '오비고', '아모센스', '이노뎁', '삼성머스트스팩5호', '라온테크', '엘비루셈',
            '에이디엠코리아'] # 9페이지

ipo_list_10 = ['제주맥주', '진시스템', '삼영에스앤씨', '삼성스팩4호', 'NH스팩19호', '샘씨엔에스', '씨앤씨인터내셔널', '에이치피오', '하이스팩6호', 'SK아이이테크놀로지', '쿠콘', '해성티피씨', '이삭엔지니어링',
            '유진스팩6호', '유안타스팩8호', '엔시스', '자이언트스텝', '제노코', '라이프시맨틱스', 'SK바이오사이언스', '바이오다인', '디비금융스팩9호', '네오이뮨텍', '프레스티지바이오로직스', '싸이버원',
            '나노씨엠에스', '하나머스트스팩7호', 'IBKS스팩15호', '뷰노', '씨이랩'] # 10페이지

ipo_list_11 = ['유일에너테크', '오로스테크놀로지', '피엔에이치테크', '하나금융스팩17호', '아이퀘스트',
            '프레스티지바이오파마', '와이더플래닛', '레인보우로보틱스', '신한스팩7호', '솔루엠',
            '핑거', '씨앤투스성진', '모비릭스','선진뷰티사이언스', '엔비티',
            '한국스팩9호', '석경에이티', '지놈앤컴퍼니', '프리시젼바이오', '대신밸런스스팩9호',
            '엔에이치스팩18호', '알체라', '에프앤가이드', '에이치엠씨아이비스팩5호', '이에스알켄달스퀘어리츠',
            '티엘비', '인바이오', '엔젠바이오', '퀀타매트릭스', '디비금융스팩8호'] # 11페이지

ipo_list_12 = ['명신산업', '엔에프씨', '앱코', '포인트모바일', '클리노믹스',
            '제일전기공업', '하나기술', '티앤엘', '에이플러스에셋어드바이저', '네패스아크',
            '고바이오랩', '교촌에프앤비','소룩스', '위드텍', '센코',
            '바이브컴퍼니', '미코바이오메드', '피플바이오', '빅히트', '넥스틴',
            '원방테크', '엔에이치스팩17호', '비나텍', '박셀바이오', '비비씨',
            '핌스', '교보스팩10호', '압타머사이언스', '이오플로우', '카카오게임즈'] # 12페이지


ipo_list_13 = ['피엔케이피부임상연구센타', '미래에셋대우스팩5호', '아이디피', '셀레믹스',
            '미투젠', '코람코에너지플러스리츠', '브랜드엑스코퍼레이션', '영림원소프트랩', '한국파마',
            '이루다', '제이알글로벌리츠','이엔드디', '와이팜', '에이치엠씨아이비스팩4호',
            '엠투아이', '더네이쳐홀딩스', '하나금융스팩16호', '제놀루션', '솔트룩스',
            '티에스아이', '미래에셋맵스리츠1호', '에이프로', 'IBKS스팩13호', '이지스레지던스리츠',
            '소마젠', '위더스제약', '신도기연', 'SK바이오팜', '마크로밀엠브레인','이지스밸류플러스리츠'] # 13페이지


ipo_list_14 =  ['젠큐릭스', 'IBKS스팩14호', '엘이티', '에스씨엠생명과학', '엔에이치스팩16호',
            '드림씨아이에스', '이베스트스팩5호', '케이프이에스스팩4호', '엔피디', '플레이디',
            '에스케이스팩6호', '서울바이오시스','제이앤티씨', '켄코아에어로스페이스', '레몬',
            '서남', '신영스팩6호', '위세아이텍', '하나금융스팩15호', '케이비스팩20호',
            '천랩', '피피아이', '한화플러스스팩1호', '브릿지바이오테라퓨틱스', '엔에이치스팩15호',
            '메탈라이프', '하이스팩5호', '메드팩토', '신테카바이오', '대신밸런스스팩8호'] # 14페이지


ipo_list_15 = ['유안타스팩6호', '제이엘케이인스펙션', 'IBKS스팩12호', '태웅로직스', '에스케이스팩5호',
            '리메드', '코리아센터', 'IBKS스팩11호', '유안타스팩5호', '엔에이치프라임리츠',
            '노터스', '센트랄모텍', '티움바이오', '코리아에셋투자증권', '씨에스베어링',
            '우양', '에스제이그룹', '현대에너지솔루션', '제테마', '한화시스템',
            '라파스', '아이티엠반도체', '자이에스앤디', '미래에셋대우스팩4호', '하나금융스팩14호',
            '티라유텍', '미디어젠', '신한스팩6호', '캐리소프트','지누스'] # 15페이지

In [ ]:
'''
청약 D-1로부터 D-30 날짜 계산하기
      - result_list : 각 공모주 별 (청약 D-1 날짜, 청약 D-30 날짜)
      - start_date : 청약 D-1
      - end_date   : 청약 D-30
'''

# 결과를 저장할 리스트 초기화
for a in range(15):
    globals()[f"result_list_{a+1}"] = []
    print(f"변수 초기화 완료:{a+1}")

for b in range(15):
  # 각각의 시작 날짜에 대해 반복문 실행
  for start_date in globals()[f"start_list_{b+1}"]:
    # 시작 날짜로부터 한달 전 날짜 계산
    end_date = start_date - timedelta(days=30)

    # 결과를 리스트에 추가 (데이터프레임에 추가하지 않고 튜플로 저장)
    globals()[f"result_list_{b+1}"].append((start_date.strftime('%Y. %m. %d.'), end_date.strftime('%Y. %m. %d.')))

for j in range(15):
  print(f'result_list_{j+1} 시작 !@!')
  # 결과 출력
  for start_date, end_date in globals()[f"result_list_{j+1}"]:
      print(f"Start Date: {start_date}, End Date: {end_date}")

변수 초기화 완료:1
변수 초기화 완료:2
변수 초기화 완료:3
변수 초기화 완료:4
변수 초기화 완료:5
변수 초기화 완료:6
변수 초기화 완료:7
변수 초기화 완료:8
변수 초기화 완료:9
변수 초기화 완료:10
변수 초기화 완료:11
변수 초기화 완료:12
변수 초기화 완료:13
변수 초기화 완료:14
변수 초기화 완료:15
result_list_1 시작 !@!
Start Date: 2023. 09. 03., End Date: 2023. 08. 04.
Start Date: 2023. 08. 28., End Date: 2023. 07. 29.
Start Date: 2023. 08. 28., End Date: 2023. 07. 29.
Start Date: 2023. 08. 22., End Date: 2023. 07. 23.
Start Date: 2023. 08. 21., End Date: 2023. 07. 22.
Start Date: 2023. 08. 20., End Date: 2023. 07. 21.
Start Date: 2023. 08. 20., End Date: 2023. 07. 21.
Start Date: 2023. 08. 13., End Date: 2023. 07. 14.
Start Date: 2023. 08. 09., End Date: 2023. 07. 10.
Start Date: 2023. 08. 08., End Date: 2023. 07. 09.
Start Date: 2023. 08. 06., End Date: 2023. 07. 07.
Start Date: 2023. 07. 31., End Date: 2023. 07. 01.
Start Date: 2023. 07. 31., End Date: 2023. 07. 01.
Start Date: 2023. 07. 31., End Date: 2023. 07. 01.
Start Date: 2023. 07. 31., End Date: 2023. 07. 01.
Start Date: 2023. 07. 30., End Date: 2023. 06. 30.
Start Date: 2023. 07. 26., End Date: 2023. 06. 26.
Start Date: 2023. 07. 25., End Date: 2023. 06. 25.
Start Date: 2023. 07. 23., End Date: 2023. 06. 23.
Start Date: 2023. 07. 16., End Date: 2023. 06. 16.
Start Date: 2023. 07. 16., End Date: 2023. 06. 16.
Start Date: 2023. 07. 16., End Date: 2023. 06. 16.
Start Date: 2023. 07. 16., End Date: 2023. 06. 16.
Start Date: 2023. 07. 12., End Date: 2023. 06. 12.
Start Date: 2023. 07. 10., End Date: 2023. 06. 10.
Start Date: 2023. 07. 09., End Date: 2023. 06. 09.
Start Date: 2023. 07. 09., End Date: 2023. 06. 09.
Start Date: 2023. 07. 04., End Date: 2023. 06. 04.
Start Date: 2023. 07. 02., End Date: 2023. 06. 02.
Start Date: 2023. 06. 26., End Date: 2023. 05. 27.
result_list_2 시작 !@!
Start Date: 2023. 06. 25., End Date: 2023. 05. 26.
Start Date: 2023. 06. 20., End Date: 2023. 05. 21.
Start Date: 2023. 06. 19., End Date: 2023. 05. 20.
Start Date: 2023. 06. 19., End Date: 2023. 05. 20.
Start Date: 2023. 06. 18., End Date: 2023. 05. 19.
Start Date: 2023. 06. 12., End Date: 2023. 05. 13.
Start Date: 2023. 06. 12., End Date: 2023. 05. 13.
Start Date: 2023. 06. 12., End Date: 2023. 05. 13.
Start Date: 2023. 06. 06., End Date: 2023. 05. 07.
Start Date: 2023. 06. 04., End Date: 2023. 05. 05.
Start Date: 2023. 05. 24., End Date: 2023. 04. 24.
Start Date: 2023. 05. 21., End Date: 2023. 04. 21.
Start Date: 2023. 05. 21., End Date: 2023. 04. 21.
Start Date: 2023. 05. 14., End Date: 2023. 04. 14.
Start Date: 2023. 05. 09., End Date: 2023. 04. 09.
Start Date: 2023. 05. 08., End Date: 2023. 04. 08.
Start Date: 2023. 05. 07., End Date: 2023. 04. 07.
Start Date: 2023. 05. 07., End Date: 2023. 04. 07.
Start Date: 2023. 04. 23., End Date: 2023. 03. 24.
Start Date: 2023. 04. 17., End Date: 2023. 03. 18.
Start Date: 2023. 04. 16., End Date: 2023. 03. 17.
Start Date: 2023. 03. 27., End Date: 2023. 02. 25.
Start Date: 2023. 03. 26., End Date: 2023. 02. 24.
Start Date: 2023. 03. 26., End Date: 2023. 02. 24.
Start Date: 2023. 03. 26., End Date: 2023. 02. 24.
Start Date: 2023. 03. 20., End Date: 2023. 02. 18.
Start Date: 2023. 03. 19., End Date: 2023. 02. 17.
Start Date: 2023. 03. 12., End Date: 2023. 02. 10.
Start Date: 2023. 03. 06., End Date: 2023. 02. 04.
Start Date: 2023. 03. 05., End Date: 2023. 02. 03.
result_list_3 시작 !@!
Start Date: 2023. 03. 01., End Date: 2023. 01. 30.
Start Date: 2023. 02. 26., End Date: 2023. 01. 27.
Start Date: 2023. 02. 21., End Date: 2023. 01. 22.
Start Date: 2023. 02. 21., End Date: 2023. 01. 22.
Start Date: 2023. 02. 19., End Date: 2023. 01. 20.
Start Date: 2023. 02. 19., End Date: 2023. 01. 20.
Start Date: 2023. 02. 19., End Date: 2023. 01. 20.
Start Date: 2023. 02. 15., End Date: 2023. 01. 16.
Start Date: 2023. 02. 13., End Date: 2023. 01. 14.
Start Date: 2023. 02. 08., End Date: 2023. 01. 09.
Start Date: 2023. 02. 06., End Date: 2023. 01. 07.
Start Date: 2023. 02. 05., End Date: 2023. 01. 06.
Start Date: 2023. 01. 30., End Date: 2022. 12. 31.
Start Date: 2023. 01. 25., End Date: 2022. 12. 26.
Start Date: 2023. 01. 24., End Date: 2022. 12. 25.
Start Date: 2023. 01. 15., End Date: 2022. 12. 16.
Start Date: 2023. 01. 15., End Date: 2022. 12. 16.
Start Date: 2023. 01. 09., End Date: 2022. 12. 10.
Start Date: 2023. 01. 09., End Date: 2022. 12. 10.
Start Date: 2022. 12. 14., End Date: 2022. 11. 14.
Start Date: 2022. 12. 12., End Date: 2022. 11. 12.
Start Date: 2022. 12. 11., End Date: 2022. 11. 11.
Start Date: 2022. 12. 05., End Date: 2022. 11. 05.
Start Date: 2022. 12. 05., End Date: 2022. 11. 05.
Start Date: 2022. 11. 23., End Date: 2022. 10. 24.
Start Date: 2022. 11. 23., End Date: 2022. 10. 24.
Start Date: 2022. 11. 21., End Date: 2022. 10. 22.
Start Date: 2022. 11. 20., End Date: 2022. 10. 21.
Start Date: 2022. 11. 16., End Date: 2022. 10. 17.
Start Date: 2022. 11. 14., End Date: 2022. 10. 15.
result_list_4 시작 !@!
Start Date: 2022. 11. 10., End Date: 2022. 10. 11.
Start Date: 2022. 11. 08., End Date: 2022. 10. 09.
Start Date: 2022. 11. 07., End Date: 2022. 10. 08.
Start Date: 2022. 11. 07., End Date: 2022. 10. 08.
Start Date: 2022. 11. 06., End Date: 2022. 10. 07.
Start Date: 2022. 11. 01., End Date: 2022. 10. 02.
Start Date: 2022. 11. 01., End Date: 2022. 10. 02.
Start Date: 2022. 10. 25., End Date: 2022. 09. 25.
Start Date: 2022. 10. 25., End Date: 2022. 09. 25.
Start Date: 2022. 10. 23., End Date: 2022. 09. 23.
Start Date: 2022. 10. 23., End Date: 2022. 09. 23.
Start Date: 2022. 10. 23., End Date: 2022. 09. 23.
Start Date: 2022. 10. 23., End Date: 2022. 09. 23.
Start Date: 2022. 10. 18., End Date: 2022. 09. 18.
Start Date: 2022. 10. 17., End Date: 2022. 09. 17.
Start Date: 2022. 10. 17., End Date: 2022. 09. 17.
Start Date: 2022. 10. 16., End Date: 2022. 09. 16.
Start Date: 2022. 10. 11., End Date: 2022. 09. 11.
Start Date: 2022. 10. 10., End Date: 2022. 09. 10.
Start Date: 2022. 10. 10., End Date: 2022. 09. 10.
Start Date: 2022. 10. 10., End Date: 2022. 09. 10.
Start Date: 2022. 10. 10., End Date: 2022. 09. 10.
Start Date: 2022. 10. 05., End Date: 2022. 09. 05.
Start Date: 2022. 10. 04., End Date: 2022. 09. 04.
Start Date: 2022. 10. 03., End Date: 2022. 09. 03.
Start Date: 2022. 10. 03., End Date: 2022. 09. 03.
Start Date: 2022. 09. 26., End Date: 2022. 08. 27.
Start Date: 2022. 09. 25., End Date: 2022. 08. 26.
Start Date: 2022. 09. 25., End Date: 2022. 08. 26.
Start Date: 2022. 09. 23., End Date: 2022. 08. 24.
result_list_5 시작 !@!
Start Date: 2022. 09. 21., End Date: 2022. 08. 22.
Start Date: 2022. 09. 19., End Date: 2022. 08. 20.
Start Date: 2022. 09. 19., End Date: 2022. 08. 20.
Start Date: 2022. 09. 19., End Date: 2022. 08. 20.
Start Date: 2022. 09. 18., End Date: 2022. 08. 19.
Start Date: 2022. 09. 14., End Date: 2022. 08. 15.
Start Date: 2022. 09. 14., End Date: 2022. 08. 15.
Start Date: 2022. 09. 12., End Date: 2022. 08. 13.
Start Date: 2022. 08. 31., End Date: 2022. 08. 01.
Start Date: 2022. 08. 28., End Date: 2022. 07. 29.
Start Date: 2022. 08. 15., End Date: 2022. 07. 16.
Start Date: 2022. 08. 15., End Date: 2022. 07. 16.
Start Date: 2022. 08. 09., End Date: 2022. 07. 10.
Start Date: 2022. 08. 08., End Date: 2022. 07. 09.
Start Date: 2022. 07. 27., End Date: 2022. 06. 27.
Start Date: 2022. 07. 25., End Date: 2022. 06. 25.
Start Date: 2022. 07. 25., End Date: 2022. 06. 25.
Start Date: 2022. 07. 19., End Date: 2022. 06. 19.
Start Date: 2022. 07. 18., End Date: 2022. 06. 18.
Start Date: 2022. 07. 18., End Date: 2022. 06. 18.
Start Date: 2022. 07. 18., End Date: 2022. 06. 18.
Start Date: 2022. 07. 17., End Date: 2022. 06. 17.
Start Date: 2022. 07. 11., End Date: 2022. 06. 11.
Start Date: 2022. 07. 11., End Date: 2022. 06. 11.
Start Date: 2022. 07. 05., End Date: 2022. 06. 05.
Start Date: 2022. 07. 04., End Date: 2022. 06. 04.
Start Date: 2022. 07. 03., End Date: 2022. 06. 03.
Start Date: 2022. 06. 26., End Date: 2022. 05. 27.
Start Date: 2022. 06. 20., End Date: 2022. 05. 21.
Start Date: 2022. 06. 20., End Date: 2022. 05. 21.
result_list_6 시작 !@!
Start Date: 2022. 06. 15., End Date: 2022. 05. 16.
Start Date: 2022. 06. 13., End Date: 2022. 05. 14.
Start Date: 2022. 06. 13., End Date: 2022. 05. 14.
Start Date: 2022. 06. 13., End Date: 2022. 05. 14.
Start Date: 2022. 06. 13., End Date: 2022. 05. 14.
Start Date: 2022. 06. 13., End Date: 2022. 05. 14.
Start Date: 2022. 06. 08., End Date: 2022. 05. 09.
Start Date: 2022. 06. 07., End Date: 2022. 05. 08.
Start Date: 2022. 05. 23., End Date: 2022. 04. 23.
Start Date: 2022. 05. 16., End Date: 2022. 04. 16.
Start Date: 2022. 05. 11., End Date: 2022. 04. 11.
Start Date: 2022. 05. 10., End Date: 2022. 04. 10.
Start Date: 2022. 05. 02., End Date: 2022. 04. 02.
Start Date: 2022. 04. 18., End Date: 2022. 03. 19.
Start Date: 2022. 04. 18., End Date: 2022. 03. 19.
Start Date: 2022. 04. 17., End Date: 2022. 03. 18.
Start Date: 2022. 04. 17., End Date: 2022. 03. 18.
Start Date: 2022. 04. 10., End Date: 2022. 03. 11.
Start Date: 2022. 03. 27., End Date: 2022. 02. 25.
Start Date: 2022. 03. 21., End Date: 2022. 02. 19.
Start Date: 2022. 03. 21., End Date: 2022. 02. 19.
Start Date: 2022. 03. 14., End Date: 2022. 02. 12.
Start Date: 2022. 03. 13., End Date: 2022. 02. 11.
Start Date: 2022. 03. 06., End Date: 2022. 02. 04.
Start Date: 2022. 03. 01., End Date: 2022. 01. 30.
Start Date: 2022. 02. 24., End Date: 2022. 01. 25.
Start Date: 2022. 02. 21., End Date: 2022. 01. 22.
Start Date: 2022. 02. 20., End Date: 2022. 01. 21.
Start Date: 2022. 02. 20., End Date: 2022. 01. 21.
Start Date: 2022. 02. 16., End Date: 2022. 01. 17.
result_list_7 시작 !@!
Start Date: 2022. 02. 14., End Date: 2022. 01. 15.
Start Date: 2022. 02. 14., End Date: 2022. 01. 15.
Start Date: 2022. 02. 14., End Date: 2022. 01. 15.
Start Date: 2022. 02. 13., End Date: 2022. 01. 14.
Start Date: 2022. 02. 09., End Date: 2022. 01. 10.
Start Date: 2022. 02. 08., End Date: 2022. 01. 09.
Start Date: 2022. 02. 07., End Date: 2022. 01. 08.
Start Date: 2022. 02. 06., End Date: 2022. 01. 07.
Start Date: 2022. 01. 23., End Date: 2021. 12. 24.
Start Date: 2022. 01. 23., End Date: 2021. 12. 24.
Start Date: 2022. 01. 19., End Date: 2021. 12. 20.
Start Date: 2022. 01. 19., End Date: 2021. 12. 20.
Start Date: 2022. 01. 17., End Date: 2021. 12. 18.
Start Date: 2022. 01. 12., End Date: 2021. 12. 13.
Start Date: 2022. 01. 11., End Date: 2021. 12. 12.
Start Date: 2022. 01. 10., End Date: 2021. 12. 11.
Start Date: 2022. 01. 09., End Date: 2021. 12. 10.
Start Date: 2021. 12. 19., End Date: 2021. 11. 19.
Start Date: 2021. 12. 15., End Date: 2021. 11. 15.
Start Date: 2021. 12. 15., End Date: 2021. 11. 15.
Start Date: 2021. 12. 08., End Date: 2021. 11. 08.
Start Date: 2021. 12. 08., End Date: 2021. 11. 08.
Start Date: 2021. 12. 05., End Date: 2021. 11. 05.
Start Date: 2021. 12. 01., End Date: 2021. 11. 01.
Start Date: 2021. 11. 23., End Date: 2021. 10. 24.
Start Date: 2021. 11. 21., End Date: 2021. 10. 22.
Start Date: 2021. 11. 21., End Date: 2021. 10. 22.
Start Date: 2021. 11. 10., End Date: 2021. 10. 11.
Start Date: 2021. 11. 10., End Date: 2021. 10. 11.
Start Date: 2021. 11. 08., End Date: 2021. 10. 09.
result_list_8 시작 !@!
Start Date: 2021. 11. 07., End Date: 2021. 10. 08.
Start Date: 2021. 11. 02., End Date: 2021. 10. 03.
Start Date: 2021. 11. 01., End Date: 2021. 10. 02.
Start Date: 2021. 10. 31., End Date: 2021. 10. 01.
Start Date: 2021. 10. 31., End Date: 2021. 10. 01.
Start Date: 2021. 10. 31., End Date: 2021. 10. 01.
Start Date: 2021. 10. 26., End Date: 2021. 09. 26.
Start Date: 2021. 10. 24., End Date: 2021. 09. 24.
Start Date: 2021. 10. 24., End Date: 2021. 09. 24.
Start Date: 2021. 10. 20., End Date: 2021. 09. 20.
Start Date: 2021. 10. 19., End Date: 2021. 09. 19.
Start Date: 2021. 10. 18., End Date: 2021. 09. 18.
Start Date: 2021. 10. 17., End Date: 2021. 09. 17.
Start Date: 2021. 10. 11., End Date: 2021. 09. 11.
Start Date: 2021. 10. 11., End Date: 2021. 09. 11.
Start Date: 2021. 10. 04., End Date: 2021. 09. 04.
Start Date: 2021. 09. 29., End Date: 2021. 08. 30.
Start Date: 2021. 09. 27., End Date: 2021. 08. 28.
Start Date: 2021. 09. 26., End Date: 2021. 08. 27.
Start Date: 2021. 09. 26., End Date: 2021. 08. 27.
Start Date: 2021. 09. 26., End Date: 2021. 08. 27.
Start Date: 2021. 09. 22., End Date: 2021. 08. 23.
Start Date: 2021. 09. 13., End Date: 2021. 08. 14.
Start Date: 2021. 09. 13., End Date: 2021. 08. 14.
Start Date: 2021. 09. 13., End Date: 2021. 08. 14.
Start Date: 2021. 09. 12., End Date: 2021. 08. 13.
Start Date: 2021. 09. 12., End Date: 2021. 08. 13.
Start Date: 2021. 09. 06., End Date: 2021. 08. 07.
Start Date: 2021. 09. 05., End Date: 2021. 08. 06.
Start Date: 2021. 09. 01., End Date: 2021. 08. 02.
result_list_9 시작 !@!
Start Date: 2021. 08. 30., End Date: 2021. 07. 31.
Start Date: 2021. 08. 29., End Date: 2021. 07. 30.
Start Date: 2021. 08. 29., End Date: 2021. 07. 30.
Start Date: 2021. 08. 23., End Date: 2021. 07. 24.
Start Date: 2021. 08. 23., End Date: 2021. 07. 24.
Start Date: 2021. 08. 11., End Date: 2021. 07. 12.
Start Date: 2021. 08. 08., End Date: 2021. 07. 09.
Start Date: 2021. 08. 08., End Date: 2021. 07. 09.
Start Date: 2021. 08. 08., End Date: 2021. 07. 09.
Start Date: 2021. 08. 04., End Date: 2021. 07. 05.
Start Date: 2021. 08. 04., End Date: 2021. 07. 05.
Start Date: 2021. 08. 04., End Date: 2021. 07. 05.
Start Date: 2021. 08. 03., End Date: 2021. 07. 04.
Start Date: 2021. 08. 03., End Date: 2021. 07. 04.
Start Date: 2021. 08. 01., End Date: 2021. 07. 02.
Start Date: 2021. 08. 01., End Date: 2021. 07. 02.
Start Date: 2021. 07. 28., End Date: 2021. 06. 28.
Start Date: 2021. 07. 25., End Date: 2021. 06. 25.
Start Date: 2021. 07. 25., End Date: 2021. 06. 25.
Start Date: 2021. 07. 18., End Date: 2021. 06. 18.
Start Date: 2021. 07. 15., End Date: 2021. 06. 15.
Start Date: 2021. 07. 12., End Date: 2021. 06. 12.
Start Date: 2021. 07. 07., End Date: 2021. 06. 07.
Start Date: 2021. 06. 30., End Date: 2021. 05. 31.
Start Date: 2021. 06. 14., End Date: 2021. 05. 15.
Start Date: 2021. 06. 08., End Date: 2021. 05. 09.
Start Date: 2021. 06. 07., End Date: 2021. 05. 08.
Start Date: 2021. 06. 06., End Date: 2021. 05. 07.
Start Date: 2021. 06. 01., End Date: 2021. 05. 02.
Start Date: 2021. 05. 24., End Date: 2021. 04. 24.
result_list_10 시작 !@!
Start Date: 2021. 05. 12., End Date: 2021. 04. 12.
Start Date: 2021. 05. 12., End Date: 2021. 04. 12.
Start Date: 2021. 05. 10., End Date: 2021. 04. 10.
Start Date: 2021. 05. 10., End Date: 2021. 04. 10.
Start Date: 2021. 05. 10., End Date: 2021. 04. 10.
Start Date: 2021. 05. 09., End Date: 2021. 04. 09.
Start Date: 2021. 05. 05., End Date: 2021. 04. 05.
Start Date: 2021. 05. 02., End Date: 2021. 04. 02.
Start Date: 2021. 04. 27., End Date: 2021. 03. 28.
Start Date: 2021. 04. 27., End Date: 2021. 03. 28.
Start Date: 2021. 04. 18., End Date: 2021. 03. 19.
Start Date: 2021. 04. 11., End Date: 2021. 03. 12.
Start Date: 2021. 04. 11., End Date: 2021. 03. 12.
Start Date: 2021. 03. 29., End Date: 2021. 02. 27.
Start Date: 2021. 03. 24., End Date: 2021. 02. 22.
Start Date: 2021. 03. 21., End Date: 2021. 02. 19.
Start Date: 2021. 03. 14., End Date: 2021. 02. 12.
Start Date: 2021. 03. 14., End Date: 2021. 02. 12.
Start Date: 2021. 03. 10., End Date: 2021. 02. 08.
Start Date: 2021. 03. 08., End Date: 2021. 02. 06.
Start Date: 2021. 03. 07., End Date: 2021. 02. 05.
Start Date: 2021. 03. 04., End Date: 2021. 02. 02.
Start Date: 2021. 03. 03., End Date: 2021. 02. 01.
Start Date: 2021. 03. 01., End Date: 2021. 01. 30.
Start Date: 2021. 03. 01., End Date: 2021. 01. 30.
Start Date: 2021. 02. 24., End Date: 2021. 01. 25.
Start Date: 2021. 02. 22., End Date: 2021. 01. 23.
Start Date: 2021. 02. 17., End Date: 2021. 01. 18.
Start Date: 2021. 02. 15., End Date: 2021. 01. 16.
Start Date: 2021. 02. 14., End Date: 2021. 01. 15.
result_list_11 시작 !@!
Start Date: 2021. 02. 14., End Date: 2021. 01. 15.
Start Date: 2021. 02. 14., End Date: 2021. 01. 15.
Start Date: 2021. 02. 02., End Date: 2021. 01. 03.
Start Date: 2021. 01. 28., End Date: 2020. 12. 29.
Start Date: 2021. 01. 26., End Date: 2020. 12. 27.
Start Date: 2021. 01. 24., End Date: 2020. 12. 25.
Start Date: 2021. 01. 24., End Date: 2020. 12. 25.
Start Date: 2021. 01. 24., End Date: 2020. 12. 25.
Start Date: 2021. 01. 24., End Date: 2020. 12. 25.
Start Date: 2021. 01. 20., End Date: 2020. 12. 21.
Start Date: 2021. 01. 20., End Date: 2020. 12. 21.
Start Date: 2021. 01. 18., End Date: 2020. 12. 19.
Start Date: 2021. 01. 18., End Date: 2020. 12. 19.
Start Date: 2021. 01. 17., End Date: 2020. 12. 18.
Start Date: 2021. 01. 11., End Date: 2020. 12. 12.
Start Date: 2021. 01. 11., End Date: 2020. 12. 12.
Start Date: 2020. 12. 14., End Date: 2020. 11. 14.
Start Date: 2020. 12. 13., End Date: 2020. 11. 13.
Start Date: 2020. 12. 13., End Date: 2020. 11. 13.
Start Date: 2020. 12. 13., End Date: 2020. 11. 13.
Start Date: 2020. 12. 10., End Date: 2020. 11. 10.
Start Date: 2020. 12. 09., End Date: 2020. 11. 09.
Start Date: 2020. 12. 07., End Date: 2020. 11. 07.
Start Date: 2020. 12. 06., End Date: 2020. 11. 06.
Start Date: 2020. 12. 03., End Date: 2020. 11. 03.
Start Date: 2020. 12. 02., End Date: 2020. 11. 02.
Start Date: 2020. 12. 01., End Date: 2020. 11. 01.
Start Date: 2020. 11. 30., End Date: 2020. 10. 31.
Start Date: 2020. 11. 29., End Date: 2020. 10. 30.
Start Date: 2020. 11. 29., End Date: 2020. 10. 30.
result_list_12 시작 !@!
Start Date: 2020. 11. 26., End Date: 2020. 10. 27.
Start Date: 2020. 11. 22., End Date: 2020. 10. 23.
Start Date: 2020. 11. 22., End Date: 2020. 10. 23.
Start Date: 2020. 11. 22., End Date: 2020. 10. 23.
Start Date: 2020. 11. 22., End Date: 2020. 10. 23.
Start Date: 2020. 11. 16., End Date: 2020. 10. 17.
Start Date: 2020. 11. 12., End Date: 2020. 10. 13.
Start Date: 2020. 11. 11., End Date: 2020. 10. 12.
Start Date: 2020. 11. 09., End Date: 2020. 10. 10.
Start Date: 2020. 11. 08., End Date: 2020. 10. 09.
Start Date: 2020. 11. 08., End Date: 2020. 10. 09.
Start Date: 2020. 11. 02., End Date: 2020. 10. 03.
Start Date: 2020. 10. 28., End Date: 2020. 09. 28.
Start Date: 2020. 10. 19., End Date: 2020. 09. 19.
Start Date: 2020. 10. 19., End Date: 2020. 09. 19.
Start Date: 2020. 10. 18., End Date: 2020. 09. 18.
Start Date: 2020. 10. 12., End Date: 2020. 09. 12.
Start Date: 2020. 10. 06., End Date: 2020. 09. 06.
Start Date: 2020. 10. 04., End Date: 2020. 09. 04.
Start Date: 2020. 09. 23., End Date: 2020. 08. 24.
Start Date: 2020. 09. 14., End Date: 2020. 08. 15.
Start Date: 2020. 09. 13., End Date: 2020. 08. 14.
Start Date: 2020. 09. 13., End Date: 2020. 08. 14.
Start Date: 2020. 09. 09., End Date: 2020. 08. 10.
Start Date: 2020. 09. 08., End Date: 2020. 08. 09.
Start Date: 2020. 09. 08., End Date: 2020. 08. 09.
Start Date: 2020. 09. 06., End Date: 2020. 08. 07.
Start Date: 2020. 09. 06., End Date: 2020. 08. 07.
Start Date: 2022. 09. 02., End Date: 2022. 08. 03.
Start Date: 2022. 08. 31., End Date: 2022. 08. 01.
result_list_13 시작 !@!
Start Date: 2020. 08. 30., End Date: 2020. 07. 31.
Start Date: 2020. 08. 17., End Date: 2020. 07. 18.
Start Date: 2020. 08. 10., End Date: 2020. 07. 11.
Start Date: 2020. 08. 09., End Date: 2020. 07. 10.
Start Date: 2020. 08. 04., End Date: 2020. 07. 05.
Start Date: 2020. 08. 04., End Date: 2020. 07. 05.
Start Date: 2020. 08. 03., End Date: 2020. 07. 04.
Start Date: 2020. 08. 02., End Date: 2020. 07. 03.
Start Date: 2020. 07. 28., End Date: 2020. 06. 28.
Start Date: 2020. 07. 26., End Date: 2020. 06. 26.
Start Date: 2020. 07. 21., End Date: 2020. 06. 21.
Start Date: 2020. 07. 20., End Date: 2020. 06. 20.
Start Date: 2020. 07. 20., End Date: 2020. 06. 20.
Start Date: 2020. 07. 19., End Date: 2020. 06. 19.
Start Date: 2020. 07. 15., End Date: 2020. 06. 15.
Start Date: 2020. 07. 14., End Date: 2020. 06. 14.
Start Date: 2020. 07. 13., End Date: 2020. 06. 13.
Start Date: 2020. 07. 13., End Date: 2020. 06. 13.
Start Date: 2020. 07. 12., End Date: 2020. 06. 12.
Start Date: 2020. 07. 12., End Date: 2020. 06. 12.
Start Date: 2020. 07. 12., End Date: 2020. 06. 12.
Start Date: 2020. 07. 07., End Date: 2020. 06. 07.
Start Date: 2020. 07. 05., End Date: 2020. 06. 05.

## 날짜 필터링 함수

In [ ]:
def convert_relative_date(relative_date):
  """들어온 날짜 데이터에 문자열이 포함되어 있다면 날짜 형식으로 변환해준다.

    Args:
        relative_date: 기사 작성일.

    Returns:
        통일된 날짜 형식으로 반환.
    """
  if '어제' in relative_date:
    current_date = datetime.today()
    modified_date = current_date - timedelta(days=1)
    return modified_date.strftime('%Y. %m. %d.')

  elif '일 전' in relative_date:
    days_ago = int(relative_date.split('일 전')[0])
    current_date = datetime.today()
    modified_date = current_date - timedelta(days=days_ago)
    return modified_date.strftime('%Y. %m. %d.')

  elif '시간 전' in relative_date:
    hours_ago = int(relative_date.split('시간 전')[0])
    current_date = datetime.today()
    modified_date = current_date - timedelta(hours=hours_ago)
    return modified_date.strftime('%Y. %m. %d.')

  else:
    return relative_date

## 언론사별

###1) 머니투데이

In [ ]:
def mt(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('h1',{'class':'subject'})
  if title is None:
    title=''
  else:
    title=title.text

  text=soup.find('div',{'id':'textBody'})
  if text is None:
    text=''
  else:
    text=text.text
  return title, text

###2)매일경제

In [ ]:
def mk(link):
  response = requests.get(link)
  response.encoding = 'utf-8'  # 지정된 인코딩으로 설정
  soup = BeautifulSoup(response.text,'html.parser')
  title=soup.find('h2',{'class':'news_ttl'})
  if title is None:
    title = soup.find('div',{'class':'news_title_text'})
    if title is None:
      title = ''
    else:
      title = title.find('h1', {'class':'top_title'}).text
  else:
    title=title.text

  content = soup.find('div',{'class':'news_cnt_detail_wrap'})
  if content is None:
    # 예외처리 시작
    content = soup.find('div',{'itemprop':'articleBody'})
    if content is None:
      content = ''
    else:
      content = content.text
    # 예외처리 끝
  else:
    content = content.text
  return title, content

###3)서울경제

In [ ]:
def sedaily(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('h1',{'class':'art_tit'})
  if title is None:
    title=soup.find('div',{'class':'headline'}).find('h1')
    if title is None:
      title = ''
    else:
      title = title.text
  else:
    title=title.text

  content=soup.find('div',{'class':'article_view'})
  if content is None:
    content=soup.find('div',{'itemprop':'articleBody'})
    if content is None:
      content = ''
    else:
      content = content.text
  else:
    content=content.text
  return title, content

###4)더벨

In [ ]:
def thebell(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('p',{'class':'tit'})
  if title is None:
    title=''
  else:
    title=title.text

  content=soup.find('div',{'class':'viewSection'})
  if content is None:
    content=''
  else:
    content=content.text[60:]
  return title, content

###5)한국경제

In [ ]:
def hankyung(link):
  driver = webdriver.Chrome(options=options)
  driver.get(link)
  driver.implicitly_wait(3)
  try:
    title = driver.find_element('class name', 'article-contents')
    if title is None:
      title=''
    else:
      title=title.find_element('class name', 'headline').text
  except:
    title = driver.find_element('class name', 'article-tit').text

  text = driver.find_element('class name', 'article-body').text
  return title, text

###6)이투데이

In [ ]:
def etoday(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('h1',{'class':'main_title'})
  if title is None:
    title=''
  else:
    title=title.text

  text=soup.find('div',{'class':'articleView'})
  content_list=[]
  if text is None:
    text=''
  else:
    text=text.find_all('p')
    for i in range(len(text)):
      content_list.append(text[i].text)
    text=" ".join(content_list) #본문
  return title, text

###7)머니s

In [ ]:
def moneys(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('div',{'id':'article'}).find('h1')
  if title is None:
    title=soup.find('h1',{'class':'mgt37'})
    if title is None:
      title=soup.find('h2',{'class':'ellipsis title'})
      if title is None:
        title = ''
      else:
        title = title.text
    else:
      title = title.text
  else:
    title=title.text

  content=soup.find('div',{'itemprop':'articleBody'})
  if content is None:
    content=soup.find('article',{'class':'article_body'})
    if content is None:
      content = ''
    else:
      content = content.text
  else:
    content=content.text
  return title, content

###8)아시아 경제

In [ ]:
def asiae(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('h1',{'class':'mainTitle'})
  if title is None:
    # 예외
    title=soup.find('div', {'class':'area_title'})
    if title is None:
      title = ''
    else:
      title = title.find('h1').text
    # 예외 끝
  else:
    title=title.text

  text=soup.find('div',{'class':'va_cont'})
  content_list=[]
  if text is None:
    # 예외
    text=soup.find('div',{'itemprop':'articleBody'})
    if text is None:
      text=''
    else:
      text=text.find_all('p')
      content_list=[]
      for i in range(len(text)):
        content_list.append(text[i].text)
      text=" ".join(content_list) #본문
    # 예외 끝
  else:
    text=text.find_all('p')
    content_list=[]

    for i in range(len(text)):
      content_list.append(text[i].text)
    text=" ".join(content_list) #본문
  return title, text

###9)서울파이낸스

In [ ]:
def seoulfn(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('div',{'class':'article-head-title'})
  if title is None:
    title=''
  else:
    title=title.text

  text=soup.find('div',{'id':'article-view-content-div'})
  content_list=[]
  if text is None:
    text=''
  else:
    text=text.find_all('p')

    for i in range(len(text)):
      content_list.append(text[i].text)
    text=" ".join(content_list) #본문
  return title,  text

###10)딜사이트

In [ ]:
def dealsite(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('div',{'class':'read-news-title'})
  if title is None:
    title=''
  else:
    title=title.text

  text=soup.find('div',{'class':'rnmc-right rnmc-right1 content-area'})
  content_list=[]
  if text is None:
    text=''
  else:
    text=text.find_all('p')

    for i in range(len(text)):
      content_list.append(text[i].text)
    text=" ".join(content_list) #본문
  return title, text

###11)비즈워치

In [ ]:
def bizwatch(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')
  title=soup.find('div',{'class':'top_content'}).find('h1')
  if title is None:
    title=''
  else:
    title=title.text

  text=soup.find('div',{'itemprop':'articleBody'})
  content_list=[]
  if text is None:
    text=''
  else:
    text=text.find_all('p')

    for i in range(len(text)):
      content_list.append(text[i].text)
    text=" ".join(content_list) #본문
  return title, text

###12)이코노미스트

In [ ]:
def economist(link):
  driver = webdriver.Chrome(options=options)
  driver.get(base_url)
  driver.get(link)
  driver.implicitly_wait(10)
  title = driver.find_element('id', 'article_body')
  if title is None:
    title=''
  else:
    title=title.find_element('class name', 'view-article-title').text

  text = driver.find_element('class name', 'content').text
  return title, text

###13)라이센스뉴스

In [ ]:
def license_news(link):
  driver = webdriver.Chrome(options=options)
  driver.get(base_url)
  driver.get(link)
  driver.implicitly_wait(10)
  title = driver.find_element('class name', 'article-view-header')
  if title is None:
    title=''
  else:
    title=title.find_element('class name', 'heading').text

  text = driver.find_element('id', 'article-view-content-div').text
  return title, text

###14)시사저널e

In [ ]:
def sisa(link):
  driver = webdriver.Chrome(options=options)
  driver.get(base_url)
  driver.get(link)
  driver.implicitly_wait(10)
  title = driver.find_element('class name', 'article-header-wrap')
  if title is None:
    title=''
  else:
    title=title.find_element('class name', 'article-head-title').text

  text = driver.find_element('id', 'article-view-content-div').text
  return title, text

###15)충청신문

In [ ]:
def chungcheong(link):
  driver = webdriver.Chrome(options=options)
  driver.get(base_url)
  driver.get(link)
  driver.implicitly_wait(10)
  title = driver.find_element('class name', 'article-view-header')
  if title is None:
    title=''
  else:
    title=title.find_element('class name', 'heading').text

  text = driver.find_element('id', 'article-view-content-div').text
  return title, text

###16)조선비즈

In [ ]:
def chosun(link):
  driver = webdriver.Chrome(options=options)
  driver.get(base_url)
  driver.get(link)
  driver.implicitly_wait(10)
  title = driver.find_element('class name', 'article-header__headline')
  if title is None:
    title=''
  else:
    title=title.text

  text = driver.find_element('class name', 'article-body').text
  return title, text

###17)전국매일신문

In [ ]:
def jkmail(link):
  response = requests.get(link)
  response.encoding = 'utf-8'  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('div',{'class':'article-header-wrap'})
  if title is None:
    title=''
  else:
    title=title.find('div', {'class':'article-head-title'}).text

  content=soup.find('div',{'itemprop':'articleBody'})
  if content is None:
    content=''
  else:
    content=content.text
  return title, content # title, content 완료

###18) Investing.com

In [ ]:
def inv(link):
  response = requests.get(link)
  response.encoding = 'utf-8'  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('h1',{'class':'articleHeader'})
  if title is None:
    title=''
  else:
    title=title.text

  content=soup.find('div',{'class':'WYSIWYG articlePage'})
  if content is None:
    content=''
  else:
    content=content.find_all('p')
    content_list=[]
    for i in range(len(content)):
      content_list.append(content[i].text)
    content=" ".join(content_list) #본문
  return title, content # title, content 완료

###19) 영남일보

In [ ]:
def yn(link):
  response = requests.get(link)
  response.encoding = 'utf-8'  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('p', {'class':'article-top-title'})
  if title is None:
    # 예외
    title=soup.find('h1', {'class':'article-top-title'})
    if title is None:
      title = ''
    else:
      title = title.text

  content=soup.find('div',{'itemprop':'articleBody'})
  if content is None:
    content=''
  else:
    content=content.text
  return title, content # title, content 완료

###20) CBC뉴스

In [ ]:
def cbc(link):
  response = requests.get(link)
  response.encoding = 'utf-8'  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('div',{'class':'article-header-wrap'})
  if title is None:
    title=''
  else:
    title=title.find('div', {'class':'article-head-title'}).text

  content=soup.find('div',{'itemprop':'articleBody'})
  if content is None:
    content=''
  else:
    content=content.find_all('p')
    content_list=[]
    for i in range(len(content)):
      content_list.append(content[i].text)
    content=" ".join(content_list) #본문
  return title, content # title, content 완료

###21) 블로터

In [ ]:
def blt(link):
  response = requests.get(link)
  response.encoding = 'utf-8'  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('header',{'class':'article-view-header'})
  if title is None:
    title=''
  else:
    title=title.find('h1', {'class':'heading'}).text

  content = soup.find('article',{'itemprop' : 'articleBody'})
  if content is None:
    content = ''
  else:
    content=content.text
  return title, content # title, content 완료

###22) 더팩트

In [ ]:
def thefact(link):
  response = requests.get(link)
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('h2',{'class':'articleTitle'})
  if title is None:
    title=''
  else:
    title=title.text

  content = soup.find('div',{'class' : 'mArticle'})
  if content is None:
    content=''
  else:
    content=content.find_all('p')
    content_list=[]
    for i in range(len(content)):
      content_list.append(content[i].text)
    content=" ".join(content_list) #본문
  return title, content # title, content 완료

###23) 아시아 에이

In [ ]:
def asiaa(link):
  response = requests.get(link)  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('h3',{'class':'heading'})
  if title is None:
    title=''
  else:
    title=title.text

  content = soup.find('article',{'id' : 'article-view-content-div'})
  if content is None:
    content=''
  else:
    content=content.find_all('p')
    content_list=[]
    for i in range(len(content)):
      content_list.append(content[i].text)
    content=" ".join(content_list) #본문
  return title, content # title, content 완료

###24) 문화뉴스

In [ ]:
def culture(link):
  response = requests.get(link)  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('h3',{'class':'heading'})
  if title is None:
    title=''
  else:
    title=title.text

  content = soup.find('div',{'style' : 'text-align:center'})
  if content is None:
    content=''
  else:
    content=content.find_all('p')
    content_list=[]
    for i in range(len(content)):
      content_list.append(content[i].text)
    content=" ".join(content_list) #본문
  return title, content # title, content 완료

###25) 한겨레

In [ ]:
def hangyere(link):
  response = requests.get(link)
  response.encoding = 'utf-8'  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('span',{'class':'title'})
  if title is None:
    title=''
  else:
    title=title.text

  content=soup.find('div',{'itemprop':'articleBody'})
  if content is None:
    content=''
  else:
    content=content.text
  return title, content

###26) 뉴스핌

In [ ]:
def pim(link):
  response = requests.get(link)  # 지정된 인코딩으로 설정
  soup=BeautifulSoup(response.text,'html.parser')

  title=soup.find('h2',{'id':'main-title'})
  if title is None:
    title=''
  else:
    title=title.text

  content = soup.find('div',{'id':'news-contents'})
  if content is None:
    content=''
  else:
    content=content.find_all('p')
    content_list=[]
    for i in range(len(content)):
      content_list.append(content[i].text)
    content=" ".join(content_list) #본문
  return title, content # title, content 완료

# Crawling

## 1. 기사 링크 리스트 크롤링

- 구글 뉴스에서 `'"각 공모주명"+"공모주"'`를 키워드로 설정하여 검색한 결과 속 각 신문사로 이어지는 뉴스 링크 리스트를 크롤링 하였습니다.
- `real_result` : 기사별 링크(link), 신문사(article), 관련 공모주(name), 날짜(date) 데이터 **프레임**

In [ ]:
real_result = pd.DataFrame(columns=['link','article','name','date'])

# 총 15페이지, 한 페이지당 공모주 30개씩 링크 리스트 가져오기
for j in range(15):
  # 한 페이지 속 모든 공모주 하나씩 꺼내기.
  for k in range(len(globals()[f"ipo_list_{j+1}"])):
    zzin_result=pd.DataFrame(columns=['index','link','article','name', 'date']) #전체 공모주 모아놓을 데이터프레임.
    stock = globals()[f"ipo_list_{j+1}"][k] # 공모주 이름
    keyword =f'"{stock}"%2B"공모주"' # 따옴표 사이에 공모주이름 껴놓기
    url = "https://news.google.com/search?q="+keyword+"&hl=ko&gl=KR&ceid=KR%3Ako"
    resp = requests.get(url)
    html_src = resp.text
    soup = BeautifulSoup(html_src, 'html.parser')
    news_items = soup.select('div.xrnccd')

    base_url = "https://news.google.com"
    links=[]; titles=[]; agencies=[]; reporting_dates=[]; reporting_times=[]; date=[];
    for item in news_items:
      # link
      link = item.find('a', attrs={'class':'VDXfz'}).get('href')
      news_link = base_url + link[1:]
      links.append(news_link)
      # article
      news_agency = item.find('div',attrs={'class':'N0NI1d AVN2gc WfKKme'}).text
      agencies.append(news_agency)
      # date
      date1 = item.find('div', attrs={'class':'QmrVtf RD0gLb kybdz'})
      date2 = date1.find('div', attrs={'class':'SVJrMe'})
      date3 = date2.find('time', attrs={'class':'WW6dff uQIVzc Sksgp slhocf'}).text
      date.append(date3)

    google_df=pd.DataFrame(columns=['link','article','name', 'date']) #공모주별로 일시적으로 담아줄 데이터프레임.
    for i in range(len(links)):
      google_df=google_df.append({'link':links[i],'article':agencies[i],'name':f'{stock}', 'date':date[i]},ignore_index=True)
    google_df=google_df.reset_index()
    zzin_result=pd.concat([zzin_result,google_df]) #전체 데이터프레임에 누적시키기

    # 날짜 형식 통일하기
    for idx, row in zzin_result.iterrows():
      row['date'] = convert_relative_date(row['date'])

    current_year = datetime.today().year
    for idx, row in zzin_result.iterrows():
      date_str = row['date']
      if '월' in date_str and '일' in date_str:
        month, day = date_str.split()[0].split('월')[0], date_str.split()[1].split('일')[0]
        modified_date = datetime(current_year, int(month), int(day))
        row['date'] = modified_date.strftime('%Y. %m. %d.')

    # 날짜 필터링
    start_date = globals()[f"result_list_{j+1}"][k][0] # 시작 날짜
    end_date = globals()[f"result_list_{j+1}"][k][1] # 종료 날짜
    # datetime 형식으로 변환 후 filtering
    zzin_result['date'] = pd.to_datetime(zzin_result['date'], format='%Y. %m. %d.')
    print("before", zzin_result['date'])
    # 청약 D-30 ~ D-1 안에 드는 데이터만 남기기
    zzin_result = zzin_result[(zzin_result['date'] >= end_date) & (zzin_result['date'] <= start_date)]
    print("after", zzin_result['date'])

    zzin_result.drop(['index'],axis=1, inplace=True) # index drop

    real_result=pd.concat([real_result,zzin_result],ignore_index=True) # real_result에 zzin_result 넣기

real_result.to_csv("[구글]1-15페이지.csv")

before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-08-13
1    2023-08-19
2    2023-08-04
3    2023-07-28
4    2023-08-01
5    2023-08-17
6    2023-08-01
7    2023-08-05
8    2023-06-01
9    2023-07-14
10   2023-07-21
11   2023-05-26
12   2023-06-09
13   2023-06-03
14   2023-06-30
15   2023-07-12
16   2023-07-19
17   2022-10-17
18   2022-11-04
19   2014-10-17
Name: date, dtype: datetime64[ns]
after 0   2023-08-13
1   2023-08-19
2   2023-08-04
4   2023-08-01
5   2023-08-17
6   2023-08-01
7   2023-08-05
Name: date, dtype: datetime64[ns]
before 0   2023-08-19
1   2023-08-21
2   2023-08-17
Name: date, dtype: datetime64[ns]
after 0   2023-08-19
1   2023-08-21
2   2023-08-17
Name: date, dtype: datetime64[ns]
before 0   2023-08-17
1   2023-08-19
2   2023-08-21
3   2023-08-13
Name: date, dtype: datetime64[ns]
after 0   2023-08-17
1   2023-08-19
2   2023-08-21
3   2023-08-13
Name: date, dtype: datetime64[ns]
before 0   2023-08-17
1   2023-08-19
2   2023-08-21
3   2023-07-31
4   2023-08-13
5   2023-04-02
6   2023-03-26
7   2023-04-04
8   2023-05-08
Name: date, dtype: datetime64[ns]
after 0   2023-08-17
1   2023-08-19
2   2023-08-21
3   2023-07-31
4   2023-08-13
Name: date, dtype: datetime64[ns]
before 0   2023-08-20
1   2023-08-19
2   2023-08-21
3   2023-07-31
4   2023-08-13
Name: date, dtype: datetime64[ns]
after 0   2023-08-20
1   2023-08-19
3   2023-07-31
4   2023-08-13
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-08-21
1   2023-08-19
2   2023-08-21
3   2023-08-13
Name: date, dtype: datetime64[ns]
after 1   2023-08-19
3   2023-08-13
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-08-12
1    2023-08-15
2    2023-08-16
3    2023-08-19
4    2023-08-20
        ...
95   2022-07-03
96   2021-11-21
97   2023-07-06
98   2021-10-03
99   2023-03-14
Name: date, Length: 100, dtype: datetime64[ns]
after 0    2023-08-12
5    2023-08-11
7    2023-08-06
8    2023-07-31
9    2023-08-11
10   2023-08-09
12   2023-07-24
13   2023-07-24
14   2023-08-13
15   2023-08-03
16   2023-07-15
23   2023-07-16
24   2023-07-18
29   2023-07-15
34   2023-07-20
37   2023-07-21
56   2023-07-17
70   2023-07-19
76   2023-07-18
79   2023-07-19
80   2023-07-20
Name: date, dtype: datetime64[ns]
before 0    2023-08-20
1    2023-08-22
2    2023-08-21
3    2023-08-21
4    2023-08-09
        ...
95   2023-01-06
96   2023-01-24
97   2023-02-16
98   2023-03-28
99   2023-01-12
Name: date, Length: 100, dtype: datetime64[ns]
after 4    2023-08-09
5    2023-08-09
9    2023-08-04
11   2023-08-09
15   2023-08-09
16   2023-07-24
18   2023-07-15
21   2023-07-16
23   2023-07-10
24   2023-07-12
26   2023-07-14
27   2023-07-11
28   2023-07-10
29   2023-07-15
31   2023-07-14
43   2023-07-18
49   2023-07-14
52   2023-07-14
53   2023-07-12
54   2023-07-21
56   2023-07-21
57   2023-07-11
59   2023-07-20
61   2023-07-21
62   2023-07-20
68   2023-07-13
70   2023-07-11
77   2023-07-13
Name: date, dtype: datetime64[ns]
before 0    2023-08-19
1    2023-08-22
2    2023-08-20
3    2023-07-30
4    2023-07-31
        ...
94   2023-07-19
95   2023-04-07
96   2023-06-19
97   2023-07-18
98   2023-02-08
Name: date, Length: 99, dtype: datetime64[ns]
after 3    2023-07-30
4    2023-07-31
5    2023-08-04
6    2023-08-06
9    2023-08-02
10   2023-07-20
15   2023-08-07
17   2023-08-07
19   2023-08-08
20   2023-07-30
21   2023-08-08
22   2023-07-26
24   2023-08-08
27   2023-08-03
30   2023-07-16
31   2023-07-19
32   2023-07-12
37   2023-07-12
41   2023-07-09
54   2023-07-17
78   2023-07-14
81   2023-07-19
94   2023-07-19
97   2023-07-18
Name: date, dtype: datetime64[ns]
before 0    2023-08-04
1    2023-07-30
2    2023-07-31
3    2023-08-16
4    2023-08-09
5    2023-08-11
6    2023-08-06
7    2023-08-17
8    2023-08-12
9    2023-08-17
10   2023-08-06
11   2023-08-07
12   2023-08-13
13   2023-07-23
14   2023-08-01
15   2023-08-01
16   2023-08-05
17   2023-08-01
18   2023-08-08
19   2023-07-12
20   2023-04-18
21   2023-07-05
22   2023-05-08
23   2023-06-02
24   2021-12-21
Name: date, dtype: datetime64[ns]
after 0    2023-08-04
1    2023-07-30
2    2023-07-31
6    2023-08-06
10   2023-08-06
13   2023-07-23
14   2023-08-01
15   2023-08-01
16   2023-08-05
17   2023-08-01
19   2023-07-12
Name: date, dtype: datetime64[ns]
before 0    2023-08-01
1    2023-08-02
2    2023-07-30
3    2023-08-09
4    2023-08-09
        ...
57   2021-08-08
58   2023-08-02
59   2023-08-02
60   2023-08-02
61   2023-07-01
Name: date, Length: 62, dtype: datetime64[ns]
after 2    2023-07-30
5    2023-07-27
9    2023-07-23
13   2023-07-31
16   2023-07-24
17   2023-07-30
20   2023-07-24
22   2023-07-13
23   2023-07-06
24   2023-07-12
25   2023-07-15
26   2023-07-08
27   2023-07-01
30   2023-07-10
32   2023-07-06
34   2023-07-15
35   2023-07-12
40   2023-07-05
42   2023-07-03
43   2023-07-06
44   2023-07-11
45   2023-07-17
46   2023-07-06
47   2023-07-12
48   2023-07-02
50   2023-07-04
52   2023-07-08
54   2023-07-19
55   2023-07-05
56   2023-07-19
61   2023-07-01
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-07-31
1   2023-07-30
2   2023-07-30
3   2023-08-17
4   2023-07-23
Name: date, dtype: datetime64[ns]
after 0   2023-07-31
1   2023-07-30
2   2023-07-30
4   2023-07-23
Name: date, dtype: datetime64[ns]
before 0    2023-08-02
1    2023-08-01
2    2023-07-31
3    2023-08-09
4    2023-08-07
        ...
95   2022-04-12
96   2022-07-29
97   2022-08-16
98   2022-07-27
99   2021-02-15
Name: date, Length: 100, dtype: datetime64[ns]
after 2    2023-07-31
7    2023-07-27
12   2023-07-24
13   2023-07-23
18   2023-07-24
19   2023-07-30
21   2023-07-26
25   2023-07-13
26   2023-07-21
28   2023-07-17
29   2023-07-15
30   2023-07-05
31   2023-07-20
34   2023-07-12
35   2023-07-04
36   2023-07-13
37   2023-07-07
40   2023-07-03
41   2023-07-01
43   2023-07-05
44   2023-07-19
46   2023-07-19
49   2023-07-05
53   2023-07-10
54   2023-07-03
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-07-31
1   2023-07-30
2   2023-07-31
3   2023-08-17
4   2023-08-06
5   2023-08-07
6   2023-07-23
Name: date, dtype: datetime64[ns]
after 0   2023-07-31
1   2023-07-30
2   2023-07-31
6   2023-07-23
Name: date, dtype: datetime64[ns]
before 0   2023-07-31
1   2023-07-30
2   2023-07-31
3   2023-07-23
Name: date, dtype: datetime64[ns]
after 1   2023-07-30
3   2023-07-23
Name: date, dtype: datetime64[ns]
before 0    2023-07-27
1    2023-07-28
2    2023-07-28
3    2023-08-04
4    2023-07-31
        ...
93   2023-06-09
94   2023-06-29
95   2023-03-26
96   2023-05-23
97   2023-01-17
Name: date, Length: 98, dtype: datetime64[ns]
after 9    2023-07-25
11   2023-07-26
14   2023-07-26
17   2023-07-23
20   2023-07-24
21   2023-07-24
22   2023-07-26
24   2023-07-20
28   2023-07-20
31   2023-07-09
32   2023-07-04
34   2023-07-24
39   2023-07-21
43   2023-07-22
45   2023-07-03
48   2023-07-13
49   2023-07-15
50   2023-07-08
51   2023-07-26
52   2023-07-01
53   2023-07-12
54   2023-07-10
55   2023-07-10
56   2023-07-24
57   2023-07-07
58   2023-07-03
59   2023-07-20
60   2023-07-21
61   2023-07-17
63   2023-07-20
64   2023-07-02
65   2023-07-16
67   2023-07-07
73   2023-07-09
74   2023-07-06
76   2023-06-26
77   2023-07-05
78   2023-06-30
79   2023-06-29
80   2023-06-27
81   2023-07-03
82   2023-07-15
83   2023-07-14
89   2023-07-14
94   2023-06-29
Name: date, dtype: datetime64[ns]
before 0    2023-07-25
1    2023-07-27
2    2023-07-25
3    2023-07-25
4    2023-07-27
        ...
94   2023-06-05
95   2023-07-09
96   2023-06-27
97   2023-02-24
98   2023-06-09
Name: date, Length: 99, dtype: datetime64[ns]
after 0    2023-07-25
2    2023-07-25
3    2023-07-25
5    2023-07-23
10   2023-07-23
11   2023-07-24
17   2023-07-24
19   2023-07-21
20   2023-07-25
25   2023-07-16
26   2023-07-15
27   2023-07-21
28   2023-06-27
29   2023-07-11
30   2023-07-04
31   2023-07-08
32   2023-06-30
33   2023-07-13
34   2023-07-13
35   2023-07-20
36   2023-07-01
37   2023-06-29
38   2023-07-15
39   2023-07-10
40   2023-06-27
41   2023-07-21
44   2023-07-21
45   2023-06-30
46   2023-07-05
47   2023-06-29
48   2023-07-03
49   2023-07-04
53   2023-07-07
55   2023-07-02
63   2023-07-07
65   2023-07-04
73   2023-07-05
75   2023-07-11
80   2023-07-09
81   2023-07-02
84   2023-07-04
90   2023-07-06
95   2023-07-09
96   2023-06-27
Name: date, dtype: datetime64[ns]
before 0    2023-07-25
1    2023-07-23
2    2023-07-24
3    2023-07-29
4    2023-07-30
        ...
94   2023-06-19
95   2023-06-22
96   2023-06-19
97   2023-07-02
98   2023-06-23
Name: date, Length: 99, dtype: datetime64[ns]
after 1    2023-07-23
6    2023-07-23
15   2023-07-21
22   2023-07-21
26   2023-07-16
28   2023-07-15
32   2023-07-08
33   2023-07-12
34   2023-07-13
35   2023-06-27
36   2023-07-13
37   2023-06-30
38   2023-07-06
40   2023-06-29
41   2023-07-01
42   2023-07-10
43   2023-07-13
45   2023-07-15
46   2023-07-18
47   2023-06-30
48   2023-07-20
50   2023-07-03
51   2023-07-04
57   2023-07-19
59   2023-07-05
62   2023-06-23
65   2023-07-04
66   2023-07-14
71   2023-07-20
77   2023-07-04
81   2023-07-06
84   2023-07-05
88   2023-07-02
89   2023-07-11
90   2023-07-06
92   2023-07-07
97   2023-07-02
98   2023-06-23
Name: date, dtype: datetime64[ns]
before 0    2023-07-26
1    2023-07-27
2    2023-07-28
3    2023-07-27
4    2023-07-31
        ...
95   2023-07-04
96   2023-06-04
97   2023-06-09
98   2023-05-30
99   2023-07-13
Name: date, Length: 100, dtype: datetime64[ns]
after 19   2023-07-15
30   2023-07-13
33   2023-07-09
36   2023-07-06
38   2023-07-12
39   2023-06-19
40   2023-06-27
41   2023-07-12
42   2023-07-15
44   2023-07-10
45   2023-07-04
47   2023-06-30
49   2023-07-01
51   2023-07-11
55   2023-07-08
56   2023-06-21
60   2023-07-10
62   2023-06-16
64   2023-07-16
65   2023-06-29
69   2023-06-20
74   2023-06-27
75   2023-06-19
76   2023-07-13
77   2023-06-16
80   2023-07-10
81   2023-07-03
83   2023-07-03
86   2023-06-21
87   2023-07-11
89   2023-07-06
90   2023-07-05
95   2023-07-04
99   2023-07-13
Name: date, dtype: datetime64[ns]
before 0    2023-07-26
1    2023-07-26
2    2023-07-26
3    2023-08-02
4    2023-07-24
        ...
93   2023-05-11
94   2023-07-17
95   2023-06-13
96   2023-07-03
97   2022-09-18
Name: date, Length: 98, dtype: datetime64[ns]
after 5    2023-07-16
15   2023-06-18
17   2023-07-09
18   2023-06-17
19   2023-07-13
23   2023-06-19
25   2023-07-07
26   2023-07-12
27   2023-07-10
28   2023-07-13
30   2023-07-06
33   2023-07-12
34   2023-07-01
35   2023-06-27
36   2023-07-15
37   2023-07-15
38   2023-07-04
39   2023-06-27
41   2023-07-11
44   2023-07-08
45   2023-07-02
46   2023-06-18
49   2023-06-30
50   2023-07-10
52   2023-07-05
54   2023-07-15
56   2023-07-14
57   2023-07-13
58   2023-07-10
59   2023-07-03
60   2023-06-27
62   2023-07-05
63   2023-06-16
66   2023-06-21
70   2023-06-16
78   2023-07-06
85   2023-06-21
89   2023-07-10
91   2023-07-05
96   2023-07-03
Name: date, dtype: datetime64[ns]
before 0    2023-07-26
1    2023-07-26
2    2023-07-27
3    2023-08-02
4    2023-07-26
        ...
94   2022-10-12
95   2023-06-02
96   2022-12-16
97   2021-10-21
98   2023-07-08
Name: date, Length: 99, dtype: datetime64[ns]
after 7    2023-07-16
15   2023-07-16
17   2023-07-15
21   2023-07-09
24   2023-07-13
25   2023-07-09
26   2023-07-13
29   2023-07-06
31   2023-07-11
32   2023-07-12
34   2023-06-27
36   2023-07-08
38   2023-06-18
41   2023-07-01
42   2023-06-18
43   2023-07-08
45   2023-07-02
47   2023-07-13
50   2023-06-30
51   2023-07-10
54   2023-07-15
55   2023-06-21
56   2023-07-14
58   2023-07-05
61   2023-07-03
62   2023-06-29
66   2023-06-16
69   2023-07-06
78   2023-06-30
80   2023-07-06
83   2023-06-24
84   2023-06-23
85   2023-07-07
86   2023-07-02
87   2023-07-04
90   2023-07-12
98   2023-07-08
Name: date, dtype: datetime64[ns]
before 0    2023-07-23
1    2023-08-04
2    2023-08-07
3    2023-06-30
4    2023-04-09
5    2023-07-16
6    2023-07-09
7    2023-07-15
8    2023-04-16
9    2023-07-13
10   2023-07-21
11   2023-06-27
12   2023-05-08
13   2023-07-18
Name: date, dtype: datetime64[ns]
after 3    2023-06-30
5    2023-07-16
6    2023-07-09
7    2023-07-15
9    2023-07-13
11   2023-06-27
Name: date, dtype: datetime64[ns]
before 0    2023-07-24
1    2023-07-24
2    2023-07-24
3    2023-08-19
4    2023-07-30
        ...
94   2021-11-12
95   2018-09-05
96   2021-09-02
97   2021-12-31
98   2021-09-01
Name: date, Length: 99, dtype: datetime64[ns]
after 8    2023-07-09
15   2023-07-07
20   2023-07-09
21   2023-07-11
27   2023-07-04
30   2023-07-05
31   2023-07-12
32   2023-07-01
37   2023-07-08
40   2023-06-27
42   2023-06-18
46   2023-06-30
49   2023-06-12
50   2023-06-21
53   2023-07-10
54   2023-06-29
55   2023-07-10
56   2023-07-03
60   2023-07-06
64   2023-07-04
68   2023-07-09
69   2023-07-05
70   2023-07-09
72   2023-07-02
73   2023-07-04
74   2023-07-12
75   2023-07-11
76   2023-07-12
79   2023-07-08
80   2023-06-23
81   2023-06-24
82   2023-06-22
92   2023-07-10
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-08-04
1   2023-07-16
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-08-12
1    2023-08-19
2    2023-07-24
3    2023-07-26
4    2023-07-30
        ...
77   2023-07-20
78   2021-07-28
79   2022-04-28
80   2020-12-20
81   2023-07-14
Name: date, Length: 82, dtype: datetime64[ns]
after 10   2023-07-07
13   2023-06-24
17   2023-07-02
18   2023-07-04
21   2023-07-04
25   2023-07-08
29   2023-07-08
31   2023-07-01
33   2023-06-28
36   2023-06-30
39   2023-06-21
43   2023-07-06
45   2023-06-14
47   2023-07-05
53   2023-07-03
54   2023-06-29
58   2023-06-29
59   2023-06-26
60   2023-07-09
61   2023-06-17
65   2023-07-06
67   2023-07-09
69   2023-07-04
71   2023-07-09
72   2023-06-20
74   2023-07-02
Name: date, dtype: datetime64[ns]
before 0    2023-08-19
1    2023-07-12
2    2023-07-10
3    2023-07-10
4    2023-07-30
        ...
94   2022-07-19
95   2020-12-20
96   2023-08-09
97   2023-07-12
98   2023-07-14
Name: date, Length: 99, dtype: datetime64[ns]
after 8    2023-07-03
10   2023-07-07
13   2023-06-24
17   2023-07-06
20   2023-07-02
21   2023-06-14
24   2023-07-04
28   2023-07-08
32   2023-07-08
33   2023-07-05
35   2023-06-27
36   2023-07-01
38   2023-06-30
41   2023-06-21
43   2023-06-28
44   2023-06-15
45   2023-06-19
46   2023-06-27
50   2023-07-06
52   2023-06-12
54   2023-06-29
56   2023-07-03
58   2023-06-20
61   2023-06-13
64   2023-07-06
65   2023-07-05
68   2023-06-30
69   2023-07-09
70   2023-06-29
72   2023-07-09
73   2023-07-09
74   2023-07-04
77   2023-06-26
78   2023-07-02
82   2023-06-09
84   2023-07-04
85   2023-06-29
86   2023-06-23
90   2023-07-07
92   2023-07-07
93   2023-07-05
Name: date, dtype: datetime64[ns]
before 0    2023-07-30
1    2023-08-04
2    2023-08-02
3    2023-07-28
4    2023-07-26
        ...
95   2023-05-22
96   2023-07-22
97   2023-07-17
98   2023-07-21
99   2023-07-04
Name: date, Length: 100, dtype: datetime64[ns]
after 11   2023-07-02
14   2023-06-25
17   2023-06-13
32   2023-06-29
34   2023-06-27
38   2023-07-04
40   2023-06-27
41   2023-07-02
42   2023-06-05
45   2023-06-24
47   2023-06-11
48   2023-06-18
50   2023-06-30
51   2023-07-03
56   2023-06-04
58   2023-07-01
66   2023-06-29
69   2023-07-04
74   2023-06-21
75   2023-07-04
77   2023-06-13
78   2023-06-14
80   2023-06-08
83   2023-06-11
88   2023-07-04
93   2023-06-06
99   2023-07-04
Name: date, dtype: datetime64[ns]
before 0   2023-06-30
1   2023-07-14
2   2023-07-04
3   2023-07-13
4   2023-07-06
5   2023-07-20
Name: date, dtype: datetime64[ns]
after 0   2023-06-30
Name: date, dtype: datetime64[ns]
before 0    2023-07-30
1    2023-08-02
2    2023-08-04
3    2023-08-11
4    2023-07-26
        ...
95   2023-07-09
96   2023-06-21
97   2023-06-04
98   2023-05-31
99   2023-07-04
Name: date, Length: 100, dtype: datetime64[ns]
after 11   2023-06-04
14   2023-06-17
15   2023-06-18
22   2023-05-28
25   2023-06-24
30   2023-05-30
31   2023-06-14
32   2023-06-18
41   2023-06-26
43   2023-06-26
46   2023-06-21
53   2023-06-04
62   2023-06-09
71   2023-06-11
75   2023-06-07
79   2023-06-01
81   2023-06-19
86   2023-06-16
88   2023-06-23
96   2023-06-21
97   2023-06-04
98   2023-05-31
Name: date, dtype: datetime64[ns]
before 0   2023-07-26
1   2023-08-04
2   2023-06-18
3   2023-06-25
4   2023-07-18
5   2023-07-14
6   2023-07-02
7   2023-06-26
Name: date, dtype: datetime64[ns]
after 2   2023-06-18
3   2023-06-25
Name: date, dtype: datetime64[ns]
before 0    2023-07-26
1    2023-07-28
2    2023-07-28
3    2023-07-30
4    2023-06-23
        ...
95   2023-01-29
96   2022-11-27
97   2023-01-15
98   2023-04-30
99   2022-09-25
Name: date, Length: 100, dtype: datetime64[ns]
after 5    2023-06-18
10   2023-06-15
13   2023-06-10
16   2023-06-18
17   2023-06-12
30   2023-06-14
32   2023-06-04
35   2023-06-13
45   2023-05-31
55   2023-06-17
56   2023-06-09
58   2023-06-11
60   2023-05-21
61   2023-06-01
63   2023-06-14
66   2023-06-09
68   2023-06-07
72   2023-06-08
74   2023-06-09
76   2023-06-16
84   2023-05-28
87   2023-06-04
90   2023-05-25
93   2023-05-30
Name: date, dtype: datetime64[ns]
before 0    2023-07-26
1    2023-07-28
2    2023-07-25
3    2023-07-30
4    2023-08-10
        ...
93   2023-05-21
94   2023-07-06
95   2023-06-11
96   2023-07-02
97   2023-05-14
Name: date, Length: 98, dtype: datetime64[ns]
after 9    2023-06-18
12   2023-06-11
24   2023-06-11
32   2023-06-11
55   2023-06-13
56   2023-05-29
57   2023-06-04
58   2023-05-23
68   2023-06-15
71   2023-06-08
75   2023-05-31
86   2023-06-10
91   2023-06-09
92   2023-06-08
93   2023-05-21
95   2023-06-11
Name: date, dtype: datetime64[ns]
before 0    2023-07-28
1    2023-08-02
2    2023-07-25
3    2023-07-30
4    2023-06-21
        ...
95   2023-07-20
96   2023-02-19
97   2023-05-30
98   2023-04-07
99   2023-06-21
Name: date, Length: 100, dtype: datetime64[ns]
after 5    2023-06-18
6    2023-06-13
10   2023-06-11
27   2023-06-03
32   2023-06-15
51   2023-06-12
60   2023-06-04
61   2023-05-31
65   2023-06-19
77   2023-05-21
84   2023-06-08
97   2023-05-30
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-08-04
1   2023-06-11
2   2023-06-18
3   2023-07-18
4   2023-06-25
5   2023-06-18
Name: date, dtype: datetime64[ns]
after 1   2023-06-11
2   2023-06-18
5   2023-06-18
Name: date, dtype: datetime64[ns]
before 0   2023-06-11
1   2023-06-04
2   2023-06-04
3   2023-07-18
4   2023-04-06
5   2023-06-18
6   2023-05-08
Name: date, dtype: datetime64[ns]
after 0   2023-06-11
1   2023-06-04
2   2023-06-04
Name: date, dtype: datetime64[ns]
before 0   2023-06-04
1   2023-06-11
2   2023-07-18
Name: date, dtype: datetime64[ns]
after 0   2023-06-04
1   2023-06-11
Name: date, dtype: datetime64[ns]
before 0    2023-06-17
1    2023-06-11
2    2023-02-28
3    2023-07-18
4    2023-03-19
5    2023-06-01
6    2023-06-04
7    2023-03-10
8    2023-06-16
9    2023-06-18
10   2023-06-22
11   2023-04-04
12   2023-06-07
13   2023-05-08
Name: date, dtype: datetime64[ns]
after 1    2023-06-11
5    2023-06-01
6    2023-06-04
12   2023-06-07
Name: date, dtype: datetime64[ns]
before 0    2023-06-04
1    2023-06-05
2    2023-06-03
3    2023-08-16
4    2023-05-28
        ...
72   2015-02-03
73   2023-06-07
74   2023-06-07
75   2023-06-06
76   2023-06-06
Name: date, Length: 77, dtype: datetime64[ns]
after 0    2023-06-04
1    2023-06-05
2    2023-06-03
4    2023-05-28
8    2023-06-05
13   2023-05-31
14   2023-06-02
15   2023-05-23
17   2023-06-01
19   2023-05-30
23   2023-05-14
24   2023-05-07
26   2023-05-21
33   2023-05-31
34   2023-06-01
39   2023-05-23
40   2023-06-01
45   2023-05-19
46   2023-06-01
47   2023-05-09
49   2023-05-19
56   2023-06-04
57   2023-05-25
58   2023-05-17
60   2023-05-30
67   2023-05-29
75   2023-06-06
76   2023-06-06
Name: date, dtype: datetime64[ns]
before 0    2023-06-02
1    2023-06-04
2    2023-06-05
3    2023-05-28
4    2023-06-07
        ...
90   2023-06-06
91   2023-06-06
92   2023-06-07
93   2021-10-25
94   2022-08-10
Name: date, Length: 95, dtype: datetime64[ns]
after 0    2023-06-02
1    2023-06-04
3    2023-05-28
5    2023-06-01
7    2023-05-29
14   2023-06-01
18   2023-05-30
24   2023-05-21
26   2023-05-14
29   2023-05-07
32   2023-05-19
34   2023-06-01
35   2023-05-23
38   2023-05-23
40   2023-06-01
45   2023-05-15
55   2023-05-17
60   2023-05-23
61   2023-05-30
62   2023-05-29
Name: date, dtype: datetime64[ns]
before 0    2023-05-21
1    2023-05-25
2    2023-05-25
3    2023-07-24
4    2023-07-24
        ...
95   2021-09-17
96   2023-06-10
97   2023-06-21
98   2023-05-17
99   2023-06-25
Name: date, Length: 100, dtype: datetime64[ns]
after 0    2023-05-21
15   2023-05-11
18   2023-05-18
37   2023-05-23
43   2023-05-14
50   2023-05-23
54   2023-04-28
62   2023-04-27
65   2023-05-09
68   2023-05-03
72   2023-05-15
74   2023-05-09
90   2023-05-19
92   2023-05-18
93   2023-05-02
94   2023-05-22
98   2023-05-17
Name: date, dtype: datetime64[ns]
before 0    2023-06-01
1    2023-06-01
2    2023-05-31
3    2023-08-13
4    2023-08-08
        ...
95   2023-05-19
96   2022-12-12
97   2022-09-27
98   2022-10-23
99   2023-06-08
Name: date, Length: 100, dtype: datetime64[ns]
after 8    2023-05-20
10   2023-05-14
16   2023-05-14
20   2023-05-15
21   2023-05-16
24   2023-04-22
31   2023-05-18
40   2023-05-03
43   2023-05-19
49   2023-05-16
75   2023-05-12
85   2023-05-17
95   2023-05-19
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-08-19
1    2023-08-04
2    2023-05-14
3    2023-08-11
4    2023-05-16
        ...
89   2018-12-06
90   2021-12-21
91   2023-08-09
92   2023-05-18
93   2023-05-15
Name: date, Length: 94, dtype: datetime64[ns]
after 2    2023-05-14
5    2023-05-09
7    2023-05-07
9    2023-05-06
21   2023-05-08
33   2023-04-26
37   2023-05-09
41   2023-05-03
45   2023-04-24
51   2023-04-30
56   2023-04-18
59   2023-04-16
70   2023-04-25
72   2023-04-14
80   2023-05-09
83   2023-04-26
Name: date, dtype: datetime64[ns]
before 0    2023-08-19
1    2023-08-12
2    2023-07-24
3    2023-05-11
4    2023-04-30
5    2023-05-08
6    2023-05-15
7    2023-05-19
8    2023-03-28
9    2023-07-31
10   2023-02-14
11   2023-06-18
12   2023-05-07
13   2023-04-07
14   2023-06-21
15   2023-06-15
16   2023-06-07
17   2023-05-13
18   2023-05-16
19   2023-08-06
20   2023-04-24
21   2023-06-12
22   2023-05-03
23   2023-06-05
24   2023-05-15
25   2023-06-04
26   2023-07-13
27   2023-05-22
28   2023-05-22
29   2023-06-07
30   2023-05-25
31   2023-06-08
32   2023-04-23
33   2023-06-14
34   2023-05-16
35   2023-05-11
36   2023-06-20
37   2023-05-24
38   2023-06-27
39   2023-06-06
40   2023-05-17
41   2023-05-10
42   2023-03-17
43   2023-05-03
44   2023-06-23
45   2022-12-18
46   2023-07-22
47   2023-04-13
48   2023-06-27
49   2023-06-30
50   2023-07-20
51   2023-04-25
52   2023-04-14
53   2023-04-18
Name: date, dtype: datetime64[ns]
after 4    2023-04-30
5    2023-05-08
12   2023-05-07
20   2023-04-24
22   2023-05-03
32   2023-04-23
43   2023-05-03
47   2023-04-13
51   2023-04-25
52   2023-04-14
53   2023-04-18
Name: date, dtype: datetime64[ns]
before 0    2023-08-19
1    2023-08-12
2    2023-05-07
3    2023-05-02
4    2023-04-30
        ...
63   2023-05-10
64   2023-05-09
65   2023-05-10
66   2023-05-10
67   2023-05-09
Name: date, Length: 68, dtype: datetime64[ns]
after 2    2023-05-07
3    2023-05-02
4    2023-04-30
5    2023-05-08
13   2023-05-03
18   2023-04-25
22   2023-04-24
28   2023-04-23
29   2023-05-03
30   2023-04-16
31   2023-04-09
50   2023-04-13
52   2023-04-25
53   2023-04-14
54   2023-04-18
56   2023-04-20
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-04-02
1   2023-04-04
2   2023-05-08
3   2023-03-26
4   2023-05-14
5   2023-04-30
6   2023-05-08
Name: date, dtype: datetime64[ns]
after 5   2023-04-30
Name: date, dtype: datetime64[ns]
before 0    2023-08-12
1    2023-05-07
2    2023-05-09
3    2023-04-20
4    2023-05-15
        ...
57   2023-05-09
58   2023-05-10
59   2022-08-20
60   2021-02-26
61   2021-12-14
Name: date, Length: 62, dtype: datetime64[ns]
after 1    2023-05-07
3    2023-04-20
5    2023-04-23
12   2023-05-03
14   2023-04-07
18   2023-04-27
20   2023-05-01
21   2023-05-02
23   2023-04-16
24   2023-04-09
31   2023-04-14
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-04-26
1    2023-04-23
2    2023-04-24
3    2023-08-09
4    2023-05-04
5    2023-04-16
6    2023-03-11
7    2023-07-31
8    2023-08-06
9    2023-03-05
10   2023-05-17
11   2023-04-07
12   2023-03-03
13   2023-05-14
14   2023-04-30
15   2023-03-15
16   2023-05-23
17   2023-01-05
18   2023-07-17
19   2023-07-13
20   2023-04-16
21   2023-05-04
22   2023-04-27
23   2023-04-28
24   2023-06-23
25   2023-07-13
26   2023-05-02
27   2023-05-10
28   2023-02-28
29   2023-03-12
30   2023-04-13
31   2023-06-07
32   2023-07-05
33   2023-06-06
34   2023-07-14
35   2023-03-08
36   2023-05-22
37   2023-05-19
38   2023-04-26
39   2023-02-10
40   2023-07-17
41   2023-04-13
42   2023-07-19
43   2023-06-27
44   2023-04-27
45   2023-07-11
46   2023-06-30
47   2023-04-27
48   2023-07-22
49   2023-04-14
50   2023-04-18
51   2023-06-10
52   2023-04-24
53   2022-05-09
54   2023-04-11
55   2020-03-04
56   2022-08-18
57   2022-07-25
58   2023-08-06
Name: date, dtype: datetime64[ns]
after 1    2023-04-23
5    2023-04-16
11   2023-04-07
20   2023-04-16
30   2023-04-13
41   2023-04-13
49   2023-04-14
50   2023-04-18
54   2023-04-11
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-08-12
1    2023-07-28
2    2023-08-13
3    2023-08-16
4    2023-04-17
        ...
95   2022-10-17
96   2023-04-02
97   2023-06-19
98   2023-04-19
99   2022-04-20
Name: date, Length: 100, dtype: datetime64[ns]
after 4    2023-04-17
6    2023-04-16
13   2023-04-09
19   2023-04-07
20   2023-04-10
24   2023-04-13
31   2023-04-14
38   2023-03-20
40   2023-04-13
41   2023-04-06
43   2023-04-10
46   2023-04-13
47   2023-04-03
70   2023-03-23
75   2023-04-04
79   2023-03-21
81   2023-04-11
83   2023-04-04
90   2023-04-17
96   2023-04-02
Name: date, dtype: datetime64[ns]
before 0    2023-04-09
1    2023-04-13
2    2023-04-11
3    2023-04-16
4    2023-04-17
5    2023-03-20
6    2023-04-26
7    2023-04-24
8    2023-03-08
9    2023-04-07
10   2023-05-21
11   2023-05-29
12   2023-03-17
13   2023-07-23
14   2023-04-10
15   2023-04-13
16   2023-06-05
17   2023-07-22
18   2023-05-11
19   2023-04-13
20   2023-04-24
21   2023-04-14
22   2023-04-13
23   2023-06-10
24   2023-05-01
25   2023-04-13
26   2023-06-27
27   2023-05-19
28   2023-05-11
29   2023-01-03
30   2023-04-14
31   2023-03-17
32   2023-06-23
33   2023-03-28
34   2023-04-04
35   2023-03-17
36   2023-03-31
37   2023-06-30
38   2023-04-11
39   2023-04-04
40   2023-04-18
41   2023-04-02
42   2023-04-19
43   2021-09-08
44   2021-05-25
45   2021-03-22
46   2020-09-13
47   2019-10-25
48   2020-08-03
49   2018-08-01
50   2019-11-25
51   2018-10-29
52   2021-05-10
53   2020-03-17
54   2016-10-01
55   2017-07-28
56   2016-12-30
57   2016-05-17
Name: date, dtype: datetime64[ns]
after 0    2023-04-09
1    2023-04-13
2    2023-04-11
3    2023-04-16
5    2023-03-20
9    2023-04-07
12   2023-03-17
14   2023-04-10
15   2023-04-13
19   2023-04-13
21   2023-04-14
22   2023-04-13
25   2023-04-13
30   2023-04-14
31   2023-03-17
33   2023-03-28
34   2023-04-04
35   2023-03-17
36   2023-03-31
38   2023-04-11
39   2023-04-04
41   2023-04-02
Name: date, dtype: datetime64[ns]
before 0   2023-03-26
1   2023-01-30
2   2023-02-28
3   2023-04-03
4   2023-04-24
5   2023-03-19
6   2023-03-27
7   2023-05-08
8   2023-05-01
Name: date, dtype: datetime64[ns]
after 0   2023-03-26
2   2023-02-28
5   2023-03-19
6   2023-03-27
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2023-04-02
1   2023-03-26
2   2023-03-27
3   2023-03-19
4   2023-03-27
Name: date, dtype: datetime64[ns]
after 1   2023-03-26
3   2023-03-19
Name: date, dtype: datetime64[ns]
before 0    2023-03-21
1    2023-08-09
2    2023-03-12
3    2023-02-19
4    2023-03-19
        ...
95   2021-03-02
96   2020-10-19
97   2021-01-25
98   2020-10-21
99   2021-07-02
Name: date, Length: 100, dtype: datetime64[ns]
after 2    2023-03-12
3    2023-02-19
4    2023-03-19
10   2023-03-13
14   2023-03-20
19   2023-02-24
23   2023-03-03
27   2023-02-23
30   2023-03-02
34   2023-03-12
42   2023-03-17
46   2023-02-23
Name: date, dtype: datetime64[ns]
before 0    2023-03-12
1    2023-03-27
2    2023-03-19
3    2023-03-26
4    2023-04-02
5    2023-02-19
6    2023-02-24
7    2023-02-22
8    2023-06-07
9    2023-03-02
10   2023-03-12
11   2023-04-24
12   2023-06-30
Name: date, dtype: datetime64[ns]
after 0    2023-03-12
2    2023-03-19
5    2023-02-19
6    2023-02-24
7    2023-02-22
9    2023-03-02
10   2023-03-12
Name: date, dtype: datetime64[ns]
before 0    2023-03-26
1    2023-02-23
2    2023-02-23
3    2023-02-23
4    2023-03-14
5    2023-03-04
6    2023-03-12
7    2023-03-13
8    2023-06-30
9    2023-03-13
10   2023-03-02
11   2023-03-03
Name: date, dtype: datetime64[ns]
after 1    2023-02-23
2    2023-02-23
3    2023-02-23
5    2023-03-04
6    2023-03-12
10   2023-03-02
11   2023-03-03
Name: date, dtype: datetime64[ns]
before 0   2023-03-05
1   2023-02-26
2   2022-12-11
3   2023-04-24
4   2023-03-12
5   2023-05-01
Name: date, dtype: datetime64[ns]
after 0   2023-03-05
1   2023-02-26
Name: date, dtype: datetime64[ns]
before 0    2023-08-07
1    2023-03-03
2    2023-02-26
3    2023-03-05
4    2022-12-09
5    2023-01-30
6    2023-01-16
7    2023-02-28
8    2023-03-28
9    2023-03-19
10   2023-04-24
11   2023-03-27
12   2023-05-23
13   2023-03-12
14   2023-07-15
15   2023-06-01
16   2023-03-19
17   2023-03-09
18   2022-09-28
19   2023-03-10
20   2022-11-06
21   2022-11-14
22   2022-11-10
23   2022-12-14
24   2022-12-07
Name: date, dtype: datetime64[ns]
after 1   2023-03-03
2   2023-02-26
3   2023-03-05
7   2023-02-28
Name: date, dtype: datetime64[ns]
before 0    2023-03-03
1    2023-03-04
2    2023-02-26
3    2023-02-24
4    2023-03-13
5    2023-08-16
6    2023-02-17
7    2023-02-19
8    2023-07-26
9    2023-02-13
10   2023-06-11
11   2023-04-02
12   2023-02-24
13   2023-03-26
14   2023-04-09
15   2023-05-08
16   2023-03-12
17   2023-03-02
18   2023-02-28
19   2023-04-24
20   2023-07-06
21   2023-05-18
22   2023-03-12
23   2023-06-27
24   2023-02-01
25   2023-04-14
26   2023-07-05
27   2023-04-09
28   2023-01-03
29   2023-06-08
30   2023-03-07
31   2023-05-30
32   2022-07-25
33   2023-03-30
34   2023-06-30
35   2023-02-20
36   2023-02-17
37   2023-07-20
38   2023-03-14
39   2022-07-28
40   2023-02-13
41   2023-01-22
42   2023-01-31
43   2022-08-29
44   2022-07-10
45   2022-04-26
Name: date, dtype: datetime64[ns]
after 2    2023-02-26
3    2023-02-24
6    2023-02-17
7    2023-02-19
9    2023-02-13
12   2023-02-24
18   2023-02-28
24   2023-02-01
35   2023-02-20
36   2023-02-17
40   2023-02-13
42   2023-01-31
Name: date, dtype: datetime64[ns]
before 0   2023-02-19
1   2023-02-26
2   2023-02-26
3   2023-06-22
4   2023-03-05
5   2023-05-24
Name: date, dtype: datetime64[ns]
after 0   2023-02-19
1   2023-02-26
2   2023-02-26
Name: date, dtype: datetime64[ns]
before 0    2023-04-02
1    2023-02-13
2    2023-02-23
3    2023-08-06
4    2023-02-15
5    2023-02-22
6    2023-03-03
7    2022-12-07
8    2023-02-12
9    2022-11-27
10   2023-04-02
11   2023-06-01
12   2023-02-26
13   2023-02-19
14   2023-02-01
15   2023-02-20
16   2022-12-04
17   2023-03-02
18   2022-12-11
19   2023-01-11
20   2023-03-20
21   2023-03-19
22   2023-06-04
23   2023-02-17
24   2023-07-06
25   2023-03-05
26   2023-05-24
27   2023-06-29
28   2023-01-27
29   2023-01-19
30   2023-02-02
31   2022-12-12
32   2023-01-30
33   2023-03-16
34   2023-03-14
35   2023-02-28
36   2023-03-06
37   2023-01-11
38   2022-10-30
39   2022-12-19
40   2023-05-30
41   2023-01-23
42   2023-02-01
43   2023-03-28
44   2022-12-22
45   2023-06-16
46   2023-03-30
47   2023-03-24
48   2023-01-04
49   2023-03-14
50   2023-03-29
51   2022-11-30
52   2023-03-27
53   2023-01-22
54   2023-02-22
55   2023-01-09
Name: date, dtype: datetime64[ns]
after 1    2023-02-13
4    2023-02-15
8    2023-02-12
13   2023-02-19
14   2023-02-01
15   2023-02-20
23   2023-02-17
28   2023-01-27
30   2023-02-02
32   2023-01-30
41   2023-01-23
42   2023-02-01
53   2023-01-22
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-02-19
1   2023-02-12
2   2023-02-26
3   2023-03-05
Name: date, dtype: datetime64[ns]
after 0   2023-02-19
1   2023-02-12
Name: date, dtype: datetime64[ns]
before 0    2023-08-08
1    2023-02-22
2    2023-02-22
3    2023-02-17
4    2023-02-19
        ...
58   2022-03-08
59   2020-08-26
60   2017-12-07
61   2023-02-22
62   2023-02-16
Name: date, Length: 63, dtype: datetime64[ns]
after 3    2023-02-17
4    2023-02-19
6    2023-01-31
7    2023-01-20
14   2023-02-15
40   2023-01-30
46   2023-02-17
62   2023-02-16
Name: date, dtype: datetime64[ns]
before 0   2023-08-07
1   2023-02-09
2   2023-02-12
3   2023-02-19
4   2023-02-20
5   2023-02-28
6   2023-03-10
7   2023-06-01
8   2023-03-09
9   2023-01-30
Name: date, dtype: datetime64[ns]
after 1   2023-02-09
2   2023-02-12
3   2023-02-19
9   2023-01-30
Name: date, dtype: datetime64[ns]
before 0    2023-08-20
1    2023-08-01
2    2023-08-09
3    2023-08-18
4    2023-02-23
        ...
64   2023-02-09
65   2022-07-10
66   2022-05-19
67   2023-02-22
68   2023-02-16
Name: date, Length: 69, dtype: datetime64[ns]
after 5    2023-02-17
6    2023-02-19
12   2023-02-15
28   2023-02-01
29   2023-02-02
59   2023-02-13
60   2023-02-10
62   2023-02-08
64   2023-02-09
68   2023-02-16
Name: date, dtype: datetime64[ns]
before 0   2023-02-12
1   2023-02-26
2   2023-02-19
Name: date, dtype: datetime64[ns]
after 0   2023-02-12
Name: date, dtype: datetime64[ns]
before 0   2023-02-20
1   2023-02-05
2   2022-12-11
3   2023-07-16
4   2023-02-19
5   2023-02-12
6   2023-02-13
7   2023-03-19
8   2023-07-15
Name: date, dtype: datetime64[ns]
after 1   2023-02-05
5   2023-02-12
6   2023-02-13
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-08-19
1    2023-08-16
2    2023-08-08
3    2023-08-09
4    2023-02-09
5    2023-02-20
6    2022-12-20
7    2023-02-19
8    2023-06-08
9    2023-02-10
10   2023-03-23
11   2023-02-24
12   2023-05-21
13   2023-02-25
14   2023-05-04
15   2023-03-05
16   2023-05-23
17   2023-06-09
18   2023-02-23
19   2023-02-14
20   2023-02-21
21   2023-02-10
22   2023-04-26
23   2023-03-03
24   2023-06-01
25   2023-06-26
26   2023-07-10
27   2023-03-19
28   2023-03-05
29   2023-06-07
30   2023-01-30
31   2023-04-18
32   2023-04-09
33   2023-03-19
34   2023-04-06
35   2023-03-02
36   2023-06-11
37   2023-03-13
38   2023-06-01
39   2023-04-25
40   2023-03-14
41   2023-02-01
42   2023-03-30
43   2023-06-25
44   2022-09-27
45   2022-09-28
46   2022-01-06
47   2021-05-14
48   2023-02-16
49   2023-01-09
Name: date, dtype: datetime64[ns]
after 30   2023-01-30
41   2023-02-01
49   2023-01-09
Name: date, dtype: datetime64[ns]
before 0    2023-08-12
1    2023-08-10
2    2023-02-06
3    2022-11-06
4    2023-02-13
        ...
95   2023-05-22
96   2022-12-22
97   2023-03-02
98   2022-11-14
99   2023-02-01
Name: date, Length: 100, dtype: datetime64[ns]
after 2    2023-02-06
5    2023-02-05
6    2023-02-05
7    2023-01-29
9    2023-02-06
22   2023-01-18
23   2023-02-01
25   2023-01-25
27   2023-01-23
39   2023-02-02
50   2023-01-19
52   2023-01-30
56   2023-02-02
70   2023-01-29
92   2023-02-03
93   2023-01-17
99   2023-02-01
Name: date, dtype: datetime64[ns]
before 0    2023-07-24
1    2023-02-07
2    2023-01-13
3    2023-02-03
4    2023-02-06
5    2023-02-13
6    2023-02-05
7    2023-08-06
8    2023-01-29
9    2023-03-28
10   2023-02-20
11   2023-01-23
12   2023-05-14
13   2023-02-21
14   2023-02-24
15   2023-02-23
16   2023-02-07
17   2023-02-12
18   2023-03-12
19   2023-04-07
20   2023-01-11
21   2023-01-02
22   2023-02-15
23   2023-05-01
24   2023-02-13
25   2023-01-26
26   2023-05-02
27   2023-01-18
28   2023-01-27
29   2023-02-02
30   2022-12-26
31   2023-06-15
32   2023-01-17
33   2023-03-06
34   2023-01-08
35   2023-06-14
36   2023-01-19
37   2023-03-02
38   2023-02-01
39   2023-07-20
40   2023-03-30
41   2023-01-27
42   2023-01-30
43   2023-01-17
44   2023-01-31
45   2023-03-14
46   2022-09-27
47   2022-09-28
48   2022-01-06
49   2021-05-14
50   2023-02-16
Name: date, dtype: datetime64[ns]
after 2    2023-01-13
3    2023-02-03
6    2023-02-05
8    2023-01-29
11   2023-01-23
20   2023-01-11
25   2023-01-26
27   2023-01-18
28   2023-01-27
29   2023-02-02
32   2023-01-17
34   2023-01-08
36   2023-01-19
38   2023-02-01
41   2023-01-27
42   2023-01-30
43   2023-01-17
44   2023-01-31
Name: date, dtype: datetime64[ns]
before 0    2023-02-01
1    2023-02-01
2    2023-02-01
3    2023-01-27
4    2023-02-13
        ...
90   2023-05-22
91   2023-02-16
92   2023-02-01
93   2023-02-04
94   2023-02-16
Name: date, Length: 95, dtype: datetime64[ns]
after 3    2023-01-27
5    2023-01-30
8    2023-01-22
14   2023-01-11
19   2023-01-27
25   2023-01-26
26   2023-01-18
38   2023-01-11
43   2023-01-02
51   2023-01-17
52   2023-01-08
68   2023-01-18
73   2023-01-30
Name: date, dtype: datetime64[ns]
before 0    2023-08-06
1    2023-01-27
2    2023-02-08
3    2023-01-30
4    2023-01-25
        ...
88   2023-01-27
89   2023-01-26
90   2023-01-26
91   2023-01-26
92   2023-01-27
Name: date, Length: 93, dtype: datetime64[ns]
after 4    2023-01-25
6    2023-01-22
12   2023-01-16
16   2023-01-22
18   2023-01-15
20   2023-01-18
23   2023-01-25
35   2023-01-03
44   2023-01-20
60   2023-01-11
61   2023-01-11
63   2023-01-05
65   2023-01-08
66   2023-01-18
68   2023-01-07
72   2023-01-16
80   2023-01-05
Name: date, dtype: datetime64[ns]
before 0    2023-07-30
1    2023-01-25
2    2023-01-23
3    2023-01-30
4    2023-01-16
        ...
90   2023-01-26
91   2023-01-28
92   2023-01-26
93   2023-01-27
94   2023-01-26
Name: date, Length: 95, dtype: datetime64[ns]
after 2    2023-01-23
4    2023-01-16
5    2023-01-15
8    2023-01-12
11   2023-01-08
12   2023-01-18
17   2023-01-02
23   2023-01-09
24   2023-01-13
26   2022-12-28
41   2023-01-07
Name: date, dtype: datetime64[ns]
before 0    2023-07-30
1    2023-08-08
2    2023-01-11
3    2023-01-17
4    2023-01-30
        ...
85   2023-01-18
86   2023-01-18
87   2023-01-17
88   2023-01-17
89   2023-02-16
Name: date, Length: 90, dtype: datetime64[ns]
after 2    2023-01-11
5    2023-01-13
6    2023-01-15
11   2023-01-08
21   2023-01-15
42   2023-01-02
57   2023-01-08
65   2023-01-07
74   2023-01-05
Name: date, dtype: datetime64[ns]
before 0    2023-08-03
1    2023-02-01
2    2023-01-30
3    2023-01-31
4    2023-01-17
        ...
95   2020-10-15
96   2023-01-18
97   2023-01-18
98   2023-01-18
99   2023-01-18
Name: date, Length: 100, dtype: datetime64[ns]
after 5    2023-01-11
11   2023-01-08
19   2022-12-23
21   2023-01-15
27   2023-01-02
35   2022-12-26
47   2023-01-08
51   2023-01-12
74   2023-01-07
79   2023-01-14
85   2023-01-06
89   2023-01-11
Name: date, dtype: datetime64[ns]
before 0    2023-01-11
1    2023-01-10
2    2023-01-11
3    2023-01-04
4    2023-08-11
        ...
58   2023-03-02
59   2023-03-30
60   2023-06-30
61   2023-01-15
62   2023-01-05
Name: date, Length: 63, dtype: datetime64[ns]
after 3    2023-01-04
14   2023-01-02
31   2023-01-08
39   2022-12-19
43   2023-01-09
46   2023-01-07
54   2022-12-30
55   2023-01-01
56   2023-01-03
62   2023-01-05
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-07-31
1    2023-01-11
2    2023-01-19
3    2023-01-05
4    2023-08-16
        ...
71   2021-12-15
72   2023-03-14
73   2022-01-17
74   2023-06-01
75   2021-09-16
Name: date, Length: 76, dtype: datetime64[ns]
after 3    2023-01-05
8    2022-12-21
20   2023-01-08
28   2023-01-03
30   2022-12-19
33   2023-01-04
43   2022-12-19
55   2023-01-07
Name: date, dtype: datetime64[ns]
before 0   2022-12-11
Name: date, dtype: datetime64[ns]
after 0   2022-12-11
Name: date, dtype: datetime64[ns]
before 0    2022-12-13
1    2022-12-13
2    2022-12-14
3    2023-08-10
4    2022-12-04
        ...
62   2022-10-26
63   2022-10-19
64   2022-08-04
65   2021-05-12
66   2022-03-10
Name: date, Length: 67, dtype: datetime64[ns]
after 4    2022-12-04
5    2022-12-11
9    2022-11-18
18   2022-12-12
23   2022-12-08
38   2022-11-24
44   2022-11-30
47   2022-11-16
Name: date, dtype: datetime64[ns]
before 0   2022-12-11
1   2023-01-17
Name: date, dtype: datetime64[ns]
after 0   2022-12-11
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2022-11-27
1   2022-12-11
2   2022-12-04
Name: date, dtype: datetime64[ns]
after 0   2022-11-27
2   2022-12-04
Name: date, dtype: datetime64[ns]
before 0   2022-11-20
1   2022-11-27
2   2022-11-22
3   2022-12-04
4   2022-10-31
5   2022-12-09
6   2022-12-08
7   2021-05-27
Name: date, dtype: datetime64[ns]
after 0   2022-11-20
2   2022-11-22
4   2022-10-31
Name: date, dtype: datetime64[ns]
before 0   2022-12-08
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2022-11-27
1   2022-11-20
2   2022-12-08
Name: date, dtype: datetime64[ns]
after 1   2022-11-20
Name: date, dtype: datetime64[ns]
before 0   2022-11-27
1   2022-11-20
2   2022-12-08
Name: date, dtype: datetime64[ns]
after 1   2022-11-20
Name: date, dtype: datetime64[ns]
before 0   2022-10-09
1   2022-12-08
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2022-11-14
1    2023-02-19
2    2022-09-29
3    2022-11-06
4    2023-05-21
5    2022-05-26
6    2022-12-04
7    2022-11-14
8    2022-11-20
9    2022-10-30
10   2023-06-23
11   2022-12-08
12   2023-06-30
13   2022-11-15
14   2022-07-25
15   2022-12-06
Name: date, dtype: datetime64[ns]
after 0   2022-11-14
3   2022-11-06
7   2022-11-14
9   2022-10-30
Name: date, dtype: datetime64[ns]
before 0    2023-08-09
1    2022-11-10
2    2022-11-22
3    2022-12-19
4    2022-11-06
        ...
95   2020-08-10
96   2022-09-26
97   2022-10-29
98   2019-04-18
99   2020-06-24
Name: date, Length: 100, dtype: datetime64[ns]
after 1    2022-11-10
4    2022-11-06
11   2022-10-14
16   2022-10-31
22   2022-11-08
29   2022-10-14
46   2022-11-03
92   2022-11-10
97   2022-10-29
Name: date, dtype: datetime64[ns]
before 0    2022-11-06
1    2022-10-30
2    2022-10-31
3    2023-02-19
4    2022-11-08
5    2022-11-14
6    2022-10-20
7    2022-12-19
8    2022-11-10
9    2022-11-07
10   2022-11-16
11   2023-02-02
12   2022-10-30
13   2023-01-17
14   2022-12-06
15   2022-12-08
16   2022-11-14
17   2022-06-15
Name: date, dtype: datetime64[ns]
after 0    2022-11-06
1    2022-10-30
2    2022-10-31
4    2022-11-08
6    2022-10-20
9    2022-11-07
12   2022-10-30
Name: date, dtype: datetime64[ns]
before 0    2022-11-10
1    2022-11-06
2    2022-11-06
3    2022-11-08
4    2022-11-07
5    2022-10-30
6    2023-04-27
7    2022-10-13
8    2022-10-25
9    2023-02-12
10   2022-11-14
11   2023-01-20
12   2022-11-07
13   2022-12-20
14   2022-09-19
15   2022-11-08
16   2022-11-30
17   2022-10-30
18   2023-03-02
19   2022-12-06
20   2022-12-08
21   2023-07-11
22   2023-01-09
Name: date, dtype: datetime64[ns]
after 1    2022-11-06
2    2022-11-06
4    2022-11-07
5    2022-10-30
7    2022-10-13
8    2022-10-25
12   2022-11-07
17   2022-10-30
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2022-11-06
1    2022-11-10
2    2022-10-30
3    2022-10-31
4    2023-05-14
5    2023-02-19
6    2023-07-21
7    2022-12-04
8    2022-11-14
9    2023-02-08
10   2023-03-05
11   2023-02-28
12   2023-06-22
13   2022-11-07
14   2022-11-30
15   2022-11-16
16   2022-10-31
17   2022-12-08
18   2023-07-21
Name: date, dtype: datetime64[ns]
after 0    2022-11-06
2    2022-10-30
3    2022-10-31
13   2022-11-07
16   2022-10-31
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2022-11-04
1    2022-11-27
2    2022-11-06
3    2022-10-18
4    2022-10-27
5    2022-11-14
6    2022-11-17
7    2022-11-07
8    2022-12-20
9    2022-11-10
10   2022-10-31
11   2022-11-17
12   2023-01-11
13   2018-01-15
Name: date, dtype: datetime64[ns]
after 0    2022-11-04
2    2022-11-06
3    2022-10-18
4    2022-10-27
10   2022-10-31
Name: date, dtype: datetime64[ns]
before 0    2022-11-03
1    2022-11-14
2    2022-11-14
3    2022-10-31
4    2022-10-20
5    2022-10-07
6    2022-12-19
7    2023-07-03
8    2022-10-30
9    2022-12-08
10   2023-06-12
11   2023-07-19
12   2022-08-12
13   2022-11-07
14   2023-06-30
15   2022-10-26
16   2022-12-08
17   2022-10-23
18   2021-01-26
19   2022-10-30
20   2022-12-06
21   2022-10-14
22   2021-02-09
23   2020-07-07
Name: date, dtype: datetime64[ns]
after 3    2022-10-31
4    2022-10-20
5    2022-10-07
8    2022-10-30
15   2022-10-26
17   2022-10-23
19   2022-10-30
21   2022-10-14
Name: date, dtype: datetime64[ns]
before 0    2023-08-20
1    2022-10-31
2    2022-10-30
3    2022-10-05
4    2022-10-25
5    2022-10-05
6    2022-12-30
7    2023-02-23
8    2022-11-06
9    2023-05-02
10   2023-01-05
11   2022-11-03
12   2022-10-14
13   2022-12-20
14   2022-10-20
15   2022-11-16
16   2022-11-30
17   2022-11-08
18   2022-11-22
19   2023-01-11
20   2022-10-31
21   2023-01-17
22   2022-11-14
23   2022-12-06
24   2022-09-20
25   2022-09-22
26   2022-08-04
27   2023-01-09
Name: date, dtype: datetime64[ns]
after 1    2022-10-31
2    2022-10-30
3    2022-10-05
4    2022-10-25
5    2022-10-05
12   2022-10-14
14   2022-10-20
20   2022-10-31
Name: date, dtype: datetime64[ns]
before 0    2023-08-09
1    2022-10-26
2    2023-04-19
3    2022-10-26
4    2023-03-23
5    2023-04-26
6    2023-01-03
7    2023-03-03
8    2022-11-04
9    2023-02-27
10   2022-10-17
11   2022-09-05
12   2022-09-20
13   2022-10-30
14   2022-09-25
15   2022-11-20
16   2022-11-07
17   2022-10-30
18   2023-07-17
19   2022-12-06
20   2022-11-08
21   2022-08-24
22   2022-10-23
23   2023-04-17
24   2022-11-04
25   2022-08-18
26   2023-05-24
27   2022-05-17
28   2022-09-04
Name: date, dtype: datetime64[ns]
after 10   2022-10-17
14   2022-09-25
22   2022-10-23
Name: date, dtype: datetime64[ns]
before 0    2022-10-26
1    2022-10-27
2    2022-09-27
3    2022-10-30
4    2022-11-08
5    2022-10-14
6    2022-10-23
7    2022-11-30
8    2022-10-31
9    2022-06-05
10   2022-11-04
11   2022-12-06
12   2021-12-28
13   2023-01-09
Name: date, dtype: datetime64[ns]
after 2   2022-09-27
5   2022-10-14
6   2022-10-23
Name: date, dtype: datetime64[ns]
before 0   2023-04-27
1   2022-10-30
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2022-09-28
1    2022-10-21
2    2022-10-30
3    2023-07-10
4    2022-10-30
        ...
63   2020-09-11
64   2016-09-11
65   2016-05-24
66   2015-11-26
67   2016-03-21
Name: date, Length: 68, dtype: datetime64[ns]
after 0    2022-09-28
1    2022-10-21
7    2022-10-14
10   2022-10-23
26   2022-10-17
32   2022-09-29
Name: date, dtype: datetime64[ns]
before 0   2022-11-14
1   2022-10-30
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2022-10-30
1   2022-11-15
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-31
1    2022-10-18
2    2022-10-21
3    2022-10-28
4    2022-09-21
        ...
59   2021-09-03
60   2021-06-24
61   2022-03-30
62   2021-03-09
63   2021-05-31
Name: date, Length: 64, dtype: datetime64[ns]
after 1   2022-10-18
4   2022-09-21
8   2022-10-09
Name: date, dtype: datetime64[ns]
before 0    2022-10-09
1    2023-04-23
2    2023-01-22
3    2022-11-06
4    2022-12-28
5    2022-10-12
6    2023-01-11
7    2023-07-02
8    2022-10-23
9    2021-09-29
10   2021-10-28
11   2017-12-07
Name: date, dtype: datetime64[ns]
after 0   2022-10-09
5   2022-10-12
Name: date, dtype: datetime64[ns]
before 0   2022-10-09
1   2022-11-15
Name: date, dtype: datetime64[ns]
after 0   2022-10-09
Name: date, dtype: datetime64[ns]
before 0    2023-02-09
1    2022-09-16
2    2023-03-03
3    2022-11-08
4    2022-10-26
5    2022-09-28
6    2022-12-09
7    2022-09-21
8    2022-11-06
9    2022-10-09
10   2022-11-14
11   2023-07-15
12   2022-10-31
13   2022-12-08
14   2022-11-15
15   2022-10-26
16   2022-11-04
17   2022-10-31
Name: date, dtype: datetime64[ns]
after 1   2022-09-16
5   2022-09-28
7   2022-09-21
9   2022-10-09
Name: date, dtype: datetime64[ns]
before 0    2023-08-09
1    2022-10-09
2    2022-09-06
3    2022-10-02
4    2022-12-30
5    2022-10-13
6    2022-10-05
7    2023-03-05
8    2022-12-19
9    2022-10-17
10   2023-02-16
11   2022-10-21
12   2022-11-14
13   2022-09-04
14   2022-11-22
Name: date, dtype: datetime64[ns]
after 1   2022-10-09
3   2022-10-02
6   2022-10-05
Name: date, dtype: datetime64[ns]
before 0   2022-11-20
1   2022-08-28
2   2022-10-09
3   2022-10-02
Name: date, dtype: datetime64[ns]
after 2   2022-10-09
3   2022-10-02
Name: date, dtype: datetime64[ns]
before 0   2022-08-30
1   2022-10-02
2   2022-10-09
3   2022-10-31
Name: date, dtype: datetime64[ns]
after 1   2022-10-02
2   2022-10-09
Name: date, dtype: datetime64[ns]
before 0    2022-10-13
1    2022-08-16
2    2023-01-15
3    2022-10-09
4    2022-07-22
5    2022-11-03
6    2022-10-02
7    2022-10-20
8    2022-10-17
9    2022-10-30
10   2022-11-06
11   2022-09-06
12   2022-08-18
13   2022-07-28
14   2022-09-04
15   2022-10-31
16   2021-03-19
Name: date, dtype: datetime64[ns]
after 3   2022-10-09
6   2022-10-02
Name: date, dtype: datetime64[ns]
before 0   2022-11-20
1   2022-10-09
2   2022-10-02
Name: date, dtype: datetime64[ns]
after 1   2022-10-09
2   2022-10-02
Name: date, dtype: datetime64[ns]
before 0    2022-09-27
1    2022-08-12
2    2022-10-05
3    2022-10-02
4    2022-12-30
5    2023-02-23
6    2022-10-30
7    2022-09-25
8    2023-05-29
9    2022-10-04
10   2022-03-03
11   2022-10-09
12   2022-12-21
13   2022-09-21
14   2022-12-19
15   2023-06-27
16   2023-02-02
17   2022-10-17
18   2022-09-06
19   2023-01-31
20   2022-01-13
21   2022-09-30
22   2022-10-21
23   2022-11-22
24   2022-10-19
25   2022-05-10
26   2023-06-09
27   2022-10-12
28   2022-10-14
29   2022-10-05
30   2022-03-28
31   2022-08-18
32   2022-07-13
33   2022-03-11
Name: date, dtype: datetime64[ns]
after 0    2022-09-27
2    2022-10-05
3    2022-10-02
7    2022-09-25
9    2022-10-04
13   2022-09-21
18   2022-09-06
21   2022-09-30
29   2022-10-05
Name: date, dtype: datetime64[ns]
before 0    2022-10-05
1    2022-10-25
2    2023-01-15
3    2023-04-16
4    2022-10-02
5    2022-09-25
6    2022-10-30
7    2022-10-17
8    2022-09-28
9    2022-12-19
10   2022-09-06
11   2022-10-09
12   2023-01-17
13   2020-06-05
14   2019-09-01
15   2023-05-26
16   2021-08-03
17   2023-03-14
18   2023-02-06
19   2023-01-27
20   2022-11-08
21   2023-03-28
22   2023-03-27
23   2023-01-30
24   2023-03-28
25   2023-02-08
26   2023-02-14
27   2023-05-19
28   2023-01-16
29   2022-12-18
30   2023-01-10
31   2022-09-26
32   2022-04-06
33   2022-04-27
34   2021-12-07
35   2021-05-03
36   2021-08-27
37   2020-09-17
38   2020-11-13
39   2019-12-07
40   2019-08-26
41   2019-04-26
42   2015-07-30
43   2013-11-15
44   2013-12-03
45   2022-12-28
Name: date, dtype: datetime64[ns]
after 4    2022-10-02
5    2022-09-25
8    2022-09-28
10   2022-09-06
31   2022-09-26
Name: date, dtype: datetime64[ns]
before 0    2022-10-14
1    2022-09-25
2    2022-09-23
3    2023-07-11
4    2023-07-14
5    2023-06-15
6    2022-10-02
7    2022-10-09
8    2023-07-17
9    2023-06-22
10   2022-12-21
11   2023-06-08
12   2023-07-14
13   2023-06-22
14   2023-04-26
15   2022-10-03
16   2023-04-13
17   2023-01-16
18   2023-07-14
19   2023-05-17
20   2023-04-14
21   2023-02-22
22   2022-10-17
23   2022-11-08
24   2022-11-03
25   2023-06-28
26   2022-06-14
27   2022-10-31
28   2023-03-24
29   2022-12-13
30   2022-08-22
31   2021-10-05
32   2021-12-08
33   2022-05-17
34   2020-09-02
35   2020-09-01
36   2021-03-05
37   2021-06-11
38   2021-09-09
39   2019-12-13
40   2022-09-30
Name: date, dtype: datetime64[ns]
after 1    2022-09-25
2    2022-09-23
6    2022-10-02
15   2022-10-03
40   2022-09-30
Name: date, dtype: datetime64[ns]
before 0    2022-10-03
1    2022-09-01
2    2022-10-02
3    2023-04-16
4    2023-01-15
5    2023-05-22
6    2023-05-23
7    2022-08-12
8    2022-10-17
9    2022-09-27
10   2022-09-25
11   2022-10-30
12   2022-10-31
13   2022-10-13
14   2023-02-01
15   2022-10-03
16   2022-10-07
17   2023-07-19
18   2023-07-11
19   2022-06-05
20   2022-09-30
21   2022-10-26
22   2022-02-24
Name: date, dtype: datetime64[ns]
after 0    2022-10-03
2    2022-10-02
9    2022-09-27
10   2022-09-25
15   2022-10-03
20   2022-09-30
Name: date, dtype: datetime64[ns]
before 0    2023-04-02
1    2022-09-25
2    2022-08-19
3    2022-09-18
4    2022-09-30
5    2023-04-18
6    2022-11-06
7    2022-10-02
8    2022-10-17
9    2022-09-14
10   2022-09-11
11   2022-07-28
12   2023-06-09
13   2022-08-18
14   2022-09-28
15   2022-09-28
16   2022-09-28
17   2022-09-28
18   2022-09-28
19   2022-09-28
Name: date, dtype: datetime64[ns]
after 1    2022-09-25
3    2022-09-18
9    2022-09-14
10   2022-09-11
Name: date, dtype: datetime64[ns]
before 0   2022-09-25
1   2022-11-06
2   2022-09-26
3   2022-09-18
4   2022-10-02
Name: date, dtype: datetime64[ns]
after 0   2022-09-25
3   2022-09-18
Name: date, dtype: datetime64[ns]
before 0    2022-09-23
1    2023-04-02
2    2022-08-26
3    2022-09-18
4    2022-09-25
5    2022-12-28
6    2022-09-26
7    2023-01-08
8    2022-09-12
9    2022-11-06
10   2022-10-02
11   2022-11-08
12   2022-10-17
13   2022-09-11
14   2022-10-13
15   2023-01-11
16   2016-07-27
17   2022-09-23
18   2022-09-23
19   2022-09-28
20   2022-09-28
21   2022-09-28
22   2022-09-28
23   2022-09-28
24   2022-09-28
Name: date, dtype: datetime64[ns]
after 0    2022-09-23
2    2022-08-26
3    2022-09-18
4    2022-09-25
8    2022-09-12
13   2022-09-11
17   2022-09-23
18   2022-09-23
Name: date, dtype: datetime64[ns]
before 0   2022-09-25
1   2022-11-14
2   2022-11-06
3   2022-09-18
4   2022-09-12
Name: date, dtype: datetime64[ns]
after 3   2022-09-18
4   2022-09-12
Name: date, dtype: datetime64[ns]
before 0    2022-12-19
1    2022-09-19
2    2022-12-30
3    2022-09-18
4    2022-09-22
5    2022-12-08
6    2023-02-23
7    2023-07-10
8    2022-09-28
9    2022-10-02
10   2022-09-12
11   2022-11-29
12   2022-09-20
13   2022-10-17
14   2022-12-20
15   2022-11-08
16   2022-10-21
17   2022-09-11
18   2022-09-30
19   2022-10-19
20   2022-09-12
21   2023-02-02
22   2022-09-25
23   2022-01-13
24   2022-08-04
Name: date, dtype: datetime64[ns]
after 1    2022-09-19
3    2022-09-18
10   2022-09-12
12   2022-09-20
17   2022-09-11
20   2022-09-12
Name: date, dtype: datetime64[ns]
before 0    2023-08-07
1    2023-07-29
2    2023-08-16
3    2023-07-26
4    2023-07-28
        ...
91   2020-07-22
92   2020-07-03
93   2023-01-19
94   2022-07-08
95   2022-12-28
Name: date, Length: 96, dtype: datetime64[ns]
after 10   2022-09-10
12   2022-09-12
16   2022-09-18
20   2022-09-15
53   2022-09-11
54   2022-09-16
70   2022-09-18
78   2022-09-12
88   2022-09-02
Name: date, dtype: datetime64[ns]
before 0    2022-09-20
1    2023-03-26
2    2023-02-23
3    2022-09-19
4    2022-09-12
5    2022-09-18
6    2022-12-30
7    2021-12-17
8    2022-08-19
9    2022-09-25
10   2022-12-20
11   2022-10-09
12   2022-10-21
13   2022-09-26
14   2022-09-28
15   2022-10-19
16   2022-12-20
17   2022-10-17
18   2022-11-15
19   2022-11-22
20   2022-08-30
21   2022-09-11
22   2022-10-12
23   2022-09-12
24   2022-09-25
25   2022-01-13
26   2022-08-18
27   2022-09-21
Name: date, dtype: datetime64[ns]
after 3    2022-09-19
4    2022-09-12
5    2022-09-18
20   2022-08-30
21   2022-09-11
23   2022-09-12
Name: date, dtype: datetime64[ns]
before 0   2022-09-25
1   2022-09-18
2   2022-05-19
3   2022-09-12
Name: date, dtype: datetime64[ns]
after 1   2022-09-18
3   2022-09-12
Name: date, dtype: datetime64[ns]
before 0   2022-09-18
1   2022-09-26
2   2022-05-19
3   2022-09-12
Name: date, dtype: datetime64[ns]
after 0   2022-09-18
3   2022-09-12
Name: date, dtype: datetime64[ns]
before 0    2023-08-10
1    2022-09-09
2    2023-08-10
3    2022-09-16
4    2022-12-19
5    2022-09-04
6    2023-03-26
7    2023-01-13
8    2022-12-08
9    2023-02-09
10   2022-09-25
11   2022-04-20
12   2022-10-09
13   2022-11-29
14   2022-09-16
15   2022-10-17
16   2022-04-20
17   2023-02-23
18   2022-09-26
19   2022-09-11
20   2022-09-25
21   2023-06-01
22   2022-09-12
23   2022-10-17
24   2022-10-12
25   2022-09-02
Name: date, dtype: datetime64[ns]
after 1    2022-09-09
5    2022-09-04
19   2022-09-11
22   2022-09-12
25   2022-09-02
Name: date, dtype: datetime64[ns]
before 0    2022-09-15
1    2022-09-16
2    2023-03-14
3    2022-09-04
4    2022-08-30
5    2023-03-04
6    2022-09-12
7    2022-10-02
8    2023-01-05
9    2022-09-12
10   2022-12-09
11   2022-11-10
12   2022-09-20
13   2022-08-06
14   2023-02-23
15   2022-11-23
16   2023-05-01
17   2022-09-11
18   2022-07-11
19   2022-07-06
20   2022-09-02
21   2022-12-28
Name: date, dtype: datetime64[ns]
after 3    2022-09-04
4    2022-08-30
6    2022-09-12
9    2022-09-12
17   2022-09-11
20   2022-09-02
Name: date, dtype: datetime64[ns]
before 0   2022-11-14
1   2022-09-18
2   2022-10-26
3   2022-09-12
Name: date, dtype: datetime64[ns]
after 3   2022-09-12
Name: date, dtype: datetime64[ns]
before 0   2022-08-28
1   2022-08-21
2   2022-09-12
Name: date, dtype: datetime64[ns]
after 0   2022-08-28
1   2022-08-21
Name: date, dtype: datetime64[ns]
before 0   2022-08-28
1   2022-08-21
2   2022-09-04
Name: date, dtype: datetime64[ns]
after 0   2022-08-28
1   2022-08-21
Name: date, dtype: datetime64[ns]
before 0   2022-08-21
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2022-09-25
1   2022-08-21
2   2022-08-14
Name: date, dtype: datetime64[ns]
after 2   2022-08-14
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2022-08-23
1    2022-08-21
2    2022-08-22
3    2022-08-11
4    2022-08-09
        ...
95   2022-03-31
96   2021-08-04
97   2022-10-26
98   2023-03-14
99   2021-06-07
Name: date, Length: 100, dtype: datetime64[ns]
after 4    2022-08-09
6    2022-08-06
7    2022-07-31
8    2022-08-05
24   2022-07-12
33   2022-08-09
49   2022-07-19
72   2022-07-26
88   2022-07-29
Name: date, dtype: datetime64[ns]
before 0    2022-08-09
1    2022-07-31
2    2022-08-21
3    2022-08-07
4    2022-07-12
5    2022-11-20
6    2022-08-18
7    2022-09-18
8    2023-01-18
9    2022-08-14
10   2022-07-18
11   2023-01-11
12   2022-11-22
13   2022-08-26
14   2022-10-01
15   2022-09-01
16   2022-07-21
17   2022-08-05
18   2023-01-25
19   2022-08-03
20   2022-07-31
21   2022-11-08
22   2022-07-02
23   2021-03-19
24   2022-08-10
25   2022-07-27
Name: date, dtype: datetime64[ns]
after 1    2022-07-31
3    2022-08-07
4    2022-07-12
10   2022-07-18
16   2022-07-21
17   2022-08-05
19   2022-08-03
20   2022-07-31
25   2022-07-27
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2022-07-28
1    2023-02-05
2    2023-06-01
3    2022-07-17
4    2022-07-24
5    2022-11-06
6    2022-07-28
7    2022-09-21
8    2022-08-21
9    2022-07-25
10   2022-07-21
11   2023-01-11
12   2022-08-18
13   2022-09-06
14   2022-08-09
15   2022-07-02
16   2022-08-01
Name: date, dtype: datetime64[ns]
after 3    2022-07-17
4    2022-07-24
9    2022-07-25
10   2022-07-21
15   2022-07-02
Name: date, dtype: datetime64[ns]
before 0    2022-07-27
1    2023-02-05
2    2023-02-07
3    2022-11-15
4    2022-07-21
5    2022-09-01
6    2023-02-01
7    2022-08-14
8    2022-07-17
9    2022-09-04
10   2022-07-25
11   2023-07-12
12   2023-03-06
13   2022-11-04
14   2023-01-17
15   2022-07-31
16   2023-02-09
17   2022-08-10
18   2022-09-20
19   2022-08-04
20   2023-01-05
21   2023-03-12
22   2023-03-12
23   2022-10-30
24   2023-03-08
25   2022-11-21
26   2023-04-25
27   2022-09-12
28   2023-02-23
29   2022-08-04
30   2023-07-19
31   2022-07-28
32   2022-11-15
33   2022-10-25
34   2022-07-25
35   2023-01-11
36   2023-06-20
37   2022-10-31
38   2023-07-11
39   2022-08-12
40   2022-07-28
41   2022-09-15
42   2022-07-26
43   2022-08-09
44   2022-08-18
45   2022-07-21
46   2023-07-18
47   2022-07-02
48   2022-08-01
Name: date, dtype: datetime64[ns]
after 4    2022-07-21
8    2022-07-17
10   2022-07-25
34   2022-07-25
45   2022-07-21
47   2022-07-02
Name: date, dtype: datetime64[ns]
before 0   2022-08-14
1   2022-07-17
2   2022-05-19
3   2022-07-24
Name: date, dtype: datetime64[ns]
after 1   2022-07-17
3   2022-07-24
Name: date, dtype: datetime64[ns]
before 0    2023-01-29
1    2022-07-19
2    2022-06-28
3    2023-02-02
4    2022-07-31
5    2022-08-14
6    2023-02-27
7    2022-07-18
8    2023-01-17
9    2022-12-26
10   2022-12-16
11   2022-08-28
12   2023-06-05
13   2022-06-15
14   2022-07-10
15   2023-03-13
16   2022-10-18
17   2022-10-27
18   2023-06-12
19   2023-01-18
20   2022-11-16
21   2023-03-14
22   2022-10-31
23   2022-10-26
24   2022-07-25
25   2022-08-18
26   2022-10-31
27   2022-07-25
28   2022-07-31
29   2022-07-02
30   2022-12-28
31   2022-08-01
Name: date, dtype: datetime64[ns]
after 1    2022-07-19
2    2022-06-28
7    2022-07-18
14   2022-07-10
29   2022-07-02
Name: date, dtype: datetime64[ns]
before 0    2023-02-23
1    2022-12-30
2    2022-07-10
3    2022-10-21
4    2022-08-31
5    2022-07-18
6    2023-02-02
7    2022-12-20
8    2022-07-24
9    2022-08-07
10   2022-07-25
11   2022-08-25
12   2022-10-05
13   2022-07-25
14   2022-12-19
15   2022-09-21
16   2022-10-30
17   2022-10-14
18   2022-10-19
19   2022-07-13
20   2022-09-28
21   2022-11-22
22   2022-07-19
23   2022-10-14
24   2022-01-13
25   2021-12-17
26   2022-08-18
27   2022-07-25
28   2022-08-18
29   2023-06-09
30   2022-06-15
31   2022-07-19
32   2022-05-04
33   2022-09-20
34   2022-08-29
35   2021-04-06
36   2021-11-12
37   2022-07-13
38   2021-11-30
39   2022-07-02
40   2019-04-19
41   2022-08-01
Name: date, dtype: datetime64[ns]
after 2    2022-07-10
5    2022-07-18
19   2022-07-13
37   2022-07-13
39   2022-07-02
Name: date, dtype: datetime64[ns]
before 0   2022-07-24
1   2022-07-10
2   2022-07-17
Name: date, dtype: datetime64[ns]
after 1   2022-07-10
2   2022-07-17
Name: date, dtype: datetime64[ns]
before 0    2023-01-29
1    2022-07-17
2    2022-07-18
3    2022-07-10
4    2023-06-05
5    2022-07-24
6    2022-12-19
7    2022-11-03
8    2022-08-28
9    2022-07-25
10   2022-12-19
11   2022-10-30
12   2022-07-25
13   2022-07-25
14   2022-08-18
15   2023-06-23
16   2022-07-19
17   2022-08-29
18   2022-08-01
Name: date, dtype: datetime64[ns]
after 1   2022-07-17
2   2022-07-18
3   2022-07-10
Name: date, dtype: datetime64[ns]
before 0    2023-08-14
1    2023-07-25
2    2022-11-14
3    2022-07-18
4    2023-07-18
        ...
95   2022-07-22
96   2022-07-22
97   2022-07-20
98   2022-07-21
99   2022-07-18
Name: date, Length: 100, dtype: datetime64[ns]
after 12   2022-07-01
19   2022-07-14
21   2022-07-10
36   2022-07-06
38   2022-07-07
60   2022-07-15
76   2022-07-13
77   2022-07-02
85   2022-07-05
Name: date, dtype: datetime64[ns]
before 0   2022-07-17
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-08-03
1    2023-07-03
2    2023-03-31
3    2023-07-03
4    2022-07-12
        ...
76   2021-07-20
77   2018-01-11
78   2021-03-17
79   2016-04-18
80   2022-08-01
Name: date, Length: 81, dtype: datetime64[ns]
after 8    2022-07-10
13   2022-07-06
15   2022-07-03
60   2022-07-02
Name: date, dtype: datetime64[ns]
before 0    2022-07-06
1    2022-07-03
2    2022-06-30
3    2022-07-10
4    2022-08-14
5    2022-07-31
6    2022-06-26
7    2022-06-08
8    2022-07-15
9    2022-06-05
10   2022-08-18
11   2022-07-12
12   2022-06-22
13   2022-06-27
14   2022-07-02
15   2022-08-01
Name: date, dtype: datetime64[ns]
after 1    2022-07-03
2    2022-06-30
6    2022-06-26
7    2022-06-08
9    2022-06-05
12   2022-06-22
13   2022-06-27
14   2022-07-02
Name: date, dtype: datetime64[ns]
before 0   2022-10-09
1   2022-07-03
2   2022-07-10
3   2022-07-24
Name: date, dtype: datetime64[ns]
after 1   2022-07-03
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2022-07-03
1    2022-06-26
2    2022-10-09
3    2022-07-10
4    2022-12-19
5    2022-08-18
6    2022-07-24
7    2022-06-05
8    2022-05-13
9    2022-07-12
10   2022-07-02
11   2022-08-01
12   2021-09-18
Name: date, dtype: datetime64[ns]
after 0    2022-07-03
1    2022-06-26
7    2022-06-05
10   2022-07-02
Name: date, dtype: datetime64[ns]
before 0    2023-06-08
1    2023-01-08
2    2022-06-26
3    2022-06-19
4    2022-06-21
5    2022-06-29
6    2022-07-03
7    2023-02-09
8    2022-06-23
9    2022-10-02
10   2021-12-09
11   2023-02-23
12   2022-09-21
13   2023-04-13
14   2022-06-28
15   2022-07-12
16   2022-08-18
17   2023-03-14
18   2021-10-22
19   2020-11-04
20   2023-04-04
21   2022-06-01
22   2022-05-18
23   2022-07-25
24   2021-08-06
25   2022-07-28
26   2021-08-10
27   2019-10-21
28   2021-02-07
29   2022-08-01
Name: date, dtype: datetime64[ns]
after 2    2022-06-26
3    2022-06-19
4    2022-06-21
8    2022-06-23
21   2022-06-01
Name: date, dtype: datetime64[ns]
before 0    2022-07-06
1    2022-09-25
2    2022-10-25
3    2022-07-31
4    2023-07-13
5    2022-09-21
6    2022-06-17
7    2022-07-06
8    2022-08-30
9    2022-04-22
10   2022-08-14
11   2022-06-26
12   2022-07-01
13   2022-06-30
14   2022-04-24
Name: date, dtype: datetime64[ns]
after 6   2022-06-17
Name: date, dtype: datetime64[ns]
before 0    2022-06-20
1    2022-06-17
2    2022-06-19
3    2023-07-14
4    2022-10-01
5    2022-06-26
6    2022-12-19
7    2022-07-01
8    2023-01-17
9    2022-07-01
10   2022-08-09
11   2022-07-15
12   2022-06-30
13   2022-08-18
14   2022-06-28
15   2022-05-13
16   2021-08-12
17   2022-07-11
18   2022-08-01
Name: date, dtype: datetime64[ns]
after 0   2022-06-20
1   2022-06-17
2   2022-06-19
Name: date, dtype: datetime64[ns]
before 0   2022-08-30
1   2022-06-26
2   2022-07-01
3   2022-06-30
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2022-09-18
1   2022-06-19
2   2022-07-24
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2022-06-05
1   2022-06-19
Name: date, dtype: datetime64[ns]
after 0   2022-06-05
Name: date, dtype: datetime64[ns]
before 0    2023-08-07
1    2023-07-03
2    2022-06-14
3    2022-12-30
4    2022-06-05
        ...
65   2022-06-02
66   2022-05-16
67   2022-05-31
68   2022-01-25
69   2022-12-28
Name: date, Length: 70, dtype: datetime64[ns]
after 4    2022-06-05
44   2022-06-01
51   2022-05-15
53   2022-06-08
65   2022-06-02
66   2022-05-16
67   2022-05-31
Name: date, dtype: datetime64[ns]
before 0    2022-12-28
1    2022-06-09
2    2022-06-16
3    2022-06-23
4    2022-06-05
5    2022-12-09
6    2022-06-23
7    2023-01-18
8    2022-10-27
9    2022-06-19
10   2021-12-17
11   2022-08-08
12   2022-07-24
13   2022-11-22
14   2022-06-30
15   2023-07-22
16   2022-06-30
17   2023-05-08
18   2022-06-15
19   2022-06-01
20   2022-03-11
Name: date, dtype: datetime64[ns]
after 1    2022-06-09
4    2022-06-05
19   2022-06-01
Name: date, dtype: datetime64[ns]
before 0    2022-12-28
1    2022-06-07
2    2022-06-09
3    2022-06-15
4    2022-06-09
5    2022-06-24
6    2022-09-25
7    2023-05-12
8    2022-12-19
9    2023-07-17
10   2022-06-05
11   2023-02-17
12   2022-06-23
13   2022-06-19
14   2022-10-27
15   2023-04-03
16   2022-12-06
17   2022-07-10
18   2023-03-14
19   2023-07-22
20   2022-07-24
21   2022-06-05
22   2023-01-17
23   2022-07-01
24   2022-06-16
25   2022-06-30
26   2022-08-09
27   2022-06-01
28   2022-08-05
Name: date, dtype: datetime64[ns]
after 1    2022-06-07
2    2022-06-09
4    2022-06-09
10   2022-06-05
21   2022-06-05
27   2022-06-01
Name: date, dtype: datetime64[ns]
before 0    2023-05-30
1    2022-07-14
2    2022-06-10
3    2022-06-05
4    2022-07-03
5    2022-05-31
6    2022-06-23
7    2022-10-27
8    2022-06-19
9    2022-07-17
10   2022-10-25
11   2022-06-01
12   2023-07-22
13   2022-07-27
14   2022-06-30
15   2022-05-16
16   2022-04-22
17   2022-07-08
18   2022-04-24
19   2022-07-01
20   2022-07-11
Name: date, dtype: datetime64[ns]
after 3    2022-06-05
5    2022-05-31
11   2022-06-01
15   2022-05-16
Name: date, dtype: datetime64[ns]
before 0    2022-06-08
1    2022-06-05
2    2022-09-18
3    2022-07-17
4    2022-07-03
5    2022-06-17
6    2020-08-14
7    2023-05-16
8    2023-03-02
9    2022-07-18
10   2020-09-04
11   2022-12-29
12   2022-06-16
13   2023-07-22
14   2022-01-25
15   2023-06-09
16   2022-07-21
17   2022-06-22
18   2020-06-23
19   2022-06-21
20   2022-06-01
21   2022-05-30
22   2022-05-23
Name: date, dtype: datetime64[ns]
after 1    2022-06-05
20   2022-06-01
21   2022-05-30
22   2022-05-23
Name: date, dtype: datetime64[ns]
before 0   2022-05-17
1   2022-07-25
2   2022-05-23
3   2023-01-17
4   2022-07-03
5   2022-06-03
6   2022-05-01
7   2023-07-22
8   2022-02-04
Name: date, dtype: datetime64[ns]
after 0   2022-05-17
2   2022-05-23
6   2022-05-01
Name: date, dtype: datetime64[ns]
before 0   2022-05-25
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2022-05-04
1    2023-03-12
2    2022-06-29
3    2022-08-28
4    2022-05-05
5    2022-04-08
6    2022-05-08
7    2022-05-02
8    2023-03-13
9    2022-06-09
10   2022-08-08
11   2023-06-30
12   2022-02-09
13   2021-08-09
14   2022-06-10
15   2022-03-29
16   2023-07-10
17   2022-06-26
18   2022-07-06
19   2022-04-03
20   2022-06-10
21   2023-07-19
22   2022-06-15
23   2022-06-28
24   2023-07-20
25   2023-07-18
26   2022-01-14
27   2022-04-24
Name: date, dtype: datetime64[ns]
after 0    2022-05-04
4    2022-05-05
6    2022-05-08
7    2022-05-02
27   2022-04-24
Name: date, dtype: datetime64[ns]
before 0    2022-05-18
1    2022-05-11
2    2022-04-19
3    2022-08-21
4    2022-06-19
5    2022-05-01
6    2023-05-12
7    2023-06-23
8    2022-05-01
9    2022-05-13
10   2023-07-18
11   2023-07-14
12   2022-07-01
13   2022-09-28
14   2023-07-05
15   2022-06-05
16   2022-05-10
17   2022-06-28
18   2022-05-17
19   2022-06-19
20   2022-08-09
21   2022-09-12
22   2021-09-29
23   2022-04-27
24   2022-04-19
25   2022-05-03
26   2023-05-24
27   2022-04-23
28   2023-07-18
29   2022-06-10
30   2023-07-04
31   2022-05-30
32   2023-03-24
33   2023-04-26
34   2022-06-09
35   2021-08-04
36   2021-09-29
37   2022-04-24
38   2022-11-28
39   2021-10-31
40   2022-11-09
41   2022-09-16
42   2022-06-02
43   2021-10-07
44   2022-07-28
45   2022-03-10
46   2022-02-03
47   2022-04-25
48   2021-04-18
49   2022-01-29
50   2022-12-28
Name: date, dtype: datetime64[ns]
after 2    2022-04-19
5    2022-05-01
8    2022-05-01
16   2022-05-10
23   2022-04-27
24   2022-04-19
25   2022-05-03
27   2022-04-23
37   2022-04-24
47   2022-04-25
Name: date, dtype: datetime64[ns]
before 0    2022-02-22
1    2022-04-29
2    2022-05-03
3    2023-02-24
4    2022-05-16
5    2022-09-04
6    2022-12-08
7    2023-02-17
8    2023-02-27
9    2022-06-23
10   2022-05-01
11   2023-04-18
12   2022-05-01
13   2022-02-15
14   2022-02-16
15   2022-03-02
16   2022-08-14
17   2023-06-23
18   2023-06-19
19   2022-04-26
20   2022-09-21
21   2022-03-20
22   2021-10-18
23   2022-03-17
24   2022-03-28
25   2022-04-22
26   2022-08-09
27   2022-03-24
28   2022-05-15
29   2022-03-28
30   2022-05-22
31   2022-05-06
32   2022-05-22
33   2022-05-09
34   2022-04-23
35   2022-04-19
36   2022-03-16
37   2022-01-25
38   2022-03-22
39   2022-03-31
40   2022-06-08
41   2020-04-24
42   2022-02-23
43   2022-04-22
44   2022-12-28
Name: date, dtype: datetime64[ns]
after 1    2022-04-29
10   2022-05-01
12   2022-05-01
19   2022-04-26
25   2022-04-22
34   2022-04-23
35   2022-04-19
43   2022-04-22
Name: date, dtype: datetime64[ns]
before 0   2022-04-11
1   2022-04-12
2   2022-07-24
3   2022-04-14
4   2022-05-25
Name: date, dtype: datetime64[ns]
after 0   2022-04-11
1   2022-04-12
3   2022-04-14
Name: date, dtype: datetime64[ns]
before 0    2022-04-19
1    2022-04-29
2    2022-11-30
3    2022-04-28
4    2022-12-26
5    2022-04-01
6    2022-04-12
7    2022-03-24
8    2022-12-09
9    2022-06-23
10   2022-07-24
11   2023-05-11
12   2022-04-04
13   2022-04-21
14   2022-10-13
15   2022-04-11
16   2021-03-08
17   2022-05-08
18   2022-05-06
19   2022-07-12
20   2022-12-05
21   2022-04-01
22   2021-12-13
23   2022-03-23
24   2022-04-08
25   2022-05-19
26   2022-05-03
27   2022-05-16
28   2022-05-01
29   2022-06-10
30   2022-04-24
31   2022-04-14
32   2021-07-20
33   2020-10-22
34   2022-04-21
35   2022-04-20
36   2022-04-20
37   2022-04-21
Name: date, dtype: datetime64[ns]
after 5    2022-04-01
6    2022-04-12
7    2022-03-24
12   2022-04-04
15   2022-04-11
21   2022-04-01
23   2022-03-23
24   2022-04-08
31   2022-04-14
Name: date, dtype: datetime64[ns]
before 0   2022-04-22
1   2022-04-11
2   2022-04-12
3   2022-07-24
4   2022-06-22
5   2022-05-08
6   2022-04-14
7   2022-05-25
8   2022-04-24
Name: date, dtype: datetime64[ns]
after 1   2022-04-11
2   2022-04-12
6   2022-04-14
Name: date, dtype: datetime64[ns]
before 0   2022-04-11
1   2022-04-12
2   2022-07-24
3   2022-05-08
4   2022-04-14
5   2022-05-25
Name: date, dtype: datetime64[ns]
after 0   2022-04-11
1   2022-04-12
4   2022-04-14
Name: date, dtype: datetime64[ns]
before 0   2023-06-12
1   2022-04-11
2   2022-04-12
3   2022-07-17
4   2022-03-28
5   2022-04-14
6   2022-03-16
7   2022-04-24
8   2022-05-19
9   2022-05-25
Name: date, dtype: datetime64[ns]
after 4   2022-03-28
6   2022-03-16
Name: date, dtype: datetime64[ns]
before 0   2022-03-27
1   2022-03-28
2   2022-05-25
3   2022-06-08
Name: date, dtype: datetime64[ns]
after 0   2022-03-27
Name: date, dtype: datetime64[ns]
before 0    2022-02-04
1    2022-03-23
2    2022-12-07
3    2022-02-08
4    2022-03-09
5    2023-03-31
6    2022-12-09
7    2023-01-17
8    2022-06-23
9    2022-10-02
10   2022-03-13
11   2022-03-27
12   2022-06-26
13   2023-06-19
14   2022-03-22
15   2022-05-01
16   2023-06-08
17   2022-07-01
18   2022-03-21
19   2022-07-31
20   2022-03-12
21   2022-03-15
22   2022-04-03
23   2022-03-22
24   2022-03-04
25   2022-02-11
26   2022-02-04
27   2022-07-11
28   2022-03-24
29   2022-03-24
Name: date, dtype: datetime64[ns]
after 4    2022-03-09
10   2022-03-13
18   2022-03-21
20   2022-03-12
21   2022-03-15
24   2022-03-04
Name: date, dtype: datetime64[ns]
before 0   2022-04-22
1   2022-06-26
2   2022-03-13
3   2022-03-21
4   2022-05-01
5   2022-05-25
6   2022-04-24
7   2022-05-06
Name: date, dtype: datetime64[ns]
after 2   2022-03-13
3   2022-03-21
Name: date, dtype: datetime64[ns]
before 0    2022-03-15
1    2022-03-24
2    2022-03-16
3    2023-01-23
4    2023-01-18
5    2022-12-09
6    2022-11-22
7    2022-06-19
8    2023-01-05
9    2022-03-24
10   2022-03-21
11   2022-01-17
12   2022-04-03
13   2022-03-08
14   2022-03-13
15   2022-03-08
16   2022-08-08
17   2022-07-01
18   2022-11-22
19   2022-06-05
20   2022-03-22
21   2022-03-16
22   2022-03-12
23   2022-01-25
24   2022-03-09
25   2022-03-04
26   2022-02-23
27   2022-12-28
Name: date, dtype: datetime64[ns]
after 13   2022-03-08
14   2022-03-13
15   2022-03-08
22   2022-03-12
24   2022-03-09
25   2022-03-04
26   2022-02-23
Name: date, dtype: datetime64[ns]
before 0    2022-06-17
1    2022-03-12
2    2022-12-07
3    2022-03-23
4    2023-01-17
5    2022-04-03
6    2022-03-13
7    2022-07-25
8    2022-11-02
9    2022-07-04
10   2022-03-14
11   2022-03-21
12   2022-03-02
13   2022-07-31
14   2021-09-02
15   2022-07-12
16   2022-06-26
17   2022-07-01
18   2023-06-02
19   2022-03-24
20   2022-03-28
21   2022-03-16
22   2022-03-22
23   2022-03-04
24   2022-06-08
25   2022-03-24
26   2022-06-08
27   2022-07-05
28   2022-03-30
Name: date, dtype: datetime64[ns]
after 1    2022-03-12
6    2022-03-13
12   2022-03-02
23   2022-03-04
Name: date, dtype: datetime64[ns]
before 0    2023-06-15
1    2022-03-17
2    2022-03-04
3    2022-09-18
4    2022-03-21
5    2022-06-19
6    2022-03-14
7    2022-12-09
8    2023-01-17
9    2023-02-07
10   2022-09-21
11   2022-04-04
12   2022-04-03
13   2022-02-24
14   2022-02-07
15   2023-02-23
16   2022-03-17
17   2022-03-03
18   2022-06-19
19   2022-12-22
20   2022-11-08
21   2022-02-19
22   2022-06-05
23   2022-02-17
24   2022-04-28
25   2022-03-28
26   2022-01-27
27   2023-04-25
28   2022-02-21
29   2022-02-25
30   2022-04-03
31   2022-12-05
32   2022-03-16
33   2022-03-22
34   2022-07-11
35   2022-03-30
36   2022-03-22
Name: date, dtype: datetime64[ns]
after 2    2022-03-04
13   2022-02-24
14   2022-02-07
17   2022-03-03
21   2022-02-19
23   2022-02-17
28   2022-02-21
29   2022-02-25
Name: date, dtype: datetime64[ns]
before 0    2023-04-10
1    2023-07-05
2    2022-03-29
3    2022-09-25
4    2023-02-15
5    2023-03-13
6    2022-01-20
7    2022-05-05
8    2022-04-08
9    2022-06-26
10   2022-04-03
11   2022-02-09
12   2022-03-04
13   2022-03-27
14   2022-07-06
15   2022-03-02
16   2022-05-04
17   2022-06-15
18   2022-01-14
19   2022-05-13
20   2021-11-24
Name: date, dtype: datetime64[ns]
after 11   2022-02-09
Name: date, dtype: datetime64[ns]
before 0    2022-02-25
1    2022-12-09
2    2022-03-14
3    2022-02-07
4    2022-05-26
5    2022-07-31
6    2022-01-25
7    2022-06-19
8    2022-05-13
9    2023-07-11
10   2022-02-28
11   2022-03-28
12   2022-04-03
13   2022-03-16
14   2022-07-19
15   2022-02-24
Name: date, dtype: datetime64[ns]
after 3    2022-02-07
6    2022-01-25
15   2022-02-24
Name: date, dtype: datetime64[ns]
before 0   2022-02-13
Name: date, dtype: datetime64[ns]
after 0   2022-02-13
Name: date, dtype: datetime64[ns]
before 0    2022-02-21
1    2022-12-30
2    2022-03-28
3    2023-02-23
4    2022-03-30
        ...
62   2018-11-10
63   2019-05-31
64   2020-05-03
65   2017-04-26
66   2019-07-17
Name: date, Length: 67, dtype: datetime64[ns]
after 5    2022-02-13
7    2022-02-11
13   2022-02-07
14   2022-02-17
16   2022-02-13
18   2022-02-19
22   2022-02-13
51   2022-02-11
53   2022-02-04
Name: date, dtype: datetime64[ns]
before 0    2022-02-19
1    2023-01-20
2    2023-01-17
3    2022-12-09
4    2022-02-13
5    2023-01-17
6    2022-04-03
7    2022-02-22
8    2022-03-14
9    2022-02-13
10   2022-02-07
11   2022-02-22
12   2022-07-01
13   2023-03-29
14   2023-01-17
15   2022-02-15
16   2022-06-05
17   2023-01-17
18   2022-03-02
19   2022-02-13
20   2022-08-29
21   2022-02-17
22   2022-02-12
23   2022-03-31
24   2022-02-21
25   2022-02-23
26   2023-06-09
27   2022-02-05
28   2022-02-21
29   2022-02-22
30   2022-02-15
31   2022-03-16
32   2022-02-24
33   2022-03-03
Name: date, dtype: datetime64[ns]
after 0    2022-02-19
4    2022-02-13
9    2022-02-13
10   2022-02-07
15   2022-02-15
19   2022-02-13
21   2022-02-17
22   2022-02-12
27   2022-02-05
30   2022-02-15
Name: date, dtype: datetime64[ns]
before 0    2022-02-17
1    2022-02-28
2    2022-08-28
3    2022-03-27
4    2022-02-10
5    2022-03-14
6    2022-01-17
7    2022-12-19
8    2022-02-06
9    2022-02-13
10   2023-01-26
11   2021-09-30
12   2022-02-07
13   2022-02-22
14   2023-01-17
15   2022-07-01
16   2022-02-06
17   2022-06-19
18   2022-02-19
19   2022-02-05
20   2022-06-09
21   2022-04-01
22   2022-04-19
23   2022-02-15
24   2022-02-21
25   2022-02-11
26   2022-02-22
27   2022-01-24
28   2022-05-30
29   2019-12-16
Name: date, dtype: datetime64[ns]
after 4    2022-02-10
6    2022-01-17
8    2022-02-06
9    2022-02-13
12   2022-02-07
16   2022-02-06
19   2022-02-05
23   2022-02-15
25   2022-02-11
27   2022-01-24
Name: date, dtype: datetime64[ns]
before 0    2022-02-15
1    2022-03-18
2    2022-02-13
3    2023-05-09
4    2022-02-13
5    2022-02-06
6    2022-10-27
7    2022-02-21
8    2022-02-07
9    2023-01-26
10   2023-07-19
11   2023-01-17
12   2022-01-09
13   2022-02-22
14   2022-02-06
15   2022-03-17
16   2022-02-23
17   2022-02-05
18   2022-02-08
19   2022-02-12
20   2022-03-12
21   2022-06-22
22   2022-08-31
23   2022-03-15
24   2022-03-16
25   2022-03-30
26   2022-03-09
27   2022-03-04
28   2022-02-15
29   2022-02-16
Name: date, dtype: datetime64[ns]
after 2    2022-02-13
4    2022-02-13
5    2022-02-06
8    2022-02-07
14   2022-02-06
17   2022-02-05
18   2022-02-08
19   2022-02-12
Name: date, dtype: datetime64[ns]
before 0    2023-08-09
1    2022-02-14
2    2023-06-16
3    2022-12-09
4    2023-06-30
5    2022-06-17
6    2022-12-14
7    2022-02-13
8    2022-01-12
9    2023-03-29
10   2022-02-09
11   2022-02-13
12   2022-02-06
13   2021-08-02
14   2023-05-23
15   2023-03-10
16   2023-01-26
17   2022-02-07
18   2022-01-09
19   2022-12-12
20   2021-10-07
21   2022-02-06
22   2022-02-05
23   2022-09-22
24   2021-01-08
25   2022-06-19
26   2021-09-14
27   2022-04-20
28   2022-04-20
29   2022-02-28
30   2022-10-17
31   2022-03-16
32   2022-03-28
33   2022-04-03
34   2019-09-23
35   2022-02-12
36   2019-07-05
37   2022-03-30
38   2021-06-14
39   2022-03-22
40   2022-02-22
41   2022-01-24
Name: date, dtype: datetime64[ns]
after 1    2022-02-14
7    2022-02-13
10   2022-02-09
11   2022-02-13
12   2022-02-06
17   2022-02-07
21   2022-02-06
22   2022-02-05
35   2022-02-12
41   2022-01-24
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2022-02-13
1   2022-02-06
2   2022-02-21
Name: date, dtype: datetime64[ns]
after 0   2022-02-13
1   2022-02-06
Name: date, dtype: datetime64[ns]
before 0    2022-02-12
1    2023-02-03
2    2022-02-23
3    2023-07-16
4    2022-02-21
5    2022-02-13
6    2022-12-09
7    2022-01-17
8    2022-08-21
9    2022-02-14
10   2023-07-19
11   2023-01-26
12   2023-03-02
13   2022-02-06
14   2022-02-13
15   2022-02-06
16   2022-03-14
17   2022-12-19
18   2023-01-18
19   2023-02-22
20   2022-08-08
21   2022-11-29
22   2022-05-17
23   2022-02-07
24   2021-08-23
25   2023-01-17
26   2022-07-01
27   2022-01-09
28   2022-02-22
29   2022-11-22
30   2022-09-01
31   2023-02-14
32   2022-02-15
33   2022-02-08
34   2022-11-02
35   2022-04-03
36   2022-02-05
37   2022-02-02
38   2022-08-26
39   2020-11-09
40   2023-07-21
41   2022-02-11
42   2022-06-22
43   2022-02-15
44   2022-03-16
45   2022-02-10
46   2022-02-22
47   2022-02-08
48   2022-05-30
49   2022-06-09
50   2020-02-26
51   2020-04-28
52   2022-02-16
53   2022-08-26
54   2022-02-15
55   2022-02-16
Name: date, dtype: datetime64[ns]
after 0    2022-02-12
5    2022-02-13
7    2022-01-17
13   2022-02-06
14   2022-02-13
15   2022-02-06
23   2022-02-07
33   2022-02-08
36   2022-02-05
37   2022-02-02
41   2022-02-11
45   2022-02-10
47   2022-02-08
Name: date, dtype: datetime64[ns]
before 0   2022-02-13
1   2022-02-21
2   2022-02-06
Name: date, dtype: datetime64[ns]
after 2   2022-02-06
Name: date, dtype: datetime64[ns]
before 0    2023-02-23
1    2023-04-21
2    2022-02-08
3    2022-12-30
4    2022-10-21
5    2022-02-04
6    2023-02-02
7    2023-03-02
8    2022-12-09
9    2022-02-13
10   2023-01-17
11   2022-02-07
12   2023-05-18
13   2022-12-21
14   2022-01-23
15   2022-02-06
16   2022-11-22
17   2022-10-19
18   2022-02-05
19   2022-01-23
20   2022-01-13
21   2022-01-09
22   2022-08-31
23   2022-06-19
24   2022-02-06
25   2022-02-22
26   2022-04-01
27   2022-07-19
28   2022-02-21
29   2022-02-25
30   2022-02-15
31   2022-02-23
32   2022-03-24
33   2022-03-16
34   2022-02-02
35   2022-02-11
36   2022-06-15
37   2022-02-24
38   2022-02-08
39   2022-01-21
40   2022-02-22
41   2022-05-30
42   2021-08-26
43   2021-04-18
44   2021-04-16
Name: date, dtype: datetime64[ns]
after 2    2022-02-08
5    2022-02-04
11   2022-02-07
14   2022-01-23
15   2022-02-06
18   2022-02-05
19   2022-01-23
20   2022-01-13
21   2022-01-09
24   2022-02-06
34   2022-02-02
38   2022-02-08
39   2022-01-21
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2022-02-06
1   2022-01-09
2   2022-02-06
Name: date, dtype: datetime64[ns]
after 0   2022-02-06
1   2022-01-09
2   2022-02-06
Name: date, dtype: datetime64[ns]
before 0    2022-01-18
1    2022-02-09
2    2023-07-16
3    2022-02-15
4    2022-12-09
5    2022-02-09
6    2022-02-02
7    2022-02-08
8    2022-02-13
9    2022-02-06
10   2022-04-11
11   2023-01-26
12   2022-05-03
13   2022-02-07
14   2022-01-23
15   2022-02-05
16   2022-01-09
17   2022-02-06
18   2022-01-23
19   2022-02-04
20   2022-03-17
21   2022-03-16
22   2022-01-19
23   2022-02-11
24   2022-04-27
25   2022-03-28
26   2022-02-06
27   2020-12-22
28   2022-02-15
29   2022-04-19
30   2022-02-08
31   2022-03-22
32   2022-03-30
33   2022-01-21
34   2022-01-24
35   2022-02-22
36   2018-04-04
37   2022-02-02
Name: date, dtype: datetime64[ns]
after 0    2022-01-18
6    2022-02-02
9    2022-02-06
14   2022-01-23
15   2022-02-05
16   2022-01-09
17   2022-02-06
18   2022-01-23
19   2022-02-04
22   2022-01-19
26   2022-02-06
33   2022-01-21
34   2022-01-24
37   2022-02-02
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2022-01-24
1    2022-12-28
2    2022-12-09
3    2022-01-23
4    2022-10-20
5    2022-01-17
6    2021-12-29
7    2023-01-26
8    2022-02-06
9    2022-10-27
10   2022-12-21
11   2022-01-16
12   2022-07-01
13   2022-02-06
14   2022-01-23
15   2023-01-17
16   2022-01-17
17   2022-06-19
18   2022-01-16
19   2022-07-12
20   2022-04-19
21   2022-02-11
22   2022-04-03
23   2022-03-16
24   2022-04-01
25   2022-03-30
Name: date, dtype: datetime64[ns]
after 3    2022-01-23
5    2022-01-17
6    2021-12-29
11   2022-01-16
14   2022-01-23
16   2022-01-17
18   2022-01-16
Name: date, dtype: datetime64[ns]
before 0    2022-01-24
1    2022-12-09
2    2023-02-22
3    2022-03-28
4    2022-01-23
5    2022-07-01
6    2022-01-17
7    2022-05-08
8    2023-01-26
9    2022-01-16
10   2022-01-23
11   2022-01-16
12   2022-02-06
13   2022-01-25
14   2022-02-11
15   2020-12-23
16   2022-03-30
17   2021-09-29
18   2020-09-06
Name: date, dtype: datetime64[ns]
after 4    2022-01-23
6    2022-01-17
9    2022-01-16
10   2022-01-23
11   2022-01-16
Name: date, dtype: datetime64[ns]
before 0    2023-08-10
1    2023-08-10
2    2023-06-01
3    2022-12-09
4    2022-01-13
5    2022-02-04
6    2022-02-07
7    2023-07-07
8    2022-03-14
9    2021-12-13
10   2022-01-16
11   2022-05-01
12   2023-02-22
13   2023-01-26
14   2023-03-03
15   2023-06-19
16   2022-01-23
17   2022-01-09
18   2022-01-24
19   2022-09-06
20   2022-01-21
21   2023-06-26
22   2022-01-16
23   2022-02-06
24   2022-04-06
25   2022-04-28
26   2021-08-04
27   2022-02-11
28   2022-01-10
29   2022-02-04
30   2022-03-16
31   2022-08-01
32   2022-01-17
33   2021-07-05
34   2018-04-19
Name: date, dtype: datetime64[ns]
after 4    2022-01-13
10   2022-01-16
17   2022-01-09
22   2022-01-16
28   2022-01-10
32   2022-01-17
Name: date, dtype: datetime64[ns]
before 0    2022-12-28
1    2022-01-04
2    2023-03-13
3    2022-02-04
4    2022-12-19
5    2022-01-17
6    2022-12-21
7    2023-01-26
8    2022-01-16
9    2021-12-01
10   2022-01-09
11   2022-05-01
12   2022-01-23
13   2023-01-17
14   2022-07-01
15   2022-01-24
16   2022-01-13
17   2022-12-29
18   2022-02-11
19   2022-01-21
20   2022-01-16
21   2022-04-19
22   2022-02-06
23   2023-06-09
24   2022-04-03
25   2022-04-01
26   2022-01-25
27   2022-01-10
28   2021-12-07
29   2022-02-21
30   2022-03-16
Name: date, dtype: datetime64[ns]
after 1    2022-01-04
5    2022-01-17
8    2022-01-16
10   2022-01-09
16   2022-01-13
20   2022-01-16
27   2022-01-10
Name: date, dtype: datetime64[ns]
before 0    2023-08-11
1    2023-07-26
2    2023-08-10
3    2023-08-22
4    2023-08-17
        ...
94   2022-01-26
95   2021-12-08
96   2022-04-19
97   2022-02-01
98   2021-11-07
Name: date, Length: 99, dtype: datetime64[ns]
after 7    2022-01-17
17   2022-01-03
18   2022-01-14
29   2022-01-10
36   2022-01-12
42   2022-01-07
54   2022-01-10
59   2022-01-16
71   2022-01-09
78   2022-01-13
84   2022-01-13
85   2022-01-13
89   2022-01-09
91   2022-01-11
92   2022-01-17
Name: date, dtype: datetime64[ns]
before 0    2021-12-30
1    2022-12-30
2    2023-02-23
3    2022-12-28
4    2021-12-31
5    2022-03-28
6    2022-12-09
7    2023-02-02
8    2022-02-08
9    2021-11-30
10   2022-03-14
11   2022-01-07
12   2022-01-02
13   2022-01-09
14   2022-10-21
15   2022-01-16
16   2022-01-24
17   2022-01-24
18   2023-01-17
19   2022-01-13
20   2022-09-07
21   2022-02-11
22   2022-07-19
23   2022-10-19
24   2022-02-23
25   2022-03-16
26   2022-01-10
27   2022-02-25
28   2022-06-15
29   2022-02-02
30   2022-01-25
31   2022-01-11
32   2021-12-14
33   2021-12-14
Name: date, dtype: datetime64[ns]
after 0    2021-12-30
4    2021-12-31
11   2022-01-07
12   2022-01-02
13   2022-01-09
26   2022-01-10
31   2022-01-11
32   2021-12-14
33   2021-12-14
Name: date, dtype: datetime64[ns]
before 0    2022-09-14
1    2022-09-23
2    2023-07-16
3    2021-12-31
4    2022-01-12
5    2022-01-24
6    2023-06-01
7    2022-01-07
8    2022-01-12
9    2022-12-09
10   2022-01-23
11   2023-03-02
12   2022-02-07
13   2023-06-13
14   2023-02-22
15   2022-01-28
16   2022-07-24
17   2023-05-18
18   2022-03-14
19   2022-02-21
20   2022-01-02
21   2022-02-06
22   2023-03-03
23   2023-02-27
24   2022-03-21
25   2022-02-11
26   2022-01-09
27   2022-01-16
28   2022-10-17
29   2022-01-24
30   2022-12-22
31   2022-03-24
32   2022-01-14
33   2022-01-17
34   2022-02-02
35   2022-02-11
36   2022-06-19
37   2022-03-16
38   2022-04-28
39   2022-12-05
40   2022-01-27
41   2022-04-03
42   2022-03-16
43   2022-01-10
44   2022-02-08
45   2022-04-27
46   2022-02-21
47   2022-01-26
48   2022-06-10
49   2022-01-10
50   2022-01-25
51   2021-08-26
52   2022-01-10
53   2022-01-11
Name: date, dtype: datetime64[ns]
after 3    2021-12-31
7    2022-01-07
20   2022-01-02
26   2022-01-09
43   2022-01-10
49   2022-01-10
52   2022-01-10
53   2022-01-11
Name: date, dtype: datetime64[ns]
before 0    2023-08-10
1    2022-01-11
2    2021-12-01
3    2022-12-28
4    2022-01-21
5    2022-12-07
6    2022-01-20
7    2023-03-13
8    2021-12-31
9    2023-01-17
10   2021-12-07
11   2022-02-03
12   2022-01-11
13   2022-10-27
14   2021-11-22
15   2022-01-07
16   2022-01-02
17   2023-02-14
18   2021-09-01
19   2022-01-09
20   2022-07-17
21   2022-04-21
22   2022-01-24
23   2022-08-26
24   2022-01-12
25   2022-01-21
26   2022-11-02
27   2022-07-12
28   2022-02-02
29   2020-11-09
30   2021-12-06
31   2022-01-14
32   2022-03-16
33   2020-10-23
34   2021-01-06
35   2022-04-03
36   2020-02-11
37   2020-02-25
38   2020-09-29
39   2022-02-11
40   2022-06-22
41   2022-02-08
42   2022-01-10
43   2022-09-22
44   2020-02-26
45   2020-09-15
46   2020-04-28
47   2022-03-30
48   2022-01-10
49   2021-12-30
50   2022-01-06
51   2016-06-29
52   2022-01-10
53   2022-01-11
Name: date, dtype: datetime64[ns]
after 8    2021-12-31
15   2022-01-07
16   2022-01-02
19   2022-01-09
42   2022-01-10
48   2022-01-10
49   2021-12-30
50   2022-01-06
52   2022-01-10
Name: date, dtype: datetime64[ns]
before 0   2022-01-09
1   2022-01-02
Name: date, dtype: datetime64[ns]
after 0   2022-01-09
1   2022-01-02
Name: date, dtype: datetime64[ns]
before 0    2023-07-27
1    2023-07-27
2    2023-07-27
3    2022-10-28
4    2022-12-26
5    2021-12-27
6    2023-06-30
7    2023-06-21
8    2021-12-30
9    2022-03-27
10   2021-12-05
11   2023-07-17
12   2022-02-08
13   2022-01-09
14   2022-12-26
15   2021-12-21
16   2023-07-19
17   2021-12-23
18   2023-06-01
19   2022-10-25
20   2023-05-26
21   2023-06-09
22   2023-05-31
23   2023-06-28
24   2021-12-20
25   2023-06-13
26   2023-07-20
27   2023-07-03
28   2023-07-18
29   2023-07-10
30   2023-05-31
31   2023-06-26
32   2023-05-24
33   2023-06-13
34   2023-05-22
35   2023-06-23
36   2022-08-05
37   2023-06-21
38   2023-05-12
39   2021-12-06
40   2023-06-12
41   2021-12-31
42   2021-12-14
43   2023-07-21
44   2023-07-10
45   2023-06-30
46   2023-04-13
47   2023-07-14
48   2023-07-17
49   2021-11-26
50   2021-10-21
51   2022-01-07
52   2021-09-29
53   2022-02-21
54   2021-12-14
55   2021-12-14
Name: date, dtype: datetime64[ns]
after 10   2021-12-05
39   2021-12-06
42   2021-12-14
49   2021-11-26
54   2021-12-14
55   2021-12-14
Name: date, dtype: datetime64[ns]
before 0   2022-01-05
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2023-02-28
1   2022-03-27
2   2022-01-23
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2021-12-05
Name: date, dtype: datetime64[ns]
after 0   2021-12-05
Name: date, dtype: datetime64[ns]
before 0   2022-02-14
1   2023-06-05
2   2022-01-16
3   2022-01-24
4   2022-01-21
5   2021-12-27
6   2021-12-23
7   2022-02-10
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-06-01
1    2021-11-10
2    2023-03-12
3    2021-12-06
4    2021-12-04
5    2021-12-02
6    2021-11-21
7    2021-11-11
8    2023-05-31
9    2021-12-05
10   2023-07-15
11   2021-12-01
12   2023-03-19
13   2021-12-10
14   2021-11-25
15   2023-03-10
16   2021-11-22
17   2023-07-19
18   2022-01-09
19   2021-12-10
20   2021-11-25
21   2023-02-02
22   2021-12-06
23   2023-07-01
24   2021-11-11
25   2021-12-09
26   2021-11-24
27   2023-06-27
28   2021-12-30
29   2022-02-08
30   2018-01-08
31   2021-10-27
32   2021-12-21
33   2021-12-23
34   2021-11-30
35   2019-06-24
36   2020-11-19
37   2022-02-21
38   2021-09-17
39   2021-09-27
40   2019-04-02
41   2021-01-15
42   2021-12-15
43   2018-04-04
44   2019-10-21
45   2019-05-02
46   2021-09-29
Name: date, dtype: datetime64[ns]
after 1    2021-11-10
6    2021-11-21
7    2021-11-11
11   2021-12-01
14   2021-11-25
16   2021-11-22
20   2021-11-25
24   2021-11-11
26   2021-11-24
34   2021-11-30
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2021-11-26
1    2021-11-09
2    2022-12-09
3    2021-11-21
4    2022-01-09
5    2021-11-22
6    2021-12-05
7    2022-02-09
8    2021-11-08
9    2021-10-28
10   2022-01-14
11   2021-11-24
12   2021-08-31
13   2022-05-04
14   2021-12-03
15   2021-12-16
16   2022-03-03
17   2020-07-16
18   2021-11-19
19   2021-08-28
20   2021-01-11
21   2020-06-26
22   2020-09-10
23   2022-01-04
24   2021-09-06
25   2016-10-19
Name: date, dtype: datetime64[ns]
after 1    2021-11-09
3    2021-11-21
5    2021-11-22
8    2021-11-08
9    2021-10-28
18   2021-11-19
Name: date, dtype: datetime64[ns]
before 0   2021-11-21
1   2022-01-02
2   2021-11-22
Name: date, dtype: datetime64[ns]
after 0   2021-11-21
Name: date, dtype: datetime64[ns]
before 0    2022-12-21
1    2021-11-21
2    2022-11-10
3    2021-11-22
4    2023-04-24
5    2022-07-27
6    2022-02-09
7    2022-05-04
8    2022-01-02
9    2021-11-08
10   2022-06-10
11   2021-08-31
12   2023-05-01
13   2022-05-05
14   2021-11-19
15   2022-01-14
16   2021-11-24
17   2022-01-03
18   2021-10-28
19   2022-03-03
20   2021-08-28
21   2021-11-17
22   2021-12-04
23   2021-11-09
24   2021-11-16
Name: date, dtype: datetime64[ns]
after 1    2021-11-21
9    2021-11-08
14   2021-11-19
18   2021-10-28
21   2021-11-17
23   2021-11-09
24   2021-11-16
Name: date, dtype: datetime64[ns]
before 0    2023-07-25
1    2021-11-10
2    2021-11-21
3    2021-11-22
4    2021-11-01
5    2023-07-04
6    2021-10-31
7    2021-11-07
8    2021-11-07
9    2022-09-26
10   2021-11-10
11   2022-10-31
12   2021-11-28
13   2021-08-26
14   2017-03-03
15   2023-05-23
16   2023-05-24
17   2023-05-24
18   2023-05-24
Name: date, dtype: datetime64[ns]
after 1    2021-11-10
4    2021-11-01
6    2021-10-31
7    2021-11-07
8    2021-11-07
10   2021-11-10
Name: date, dtype: datetime64[ns]
before 0    2021-11-09
1    2021-11-15
2    2021-11-22
3    2021-11-21
4    2021-11-07
5    2023-02-02
6    2022-03-28
7    2021-11-23
8    2021-11-07
9    2021-10-15
10   2022-06-19
11   2021-11-10
12   2023-05-10
13   2021-12-07
14   2021-11-01
15   2021-06-07
16   2022-01-12
17   2021-11-28
18   2022-03-02
19   2022-05-29
20   2021-08-26
21   2019-03-27
22   2017-03-03
Name: date, dtype: datetime64[ns]
after 0    2021-11-09
4    2021-11-07
8    2021-11-07
9    2021-10-15
11   2021-11-10
14   2021-11-01
Name: date, dtype: datetime64[ns]
before 0   2021-10-31
1   2021-11-01
2   2021-11-07
3   2022-02-08
4   2021-11-07
5   2023-06-10
6   2021-12-14
7   2022-02-10
8   2021-11-08
9   2021-08-26
Name: date, dtype: datetime64[ns]
after 0   2021-10-31
1   2021-11-01
2   2021-11-07
4   2021-11-07
8   2021-11-08
Name: date, dtype: datetime64[ns]
before 0    2023-07-25
1    2021-11-07
2    2021-11-17
3    2022-02-13
4    2021-11-07
5    2021-10-31
6    2021-11-01
7    2021-11-07
8    2022-07-19
9    2022-07-06
10   2021-12-21
11   2021-11-08
12   2021-08-26
Name: date, dtype: datetime64[ns]
after 1   2021-11-07
4   2021-11-07
5   2021-10-31
6   2021-11-01
7   2021-11-07
Name: date, dtype: datetime64[ns]
before 0    2023-06-26
1    2021-11-01
2    2022-09-06
3    2023-02-15
4    2023-06-28
5    2023-06-13
6    2022-11-10
7    2022-02-13
8    2021-10-31
9    2023-06-12
10   2021-10-28
11   2023-05-24
12   2022-12-09
13   2022-07-27
14   2023-07-21
15   2022-01-03
16   2021-12-21
17   2021-08-31
18   2021-11-04
19   2023-06-13
20   2023-07-17
21   2021-11-19
22   2022-03-04
23   2021-08-28
24   2021-08-17
25   2022-01-14
26   2021-11-05
27   2021-11-09
28   2021-09-06
29   2021-10-01
Name: date, dtype: datetime64[ns]
after 1    2021-11-01
8    2021-10-31
10   2021-10-28
Name: date, dtype: datetime64[ns]
before 0    2021-11-03
1    2022-12-15
2    2023-06-19
3    2023-07-13
4    2021-10-31
5    2021-10-03
6    2021-11-21
7    2021-11-16
8    2022-02-06
9    2023-06-26
10   2021-11-11
11   2021-11-07
12   2022-05-08
13   2021-11-01
14   2022-08-29
15   2022-01-16
16   2021-12-16
17   2022-12-08
18   2022-12-09
19   2021-11-10
20   2021-11-10
21   2021-11-10
22   2021-10-20
23   2021-11-17
24   2021-11-08
25   2022-02-10
26   2021-08-26
27   2021-11-28
28   2022-01-04
Name: date, dtype: datetime64[ns]
after 4    2021-10-31
5    2021-10-03
13   2021-11-01
22   2021-10-20
Name: date, dtype: datetime64[ns]
before 0    2021-11-10
1    2021-10-25
2    2021-12-05
3    2021-09-06
4    2021-11-11
5    2021-10-31
6    2021-11-21
7    2021-11-07
8    2022-02-06
9    2021-10-31
10   2021-11-01
11   2021-10-20
12   2021-09-06
13   2021-10-15
14   2021-11-16
15   2021-11-08
16   2021-11-28
Name: date, dtype: datetime64[ns]
after 1    2021-10-25
5    2021-10-31
9    2021-10-31
11   2021-10-20
13   2021-10-15
Name: date, dtype: datetime64[ns]
before 0    2021-11-02
1    2021-11-11
2    2023-02-06
3    2022-11-29
4    2021-12-05
5    2021-11-01
6    2021-10-31
7    2022-05-08
8    2021-11-21
9    2022-02-06
10   2021-11-07
11   2021-09-15
12   2022-03-04
13   2021-10-16
14   2023-02-16
15   2021-10-31
16   2022-06-19
17   2022-01-16
18   2023-02-16
19   2021-11-16
20   2021-12-02
21   2021-09-29
22   2023-07-11
23   2023-06-26
24   2022-11-16
25   2021-11-09
26   2021-11-16
27   2021-11-10
28   2021-10-20
29   2021-11-10
30   2022-01-20
31   2021-12-21
32   2021-10-02
33   2021-11-01
34   2021-11-22
35   2022-02-10
36   2023-07-11
37   2021-09-28
38   2021-11-08
39   2022-03-14
40   2021-07-05
41   2021-12-15
42   2021-10-14
43   2021-10-28
44   2022-04-25
Name: date, dtype: datetime64[ns]
after 6    2021-10-31
13   2021-10-16
15   2021-10-31
28   2021-10-20
32   2021-10-02
42   2021-10-14
43   2021-10-28
Name: date, dtype: datetime64[ns]
before 0    2021-11-01
1    2021-07-20
2    2021-10-31
3    2021-11-21
4    2021-11-09
5    2021-11-07
6    2022-02-06
7    2022-06-19
8    2022-01-14
9    2021-11-10
10   2021-11-11
11   2021-11-10
12   2021-11-10
13   2021-10-20
14   2021-11-08
15   2021-12-21
16   2021-09-28
17   2021-11-28
18   2021-08-26
Name: date, dtype: datetime64[ns]
after 2    2021-10-31
13   2021-10-20
Name: date, dtype: datetime64[ns]
before 0    2021-10-28
1    2021-11-08
2    2021-11-21
3    2021-10-17
4    2021-10-31
5    2021-11-07
6    2021-10-17
7    2023-01-20
8    2023-06-23
9    2021-11-11
10   2022-01-16
11   2021-12-07
12   2021-12-16
13   2022-11-22
14   2022-07-19
15   2021-11-10
16   2022-02-10
17   2021-01-07
18   2022-02-07
19   2022-01-17
20   2021-08-16
21   2021-10-28
22   2021-06-01
23   2022-06-15
24   2022-10-19
25   2021-11-08
26   2021-05-24
27   2021-09-27
28   2021-08-26
29   2021-10-28
Name: date, dtype: datetime64[ns]
after 3    2021-10-17
6    2021-10-17
27   2021-09-27
Name: date, dtype: datetime64[ns]
before 0    2023-08-17
1    2023-07-24
2    2023-05-19
3    2023-07-19
4    2023-07-26
        ...
95   2020-09-28
96   2021-07-21
97   2021-07-14
98   2022-03-20
99   2021-05-05
Name: date, Length: 100, dtype: datetime64[ns]
after 13   2021-10-17
43   2021-10-20
48   2021-10-22
71   2021-10-17
86   2021-09-26
Name: date, dtype: datetime64[ns]
before 0    2023-06-05
1    2023-04-26
2    2021-10-31
3    2022-10-25
4    2022-05-01
5    2023-03-27
6    2021-10-17
7    2023-07-18
8    2021-10-21
9    2023-07-12
10   2021-10-17
11   2023-03-31
12   2023-05-04
13   2021-10-20
14   2023-06-09
15   2023-06-28
16   2023-07-05
17   2023-04-19
18   2023-02-08
19   2021-10-21
20   2022-01-07
21   2021-08-31
Name: date, dtype: datetime64[ns]
after 6    2021-10-17
8    2021-10-21
10   2021-10-17
13   2021-10-20
19   2021-10-21
Name: date, dtype: datetime64[ns]
before 0    2023-07-27
1    2021-10-22
2    2023-03-13
3    2023-07-11
4    2022-10-11
5    2021-10-18
6    2022-06-15
7    2021-10-20
8    2022-10-04
9    2022-09-16
10   2021-10-17
11   2021-10-22
12   2021-11-25
13   2021-10-17
14   2023-07-04
15   2021-09-27
16   2021-11-11
17   2022-12-06
18   2021-10-31
19   2021-10-20
20   2021-10-14
21   2021-10-15
22   2022-07-14
23   2023-07-05
24   2021-10-31
25   2023-07-11
26   2023-07-18
27   2021-12-02
28   2022-06-19
29   2021-10-24
30   2021-12-14
31   2023-06-30
32   2022-01-16
33   2022-07-21
34   2022-11-16
35   2022-10-17
36   2022-12-25
37   2021-04-01
38   2021-11-15
39   2022-05-24
40   2020-09-08
41   2021-07-27
42   2021-10-14
43   2021-10-21
44   2021-08-25
45   2021-10-22
46   2021-05-27
47   2022-02-10
48   2021-11-05
49   2021-10-20
50   2021-10-28
51   2021-06-09
Name: date, dtype: datetime64[ns]
after 5    2021-10-18
7    2021-10-20
10   2021-10-17
13   2021-10-17
15   2021-09-27
19   2021-10-20
20   2021-10-14
21   2021-10-15
42   2021-10-14
49   2021-10-20
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2021-11-02
1    2021-10-20
2    2021-10-17
3    2021-10-18
4    2021-10-19
5    2021-10-17
6    2021-09-11
7    2021-08-27
8    2021-12-07
9    2021-10-22
10   2021-10-14
11   2022-02-10
12   2021-10-20
13   2021-11-28
14   2016-09-07
15   2021-09-29
Name: date, dtype: datetime64[ns]
after 2    2021-10-17
3    2021-10-18
4    2021-10-19
5    2021-10-17
10   2021-10-14
15   2021-09-29
Name: date, dtype: datetime64[ns]
before 0   2021-10-18
1   2023-03-14
2   2023-04-03
3   2021-10-17
4   2021-10-17
5   2022-07-11
6   2021-08-26
Name: date, dtype: datetime64[ns]
after 0   2021-10-18
3   2021-10-17
4   2021-10-17
Name: date, dtype: datetime64[ns]
before 0    2021-10-18
1    2023-05-18
2    2023-05-25
3    2023-04-10
4    2023-07-09
5    2022-03-14
6    2021-10-17
7    2021-10-17
8    2021-10-17
9    2021-10-28
10   2021-11-09
11   2021-09-23
12   2021-10-18
13   2021-10-28
14   2021-10-22
15   2023-06-09
16   2023-02-07
17   2023-07-07
Name: date, dtype: datetime64[ns]
after 6    2021-10-17
7    2021-10-17
8    2021-10-17
11   2021-09-23
Name: date, dtype: datetime64[ns]
before 0    2023-07-19
1    2023-06-26
2    2021-08-15
3    2021-08-28
4    2022-09-21
5    2021-10-17
6    2021-11-21
7    2021-10-03
8    2023-04-26
9    2022-01-23
10   2021-09-29
11   2023-04-03
12   2023-07-11
13   2023-07-21
14   2021-10-08
15   2023-03-14
16   2023-06-29
17   2023-01-12
18   2023-02-02
19   2023-03-20
20   2023-05-10
21   2023-06-23
22   2021-07-27
23   2021-10-26
24   2021-07-23
25   2021-07-02
26   2022-03-03
27   2022-01-06
28   2022-10-05
29   2017-01-10
30   2022-01-19
31   2021-08-07
32   2021-07-30
33   2021-07-13
34   2022-03-28
35   2020-01-06
36   2022-01-07
37   2021-09-07
38   2020-09-17
39   2020-06-30
40   2023-08-03
41   2021-08-10
42   2021-10-18
43   2021-10-20
44   2021-08-30
45   2022-11-22
46   2021-08-25
47   2021-10-18
48   2022-07-19
49   2021-08-10
50   2021-10-17
51   2021-06-30
52   2021-08-13
53   2021-10-06
54   2022-11-02
55   2021-10-08
56   2021-04-19
57   2021-08-30
58   2019-01-16
59   2018-08-03
Name: date, dtype: datetime64[ns]
after 7    2021-10-03
10   2021-09-29
14   2021-10-08
53   2021-10-06
55   2021-10-08
Name: date, dtype: datetime64[ns]
before 0    2021-09-09
1    2021-10-17
2    2021-10-31
3    2021-10-21
4    2021-11-21
5    2021-10-03
6    2021-10-08
7    2022-03-14
8    2021-10-13
9    2022-01-16
10   2021-10-20
11   2021-10-18
12   2021-10-05
13   2021-10-25
14   2022-01-16
15   2021-12-06
16   2021-12-07
17   2021-10-31
18   2021-09-30
19   2022-02-10
20   2021-10-24
21   2021-09-30
22   2022-02-02
23   2021-12-21
24   2021-06-01
25   2021-10-28
26   2021-08-26
Name: date, dtype: datetime64[ns]
after 5    2021-10-03
6    2021-10-08
12   2021-10-05
18   2021-09-30
21   2021-09-30
Name: date, dtype: datetime64[ns]
before 0   2021-10-03
1   2022-01-16
2   2022-06-22
3   2021-10-06
Name: date, dtype: datetime64[ns]
after 0   2021-10-03
Name: date, dtype: datetime64[ns]
before 0    2021-09-30
1    2021-09-30
2    2021-09-29
3    2021-09-26
4    2021-09-27
        ...
59   2021-08-30
60   2021-10-24
61   2022-01-10
62   2021-11-03
63   2018-03-16
Name: date, Length: 64, dtype: datetime64[ns]
after 2    2021-09-29
3    2021-09-26
4    2021-09-27
8    2021-09-26
11   2021-08-31
34   2021-09-29
53   2021-09-03
55   2021-09-28
57   2021-09-29
59   2021-08-30
Name: date, dtype: datetime64[ns]
before 0    2021-09-29
1    2021-09-26
2    2021-10-03
3    2021-09-28
4    2021-10-17
5    2022-04-03
6    2021-09-26
7    2021-11-07
8    2021-11-16
9    2021-10-31
10   2021-09-30
11   2021-09-23
12   2021-08-26
Name: date, dtype: datetime64[ns]
after 1    2021-09-26
6    2021-09-26
11   2021-09-23
Name: date, dtype: datetime64[ns]
before 0    2021-09-23
1    2021-09-26
2    2021-09-27
3    2021-09-28
4    2021-10-03
5    2022-04-03
6    2021-09-26
7    2023-04-27
8    2021-10-20
9    2021-11-07
10   2021-10-17
11   2022-01-02
12   2023-03-13
13   2021-09-11
14   2021-11-16
15   2023-03-20
16   2021-10-07
17   2022-07-12
18   2021-09-30
19   2021-10-26
20   2021-10-20
21   2021-10-24
22   2021-10-01
23   2021-10-20
24   2021-09-30
25   2022-07-11
26   2021-10-31
27   2021-10-05
28   2021-06-10
29   2021-08-26
Name: date, dtype: datetime64[ns]
after 0    2021-09-23
1    2021-09-26
6    2021-09-26
13   2021-09-11
Name: date, dtype: datetime64[ns]
before 0   2021-09-26
1   2021-09-11
Name: date, dtype: datetime64[ns]
after 0   2021-09-26
1   2021-09-11
Name: date, dtype: datetime64[ns]
before 0    2021-09-26
1    2021-09-26
2    2021-10-03
3    2021-09-28
4    2021-10-08
5    2022-04-03
6    2021-11-07
7    2021-10-17
8    2022-07-14
9    2021-09-11
10   2021-11-16
11   2021-12-22
12   2022-07-20
13   2022-06-19
14   2021-10-20
15   2021-10-07
16   2021-09-30
17   2021-10-31
18   2022-08-02
19   2021-10-05
20   2021-10-01
21   2021-10-20
22   2022-07-21
23   2021-08-26
Name: date, dtype: datetime64[ns]
after 0   2021-09-26
1   2021-09-26
9   2021-09-11
Name: date, dtype: datetime64[ns]
before 0   2023-03-28
1   2022-12-29
2   2022-08-30
3   2022-09-15
4   2021-10-03
5   2021-09-11
6   2021-08-22
7   2021-12-31
8   2022-07-11
9   2021-10-05
Name: date, dtype: datetime64[ns]
after 5   2021-09-11
Name: date, dtype: datetime64[ns]
before 0    2023-01-25
1    2021-09-06
2    2021-10-15
3    2021-09-16
4    2021-11-05
5    2021-09-13
6    2021-09-29
7    2021-09-26
8    2021-09-14
9    2021-09-11
10   2021-09-13
11   2021-10-18
12   2021-10-30
13   2021-09-04
14   2021-08-11
15   2021-10-07
16   2021-10-20
17   2021-09-16
18   2021-11-04
19   2021-10-03
20   2021-12-14
21   2021-09-05
22   2021-10-17
23   2021-10-02
24   2021-09-30
25   2022-02-10
26   2021-07-12
Name: date, dtype: datetime64[ns]
after 1    2021-09-06
5    2021-09-13
9    2021-09-11
10   2021-09-13
13   2021-09-04
21   2021-09-05
Name: date, dtype: datetime64[ns]
before 0    2023-05-22
1    2023-05-25
2    2023-05-25
3    2023-05-25
4    2021-09-14
5    2023-05-09
6    2023-05-11
7    2023-04-18
8    2023-05-25
9    2021-09-08
10   2021-09-07
11   2023-05-14
12   2021-09-09
13   2022-03-27
14   2021-10-15
15   2021-09-16
16   2021-09-26
17   2023-05-14
18   2021-11-16
19   2022-06-13
20   2021-09-11
21   2023-04-03
22   2021-09-04
23   2021-10-20
24   2023-03-14
25   2022-05-17
26   2022-05-23
27   2023-06-05
28   2021-09-05
29   2021-10-28
30   2021-09-17
31   2021-10-05
32   2022-07-31
33   2022-04-22
34   2023-05-24
35   2021-09-13
36   2022-07-05
37   2021-04-27
38   2021-08-27
39   2021-09-23
40   2021-08-26
Name: date, dtype: datetime64[ns]
after 9    2021-09-08
10   2021-09-07
12   2021-09-09
20   2021-09-11
22   2021-09-04
28   2021-09-05
35   2021-09-13
38   2021-08-27
40   2021-08-26
Name: date, dtype: datetime64[ns]
before 0    2022-10-05
1    2022-03-27
2    2021-09-11
3    2021-10-15
4    2022-11-29
5    2021-11-05
6    2021-09-16
7    2021-09-26
8    2021-09-28
9    2021-11-16
10   2021-09-04
11   2021-10-20
12   2021-09-16
13   2021-10-18
14   2021-12-16
15   2022-03-28
16   2021-09-29
17   2021-09-05
18   2021-10-28
19   2021-10-02
20   2021-10-22
21   2021-10-17
22   2021-09-07
23   2021-09-17
24   2022-01-25
25   2022-02-10
26   2021-10-05
27   2021-08-30
28   2021-04-12
29   2021-08-26
Name: date, dtype: datetime64[ns]
after 2    2021-09-11
10   2021-09-04
17   2021-09-05
22   2021-09-07
27   2021-08-30
29   2021-08-26
Name: date, dtype: datetime64[ns]
before 0   2021-09-26
1   2021-09-11
2   2021-09-04
Name: date, dtype: datetime64[ns]
after 1   2021-09-11
2   2021-09-04
Name: date, dtype: datetime64[ns]
before 0    2022-03-28
1    2023-04-18
2    2021-10-15
3    2021-09-11
4    2021-09-23
5    2022-10-05
6    2021-09-26
7    2021-11-16
8    2023-07-12
9    2022-08-17
10   2021-09-04
11   2021-09-08
12   2021-10-11
13   2021-08-30
14   2022-08-03
15   2021-09-05
16   2021-10-27
17   2021-09-30
18   2022-01-01
19   2022-08-05
20   2020-09-24
21   2021-09-17
22   2022-01-19
23   2022-07-13
24   2021-09-07
25   2021-08-26
26   2023-07-11
27   2022-04-25
Name: date, dtype: datetime64[ns]
after 3    2021-09-11
10   2021-09-04
11   2021-09-08
13   2021-08-30
15   2021-09-05
24   2021-09-07
25   2021-08-26
Name: date, dtype: datetime64[ns]
before 0    2023-08-18
1    2021-09-02
2    2021-09-07
3    2021-09-08
4    2023-07-28
        ...
95   2022-03-22
96   2021-12-17
97   2021-12-16
98   2021-11-02
99   2021-12-23
Name: date, Length: 100, dtype: datetime64[ns]
after 1    2021-09-02
12   2021-08-10
26   2021-09-05
27   2021-08-27
31   2021-09-02
32   2021-09-04
35   2021-08-28
45   2021-08-13
59   2021-08-19
72   2021-09-02
75   2021-08-30
Name: date, dtype: datetime64[ns]
before 0   2021-09-04
1   2021-08-28
Name: date, dtype: datetime64[ns]
after 0   2021-09-04
1   2021-08-28
Name: date, dtype: datetime64[ns]
before 0   2021-09-03
1   2021-08-28
2   2021-07-14
3   2021-09-11
4   2021-09-26
5   2021-08-22
6   2021-09-16
7   2021-09-13
8   2021-08-26
Name: date, dtype: datetime64[ns]
after 1   2021-08-28
5   2021-08-22
8   2021-08-26
Name: date, dtype: datetime64[ns]
before 0    2021-09-01
1    2021-09-30
2    2021-08-29
3    2021-08-28
4    2021-12-05
5    2021-08-22
6    2021-09-05
7    2021-09-04
8    2021-09-26
9    2022-01-04
10   2021-10-08
11   2021-10-03
12   2021-10-20
13   2021-10-24
14   2022-01-16
15   2021-10-05
16   2021-09-02
Name: date, dtype: datetime64[ns]
after 2   2021-08-29
3   2021-08-28
5   2021-08-22
Name: date, dtype: datetime64[ns]
before 0    2023-07-27
1    2023-07-27
2    2021-07-14
3    2021-08-22
4    2023-02-02
5    2021-08-28
6    2021-09-05
7    2021-10-03
8    2021-12-05
9    2021-09-04
10   2021-10-07
11   2021-11-12
12   2021-10-14
13   2021-08-25
14   2021-10-30
15   2022-09-26
16   2021-10-03
17   2022-01-10
18   2017-01-06
19   2021-10-05
20   2021-09-13
21   2020-04-07
22   2021-09-02
23   2022-02-10
24   2021-08-31
25   2021-08-30
Name: date, dtype: datetime64[ns]
after 3    2021-08-22
5    2021-08-28
13   2021-08-25
Name: date, dtype: datetime64[ns]
before 0    2023-08-10
1    2023-08-10
2    2023-08-11
3    2021-09-01
4    2023-06-12
        ...
95   2023-04-13
96   2022-05-05
97   2022-11-28
98   2023-07-11
99   2023-03-08
Name: date, Length: 100, dtype: datetime64[ns]
after 5    2021-08-22
40   2021-08-28
55   2021-08-18
Name: date, dtype: datetime64[ns]
before 0    2023-08-11
1    2021-08-25
2    2021-08-25
3    2021-08-26
4    2021-08-22
        ...
57   2021-08-20
58   2021-08-26
59   2020-06-05
60   2020-07-22
61   2020-07-03
Name: date, Length: 62, dtype: datetime64[ns]
after 4    2021-08-22
8    2021-08-19
13   2021-08-21
20   2021-08-23
28   2021-08-23
40   2021-08-13
41   2021-08-18
50   2021-07-25
51   2021-08-13
54   2021-07-31
56   2021-07-30
57   2021-08-20
Name: date, dtype: datetime64[ns]
before 0   2021-08-21
1   2021-08-28
2   2021-08-22
Name: date, dtype: datetime64[ns]
after 0   2021-08-21
2   2021-08-22
Name: date, dtype: datetime64[ns]
before 0    2023-06-07
1    2023-07-09
2    2023-02-02
3    2022-03-28
4    2022-06-01
5    2021-08-08
6    2021-08-21
7    2021-08-22
8    2021-10-08
9    2021-09-04
10   2021-09-26
11   2022-06-05
12   2021-08-26
13   2022-08-26
14   2021-06-30
15   2021-10-14
16   2021-07-27
17   2021-08-18
18   2021-08-12
19   2022-06-22
20   2021-07-23
21   2021-07-27
22   2022-04-26
23   2021-10-05
24   2021-08-25
25   2022-02-10
26   2022-01-19
27   2022-05-20
28   2022-05-13
29   2022-06-15
30   2022-05-30
31   2021-08-06
32   2019-05-01
33   2021-07-01
34   2021-07-30
35   2021-09-06
36   2021-11-25
37   2021-09-08
38   2021-08-11
Name: date, dtype: datetime64[ns]
after 5    2021-08-08
16   2021-07-27
20   2021-07-23
21   2021-07-27
31   2021-08-06
34   2021-07-30
38   2021-08-11
Name: date, dtype: datetime64[ns]
before 0    2022-04-22
1    2023-05-10
2    2021-08-08
3    2021-08-19
4    2021-08-12
5    2021-10-01
6    2022-01-16
7    2021-04-21
8    2021-10-25
9    2022-04-19
10   2021-12-06
11   2021-08-30
12   2021-08-22
13   2022-02-10
14   2021-10-08
15   2021-08-03
16   2021-08-12
17   2021-09-06
18   2021-09-14
19   2021-08-05
20   2022-04-12
21   2022-04-14
22   2021-08-06
23   2021-12-21
24   2021-08-17
25   2021-08-20
Name: date, dtype: datetime64[ns]
after 2    2021-08-08
15   2021-08-03
19   2021-08-05
22   2021-08-06
Name: date, dtype: datetime64[ns]
before 0    2021-08-08
1    2021-08-06
2    2023-05-31
3    2021-07-14
4    2021-07-07
5    2021-11-21
6    2021-08-20
7    2021-07-12
8    2023-04-17
9    2022-02-14
10   2021-08-22
11   2021-08-12
12   2021-06-15
13   2021-09-04
14   2021-10-01
15   2021-10-08
16   2021-08-25
17   2021-08-19
18   2022-08-04
19   2023-02-17
20   2021-11-24
21   2022-06-14
22   2022-01-14
23   2021-10-03
24   2021-09-08
25   2021-08-20
26   2021-09-02
27   2021-08-12
28   2021-09-06
29   2021-08-03
30   2021-08-09
31   2020-08-23
32   2021-06-30
33   2021-09-23
Name: date, dtype: datetime64[ns]
after 0    2021-08-08
1    2021-08-06
3    2021-07-14
7    2021-07-12
29   2021-08-03
Name: date, dtype: datetime64[ns]
before 0    2023-05-29
1    2021-10-16
2    2023-07-12
3    2021-08-08
4    2021-08-12
        ...
95   2022-12-05
96   2022-11-17
97   2021-10-21
98   2022-06-24
99   2021-09-01
Name: date, Length: 100, dtype: datetime64[ns]
after 3    2021-08-08
6    2021-08-07
74   2021-08-02
76   2021-07-12
77   2021-08-03
Name: date, dtype: datetime64[ns]
before 0    2023-08-08
1    2023-05-15
2    2021-08-10
3    2022-11-18
4    2022-10-06
5    2022-02-13
6    2021-08-09
7    2023-07-03
8    2021-08-04
9    2021-09-11
10   2021-08-17
11   2022-07-12
12   2023-06-23
13   2021-08-25
14   2021-08-22
15   2022-04-22
16   2021-08-04
17   2022-07-19
18   2021-09-30
19   2021-08-12
20   2020-06-08
21   2022-12-07
22   2021-10-14
23   2021-04-01
24   2021-10-05
25   2021-08-26
26   2022-01-13
27   2021-06-30
28   2021-08-17
29   2023-08-08
Name: date, dtype: datetime64[ns]
after 8    2021-08-04
16   2021-08-04
Name: date, dtype: datetime64[ns]
before 0    2021-08-03
1    2021-07-28
2    2021-07-09
3    2023-06-23
4    2023-06-05
5    2021-08-28
6    2021-10-01
7    2021-06-15
8    2021-08-22
9    2021-09-11
10   2021-08-04
11   2021-09-24
12   2021-09-13
13   2022-06-14
14   2022-09-19
15   2021-07-25
16   2021-11-24
17   2021-11-11
18   2021-08-17
19   2021-10-03
20   2021-08-10
21   2021-09-16
22   2021-07-04
23   2022-04-26
24   2022-02-10
25   2022-01-18
26   2021-07-25
27   2021-08-16
Name: date, dtype: datetime64[ns]
after 0    2021-08-03
1    2021-07-28
2    2021-07-09
10   2021-08-04
15   2021-07-25
26   2021-07-25
Name: date, dtype: datetime64[ns]
before 0    2023-04-20
1    2022-09-06
2    2021-08-27
3    2022-06-09
4    2021-07-26
5    2021-08-22
6    2021-07-26
7    2021-08-21
8    2022-12-09
9    2021-06-28
10   2021-09-11
11   2021-09-26
12   2021-07-07
13   2022-02-08
14   2022-07-06
15   2022-03-04
16   2021-08-04
17   2021-08-08
18   2020-09-03
19   2021-08-31
20   2021-08-13
21   2022-06-02
22   2021-09-06
23   2022-01-14
24   2021-07-25
25   2021-01-11
26   2021-08-28
27   2021-07-25
28   2021-08-17
29   2022-02-22
30   2021-08-10
Name: date, dtype: datetime64[ns]
after 4    2021-07-26
6    2021-07-26
12   2021-07-07
16   2021-08-04
24   2021-07-25
27   2021-07-25
Name: date, dtype: datetime64[ns]
before 0    2023-02-25
1    2021-06-30
2    2023-04-18
3    2023-07-17
4    2023-07-07
5    2023-01-11
6    2021-08-19
7    2022-02-13
8    2021-08-05
9    2021-09-11
10   2023-06-23
11   2021-08-10
12   2021-10-01
13   2021-08-10
14   2021-08-04
15   2022-01-16
16   2021-07-08
17   2021-12-06
18   2022-06-22
19   2021-10-08
20   2021-10-25
21   2023-07-14
22   2021-10-15
23   2021-07-25
24   2021-07-27
25   2022-02-10
26   2021-08-06
27   2021-09-06
28   2021-10-05
29   2021-09-23
30   2021-07-25
31   2021-12-21
32   2021-08-04
33   2022-10-12
34   2021-08-06
35   2021-07-21
36   2021-07-28
Name: date, dtype: datetime64[ns]
after 16   2021-07-08
23   2021-07-25
24   2021-07-27
30   2021-07-25
35   2021-07-21
36   2021-07-28
Name: date, dtype: datetime64[ns]
before 0    2021-08-03
1    2023-02-25
2    2023-03-15
3    2022-02-13
4    2023-01-11
5    2022-08-19
6    2021-08-13
7    2023-05-31
8    2023-05-08
9    2021-09-11
10   2021-08-28
11   2023-04-03
12   2023-04-27
13   2023-07-15
14   2023-06-06
15   2023-07-15
16   2023-07-21
17   2023-07-17
18   2023-05-28
19   2021-07-27
20   2023-07-20
21   2021-08-03
22   2023-07-11
23   2023-07-21
24   2023-05-03
25   2023-07-21
26   2023-07-20
27   2023-07-10
28   2021-08-03
29   2023-07-15
30   2021-07-15
31   2023-01-03
32   2023-07-21
33   2021-08-08
34   2023-03-12
35   2023-01-12
36   2021-04-21
37   2021-07-25
38   2023-03-27
39   2022-10-27
40   2021-10-05
41   2022-04-28
42   2021-07-25
43   2021-08-17
44   2017-11-29
45   2021-09-01
46   2020-12-04
47   2017-11-30
48   2017-11-20
49   2016-02-01
Name: date, dtype: datetime64[ns]
after 0    2021-08-03
19   2021-07-27
21   2021-08-03
28   2021-08-03
30   2021-07-15
37   2021-07-25
42   2021-07-25
Name: date, dtype: datetime64[ns]
before 0    2023-05-12
1    2021-08-01
2    2021-08-10
3    2021-06-18
4    2021-07-02
        ...
95   2022-10-18
96   2021-08-23
97   2021-08-11
98   2021-07-18
99   2021-07-30
Name: date, Length: 100, dtype: datetime64[ns]
after 1    2021-08-01
4    2021-07-02
20   2021-08-01
38   2021-07-30
39   2021-07-19
43   2021-07-08
47   2021-07-04
53   2021-07-26
60   2021-07-23
67   2021-07-28
72   2021-07-08
88   2021-07-20
89   2021-07-29
92   2021-07-14
98   2021-07-18
99   2021-07-30
Name: date, dtype: datetime64[ns]
before 0    2023-08-08
1    2021-08-03
2    2021-08-03
3    2023-06-10
4    2021-07-30
5    2023-06-12
6    2021-08-02
7    2023-06-18
8    2021-06-24
9    2023-07-20
10   2021-08-11
11   2022-02-06
12   2021-08-19
13   2021-08-06
14   2021-07-26
15   2021-07-31
16   2021-09-14
17   2021-09-11
18   2021-08-21
19   2021-08-10
20   2021-08-03
21   2023-06-22
22   2022-08-03
23   2021-10-01
24   2022-01-16
25   2021-08-10
26   2021-08-02
27   2021-12-06
28   2021-07-25
29   2022-04-22
30   2021-10-25
31   2021-08-05
32   2023-04-25
33   2021-08-08
34   2021-10-07
35   2023-03-22
36   2021-07-25
37   2022-02-10
38   2021-08-12
39   2023-03-07
40   2022-12-14
41   2021-08-15
42   2021-11-11
43   2022-12-12
44   2021-05-26
45   2021-08-12
46   2021-09-06
47   2021-10-05
48   2021-12-21
49   2021-09-23
50   2021-10-28
51   2021-07-26
52   2021-08-26
53   2017-06-08
Name: date, dtype: datetime64[ns]
after 4    2021-07-30
14   2021-07-26
15   2021-07-31
28   2021-07-25
36   2021-07-25
51   2021-07-26
Name: date, dtype: datetime64[ns]
before 0   2021-08-08
1   2021-07-08
2   2021-07-25
3   2021-07-29
4   2021-08-04
5   2020-02-26
6   2021-07-25
7   2021-07-30
Name: date, dtype: datetime64[ns]
after 1   2021-07-08
2   2021-07-25
6   2021-07-25
Name: date, dtype: datetime64[ns]
before 0    2023-08-21
1    2023-08-02
2    2023-08-14
3    2021-07-27
4    2023-07-10
        ...
95   2021-07-18
96   2021-12-22
97   2022-08-03
98   2021-11-15
99   2021-04-21
Name: date, Length: 100, dtype: datetime64[ns]
after 12   2021-07-02
24   2021-07-22
38   2021-07-01
41   2021-07-19
42   2021-06-28
53   2021-07-05
58   2021-07-22
64   2021-07-22
67   2021-07-18
72   2021-06-28
83   2021-07-08
94   2021-07-14
95   2021-07-18
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2021-07-25
Name: date, dtype: datetime64[ns]
after 0   2021-07-25
Name: date, dtype: datetime64[ns]
before 0    2023-05-22
1    2021-07-20
2    2022-11-02
3    2021-10-07
4    2021-07-08
5    2021-10-01
6    2021-08-28
7    2021-10-30
8    2021-10-03
9    2022-09-26
10   2022-11-14
11   2020-06-11
12   2022-08-17
13   2021-10-05
14   2022-01-10
15   2021-07-25
16   2021-09-13
17   2021-09-13
18   2022-02-10
19   2021-07-10
20   2021-07-06
21   2021-06-21
22   2021-07-09
23   2021-07-12
Name: date, dtype: datetime64[ns]
after 4    2021-07-08
19   2021-07-10
20   2021-07-06
21   2021-06-21
22   2021-07-09
23   2021-07-12
Name: date, dtype: datetime64[ns]
before 0    2021-07-19
1    2021-07-19
2    2023-06-19
3    2021-07-16
4    2021-07-20
5    2021-07-27
6    2022-01-23
7    2023-06-01
8    2021-08-08
9    2021-08-08
10   2021-12-16
11   2021-08-17
12   2021-10-01
13   2021-07-27
14   2022-03-24
15   2022-02-02
16   2021-08-28
17   2021-08-27
18   2022-01-16
19   2022-06-19
20   2021-07-22
21   2021-10-25
22   2021-12-06
23   2021-07-25
24   2021-08-04
25   2021-07-21
26   2022-05-26
27   2021-10-31
28   2022-12-14
29   2021-07-27
30   2022-02-10
31   2021-12-21
32   2021-09-03
33   2021-12-13
34   2021-09-30
35   2021-06-07
36   2022-01-10
37   2022-07-20
38   2021-07-20
39   2021-01-20
40   2021-12-31
41   2021-07-10
42   2021-07-06
43   2021-01-12
44   2021-07-25
45   2021-06-01
46   2021-07-27
47   2021-08-10
48   2021-05-24
49   2021-07-01
50   2021-04-28
51   2021-07-12
52   2021-08-26
53   2020-03-17
54   2021-07-12
55   2021-11-03
Name: date, dtype: datetime64[ns]
after 41   2021-07-10
42   2021-07-06
49   2021-07-01
51   2021-07-12
54   2021-07-12
Name: date, dtype: datetime64[ns]
before 0    2021-06-14
1    2023-06-07
2    2023-05-15
3    2021-07-12
4    2023-07-17
5    2023-02-02
6    2021-07-13
7    2021-07-10
8    2021-08-21
9    2023-06-23
10   2021-10-14
11   2021-07-14
12   2021-07-04
13   2021-08-10
14   2021-08-06
15   2021-10-05
16   2021-06-30
17   2022-01-19
18   2021-06-30
19   2021-06-23
20   2020-06-29
21   2021-12-11
22   2020-09-28
23   2021-07-12
Name: date, dtype: datetime64[ns]
after 0    2021-06-14
3    2021-07-12
7    2021-07-10
12   2021-07-04
16   2021-06-30
18   2021-06-30
19   2021-06-23
23   2021-07-12
Name: date, dtype: datetime64[ns]
before 0    2023-07-25
1    2023-07-24
2    2023-08-10
3    2022-12-13
4    2022-12-11
        ...
92   2021-08-18
93   2021-04-28
94   2021-06-16
95   2021-08-15
96   2021-10-25
Name: date, Length: 97, dtype: datetime64[ns]
after 15   2021-07-07
30   2021-06-25
49   2021-06-18
86   2021-06-08
90   2021-07-01
94   2021-06-16
Name: date, dtype: datetime64[ns]
before 0    2022-08-07
1    2021-06-02
2    2022-08-03
3    2021-03-19
4    2021-07-28
5    2022-07-08
6    2022-06-24
7    2021-06-04
8    2022-08-09
9    2021-06-01
10   2021-01-20
11   2021-10-05
12   2021-07-21
13   2021-01-12
14   2021-05-22
15   2021-05-21
16   2021-06-08
17   2021-04-28
18   2021-07-01
19   2021-05-30
20   2020-02-23
21   2020-03-17
Name: date, dtype: datetime64[ns]
after 1    2021-06-02
7    2021-06-04
9    2021-06-01
16   2021-06-08
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-07-08
1    2023-05-16
2    2021-06-07
3    2021-06-21
4    2021-03-19
5    2021-10-01
6    2021-04-21
7    2021-06-15
8    2022-07-20
9    2021-04-20
10   2021-06-06
11   2021-06-17
12   2021-06-30
13   2021-09-16
14   2021-06-01
15   2021-08-06
16   2021-07-21
17   2021-06-04
18   2021-05-21
19   2021-05-22
20   2023-06-13
21   2023-06-13
22   2019-06-17
23   2021-04-01
Name: date, dtype: datetime64[ns]
after 2    2021-06-07
10   2021-06-06
14   2021-06-01
17   2021-06-04
18   2021-05-21
19   2021-05-22
Name: date, dtype: datetime64[ns]
before 0    2023-04-06
1    2023-05-28
2    2023-02-28
3    2021-06-08
4    2023-03-16
5    2021-05-30
6    2021-03-19
7    2022-11-02
8    2021-05-31
9    2022-01-14
10   2021-06-08
11   2023-06-08
12   2021-06-06
13   2021-07-21
14   2022-06-22
15   2021-04-01
16   2021-08-30
17   2021-08-27
18   2021-06-01
19   2021-06-07
20   2021-05-21
21   2021-05-22
22   2021-11-28
23   2021-06-08
24   2021-07-21
25   2021-06-18
26   2022-04-25
27   2021-05-30
28   2023-07-18
Name: date, dtype: datetime64[ns]
after 3    2021-06-08
5    2021-05-30
8    2021-05-31
10   2021-06-08
12   2021-06-06
18   2021-06-01
19   2021-06-07
20   2021-05-21
21   2021-05-22
23   2021-06-08
27   2021-05-30
Name: date, dtype: datetime64[ns]
before 0    2023-07-21
1    2023-02-09
2    2023-03-03
3    2023-06-23
4    2022-07-06
5    2022-12-08
6    2022-07-06
7    2022-10-26
8    2022-04-11
9    2021-07-23
10   2021-06-30
11   2021-07-14
12   2021-08-08
13   2021-08-25
14   2021-06-08
15   2021-08-06
16   2021-06-14
17   2022-04-14
18   2021-07-27
19   2022-05-01
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2022-11-02
1    2021-06-04
2    2022-10-18
3    2022-09-21
4    2022-08-29
5    2022-07-19
6    2021-04-20
7    2023-07-18
8    2021-05-30
9    2022-03-04
10   2021-04-09
11   2022-05-10
12   2021-06-06
13   2020-06-05
14   2021-06-08
15   2022-02-10
16   2021-04-08
17   2022-07-11
18   2021-07-21
19   2021-04-09
20   2022-02-24
21   2021-07-28
22   2021-05-21
23   2021-05-30
Name: date, dtype: datetime64[ns]
after 1    2021-06-04
8    2021-05-30
12   2021-06-06
22   2021-05-21
23   2021-05-30
Name: date, dtype: datetime64[ns]
before 0    2021-05-24
1    2021-03-19
2    2021-05-30
3    2021-07-21
4    2021-06-01
5    2021-05-22
6    2021-05-21
7    2021-06-01
8    2022-07-11
9    2021-05-14
10   2021-05-16
Name: date, dtype: datetime64[ns]
after 0    2021-05-24
2    2021-05-30
4    2021-06-01
5    2021-05-22
6    2021-05-21
7    2021-06-01
9    2021-05-14
10   2021-05-16
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-01-05
1    2023-06-27
2    2021-08-23
3    2021-05-14
4    2022-01-16
5    2021-08-08
6    2021-06-29
7    2022-02-10
8    2019-05-07
9    2021-06-01
10   2021-12-21
11   2021-05-24
12   2021-07-21
13   2021-05-12
14   2021-05-16
Name: date, dtype: datetime64[ns]
after 3    2021-05-14
11   2021-05-24
13   2021-05-12
14   2021-05-16
Name: date, dtype: datetime64[ns]
before 0    2021-04-21
1    2021-05-14
2    2021-05-22
3    2021-05-25
4    2021-05-09
5    2021-05-26
6    2023-01-02
7    2023-06-13
8    2022-12-21
9    2023-02-16
10   2021-05-26
11   2022-10-20
12   2022-09-05
13   2021-05-27
14   2021-05-10
15   2021-04-23
16   2021-06-23
17   2021-04-12
18   2021-07-20
19   2022-10-17
20   2022-05-17
21   2023-04-07
22   2021-07-04
23   2021-10-13
24   2021-06-25
25   2021-05-06
26   2021-05-11
27   2021-07-23
28   2021-02-26
29   2021-02-26
30   2021-04-29
31   2021-09-06
32   2021-05-27
33   2021-04-18
34   2019-05-27
35   2021-10-07
36   2021-05-11
37   2022-12-12
38   2022-12-14
39   2021-05-15
40   2021-09-30
41   2021-05-18
42   2021-05-07
43   2021-12-30
44   2021-07-21
45   2021-06-22
46   2022-01-12
47   2020-10-21
48   2021-05-07
49   2021-03-25
50   2021-08-15
51   2022-06-28
52   2021-04-02
53   2021-04-07
54   2021-02-24
55   2021-05-07
56   2021-04-09
57   2021-05-02
58   2021-05-14
Name: date, dtype: datetime64[ns]
after 0    2021-04-21
4    2021-05-09
14   2021-05-10
15   2021-04-23
17   2021-04-12
25   2021-05-06
26   2021-05-11
30   2021-04-29
33   2021-04-18
36   2021-05-11
42   2021-05-07
48   2021-05-07
55   2021-05-07
57   2021-05-02
Name: date, dtype: datetime64[ns]
before 0    2021-06-02
1    2022-11-06
2    2022-07-10
3    2022-11-29
4    2021-06-04
5    2021-08-02
6    2021-05-26
7    2021-05-27
8    2021-10-01
9    2021-05-25
10   2023-06-21
11   2021-04-29
12   2021-05-09
13   2021-07-23
14   2022-02-21
15   2021-12-16
16   2021-05-07
17   2021-10-07
18   2021-06-29
19   2021-05-26
20   2022-02-10
21   2021-05-07
22   2021-06-18
23   2022-02-07
24   2022-01-17
25   2021-05-21
26   2021-05-31
27   2021-05-02
28   2021-05-11
Name: date, dtype: datetime64[ns]
after 11   2021-04-29
12   2021-05-09
16   2021-05-07
21   2021-05-07
27   2021-05-02
28   2021-05-11
Name: date, dtype: datetime64[ns]
before 0    2020-11-18
1    2021-05-27
2    2021-04-24
3    2021-02-26
4    2021-08-23
5    2022-03-24
6    2022-01-16
7    2021-08-08
8    2021-05-09
9    2021-07-20
10   2021-05-16
11   2021-04-20
12   2022-02-10
13   2021-04-29
14   2021-05-18
15   2021-12-21
16   2021-05-07
Name: date, dtype: datetime64[ns]
after 2    2021-04-24
8    2021-05-09
11   2021-04-20
13   2021-04-29
16   2021-05-07
Name: date, dtype: datetime64[ns]
before 0    2022-07-06
1    2022-12-08
2    2022-10-26
3    2023-05-24
4    2022-04-11
5    2022-06-22
6    2021-06-30
7    2021-07-14
8    2021-07-23
9    2021-10-01
10   2021-05-30
11   2021-06-14
12   2021-04-20
13   2021-12-16
14   2021-06-02
15   2022-03-26
Name: date, dtype: datetime64[ns]
after 12   2021-04-20
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-03-28
1   2022-12-29
2   2022-11-14
3   2023-01-16
4   2022-08-30
5   2021-04-20
6   2021-12-31
7   2021-11-24
Name: date, dtype: datetime64[ns]
after 5   2021-04-20
Name: date, dtype: datetime64[ns]
before 0   2021-05-20
1   2021-05-09
2   2021-05-19
3   2021-04-29
4   2022-08-29
5   2021-09-06
6   2022-08-17
7   2021-05-18
8   2021-06-18
9   2021-05-07
Name: date, dtype: datetime64[ns]
after 1   2021-05-09
3   2021-04-29
9   2021-05-07
Name: date, dtype: datetime64[ns]
before 0    2021-05-17
1    2023-05-11
2    2021-05-07
3    2023-05-18
4    2021-05-08
5    2023-07-09
6    2021-04-11
7    2021-05-04
8    2021-06-07
9    2021-04-07
10   2021-04-11
11   2021-04-12
12   2021-10-01
13   2021-04-07
14   2021-12-16
15   2023-03-27
16   2021-10-28
17   2023-03-03
18   2021-05-19
19   2021-06-18
20   2021-09-17
21   2022-08-17
22   2021-06-18
23   2022-11-23
24   2021-08-26
25   2022-02-10
26   2022-05-06
27   2021-11-05
28   2020-11-13
29   2021-09-06
30   2020-11-08
31   2023-07-07
Name: date, dtype: datetime64[ns]
after 6    2021-04-11
7    2021-05-04
9    2021-04-07
10   2021-04-11
11   2021-04-12
13   2021-04-07
Name: date, dtype: datetime64[ns]
before 0    2021-04-20
1    2021-05-16
2    2021-04-21
3    2021-04-11
4    2021-05-17
5    2021-04-26
6    2021-05-25
7    2021-06-07
8    2021-05-27
9    2021-06-29
10   2021-09-30
11   2021-09-06
12   2021-06-18
13   2021-09-29
14   2022-02-10
15   2021-05-19
16   2021-04-30
17   2021-03-12
18   2021-04-28
Name: date, dtype: datetime64[ns]
after 0    2021-04-20
2    2021-04-21
3    2021-04-11
5    2021-04-26
16   2021-04-30
18   2021-04-28
Name: date, dtype: datetime64[ns]
before 0   2021-04-24
1   2021-04-20
Name: date, dtype: datetime64[ns]
after 0   2021-04-24
1   2021-04-20
Name: date, dtype: datetime64[ns]
before 0    2023-07-29
1    2023-03-20
2    2023-03-26
3    2022-08-04
4    2022-10-04
        ...
94   2021-08-15
95   2021-07-20
96   2021-02-26
97   2022-05-06
98   2022-07-14
Name: date, Length: 99, dtype: datetime64[ns]
after 13   2021-04-22
17   2021-04-14
20   2021-04-23
33   2021-04-16
34   2021-04-11
46   2021-04-09
Name: date, dtype: datetime64[ns]
before 0    2021-04-17
1    2021-04-21
2    2019-12-06
3    2022-04-14
4    2021-04-09
5    2021-04-24
6    2021-04-11
7    2021-04-12
8    2023-07-20
9    2021-05-07
10   2023-02-02
11   2020-12-22
12   2019-01-24
13   2021-12-21
14   2021-03-25
15   2021-05-07
16   2021-05-24
17   2021-04-22
Name: date, dtype: datetime64[ns]
after 0    2021-04-17
4    2021-04-09
6    2021-04-11
7    2021-04-12
14   2021-03-25
Name: date, dtype: datetime64[ns]
before 0    2021-03-10
1    2023-05-30
2    2021-04-23
3    2021-03-04
4    2023-03-20
5    2021-05-16
6    2021-04-09
7    2021-04-30
8    2021-04-12
9    2021-08-23
10   2021-10-01
11   2020-10-19
12   2021-08-08
13   2022-01-16
14   2021-03-14
15   2022-07-28
16   2021-05-07
17   2022-02-10
18   2021-12-21
19   2021-03-23
20   2021-04-02
21   2021-04-05
22   2021-08-26
Name: date, dtype: datetime64[ns]
after 6    2021-04-09
14   2021-03-14
19   2021-03-23
20   2021-04-02
21   2021-04-05
Name: date, dtype: datetime64[ns]
before 0    2021-04-09
1    2021-04-13
2    2021-05-08
3    2021-06-02
4    2021-04-09
5    2021-04-12
6    2021-10-20
7    2021-04-18
8    2021-04-08
9    2021-08-27
10   2021-04-12
11   2021-04-09
12   2021-03-23
13   2021-04-02
14   2021-04-05
15   2023-07-24
Name: date, dtype: datetime64[ns]
after 0    2021-04-09
4    2021-04-09
8    2021-04-08
11   2021-04-09
12   2021-03-23
13   2021-04-02
14   2021-04-05
Name: date, dtype: datetime64[ns]
before 0   2021-07-23
1   2021-06-14
2   2021-06-02
3   2021-05-30
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-02
1    2021-03-10
2    2022-10-07
3    2021-03-19
4    2021-04-09
5    2023-07-14
6    2023-05-30
7    2022-09-29
8    2022-10-25
9    2021-03-14
10   2021-03-09
11   2021-05-07
12   2021-10-20
13   2022-11-04
14   2021-03-09
15   2018-11-14
16   2021-10-24
17   2021-03-05
18   2023-07-05
19   2022-09-27
Name: date, dtype: datetime64[ns]
after 1    2021-03-10
3    2021-03-19
9    2021-03-14
10   2021-03-09
14   2021-03-09
17   2021-03-05
Name: date, dtype: datetime64[ns]
before 0    2022-11-03
1    2021-11-26
2    2022-12-04
3    2022-04-01
4    2022-08-19
        ...
95   2021-07-27
96   2021-11-19
97   2021-03-26
98   2022-07-20
99   2022-06-22
Name: date, Length: 100, dtype: datetime64[ns]
after 36   2021-03-09
41   2021-03-14
47   2021-03-08
Name: date, dtype: datetime64[ns]
before 0    2021-03-24
1    2021-02-16
2    2021-04-09
3    2021-03-14
4    2022-08-29
5    2021-03-15
6    2021-03-10
7    2022-01-16
8    2022-02-04
9    2021-03-08
10   2021-09-17
11   2021-04-01
Name: date, dtype: datetime64[ns]
after 1   2021-02-16
3   2021-03-14
6   2021-03-10
9   2021-03-08
Name: date, dtype: datetime64[ns]
before 0    2023-06-07
1    2021-03-24
2    2021-04-09
3    2023-02-22
4    2023-03-28
5    2021-05-08
6    2021-01-26
7    2023-06-22
8    2021-05-18
9    2021-02-04
10   2021-06-29
11   2021-12-06
12   2021-12-01
13   2021-03-26
14   2021-08-22
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2021-03-11
1    2021-03-10
2    2021-03-10
3    2021-04-09
4    2022-10-18
        ...
95   2022-05-19
96   2021-07-01
97   2021-08-08
98   2021-03-24
99   2021-09-07
Name: date, Length: 100, dtype: datetime64[ns]
after 5    2021-02-26
6    2021-03-02
17   2021-03-04
35   2021-03-08
54   2021-02-09
59   2021-02-19
Name: date, dtype: datetime64[ns]
before 0    2022-10-17
1    2021-03-08
2    2021-03-15
3    2021-03-01
4    2021-05-07
5    2021-12-09
6    2021-06-18
7    2021-06-29
8    2021-02-04
9    2021-05-12
10   2020-09-10
11   2021-09-07
12   2022-07-19
Name: date, dtype: datetime64[ns]
after 3   2021-03-01
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-09
1    2021-04-09
2    2022-07-19
3    2021-01-15
4    2021-08-25
5    2021-01-29
6    2021-03-17
7    2021-03-15
8    2021-03-01
9    2023-05-01
10   2021-05-08
11   2021-01-20
12   2021-02-17
13   2021-05-19
14   2022-05-04
15   2020-06-23
16   2022-07-12
17   2021-06-29
18   2020-09-19
19   2022-04-21
20   2020-07-14
21   2021-07-14
22   2021-12-27
23   2021-06-07
24   2021-03-21
25   2021-06-25
26   2020-07-02
27   2021-07-09
28   2021-10-31
29   2021-09-03
30   2022-01-20
31   2021-04-01
32   2020-11-10
33   2021-01-03
34   2021-02-22
35   2021-10-25
Name: date, dtype: datetime64[ns]
after 8    2021-03-01
12   2021-02-17
34   2021-02-22
Name: date, dtype: datetime64[ns]
before 0    2023-06-27
1    2023-06-30
2    2021-02-18
3    2020-06-08
4    2022-09-01
5    2020-12-08
6    2023-06-14
7    2023-02-02
8    2021-02-26
9    2021-03-08
10   2023-07-10
11   2021-03-01
12   2023-07-17
13   2020-11-29
14   2021-01-17
15   2021-05-16
16   2023-07-18
17   2021-05-07
18   2023-07-14
19   2023-05-25
20   2021-01-19
21   2021-06-29
22   2020-11-16
23   2022-07-14
24   2021-04-02
25   2020-01-13
26   2021-06-07
27   2021-10-23
28   2021-03-17
29   2021-04-01
30   2021-08-30
31   2021-11-27
32   2020-06-09
33   2020-10-06
34   2023-06-28
35   2022-09-16
36   2022-06-15
37   2023-03-15
38   2021-01-03
39   2020-09-17
40   2021-03-05
41   2022-11-11
42   2021-12-28
43   2023-04-04
44   2020-09-23
45   2022-02-11
46   2022-04-26
47   2021-03-15
48   2022-03-03
49   2021-08-04
50   2019-10-30
Name: date, dtype: datetime64[ns]
after 2    2021-02-18
8    2021-02-26
11   2021-03-01
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2021-03-05
1   2023-02-01
2   2021-03-01
3   2022-05-01
4   2021-03-17
5   2021-03-08
6   2022-05-04
7   2020-09-07
8   2021-04-01
9   2022-04-27
Name: date, dtype: datetime64[ns]
after 2   2021-03-01
Name: date, dtype: datetime64[ns]
before 0    2022-09-06
1    2022-11-28
2    2022-01-26
3    2021-01-29
4    2021-03-09
5    2021-10-01
6    2022-01-16
7    2021-05-07
8    2021-03-08
9    2021-12-16
10   2021-01-15
11   2021-02-09
12   2021-03-02
13   2021-02-04
14   2021-03-17
15   2021-05-18
16   2021-11-28
17   2017-08-30
18   2021-04-01
19   2022-02-10
20   2021-12-24
21   2021-08-26
Name: date, dtype: datetime64[ns]
after 3    2021-01-29
11   2021-02-09
13   2021-02-04
Name: date, dtype: datetime64[ns]
before 0   2021-05-06
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2021-05-06
1   2021-03-17
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-08-03
1    2021-02-15
2    2022-09-01
3    2021-03-01
4    2023-03-31
5    2022-10-06
6    2023-06-08
7    2022-11-18
8    2022-12-19
9    2023-07-03
10   2023-07-17
11   2021-01-12
12   2020-12-08
13   2020-08-15
14   2022-07-21
15   2022-07-19
16   2023-06-23
17   2021-10-15
18   2021-03-09
19   2022-12-07
20   2022-07-12
21   2022-12-05
22   2021-05-18
23   2020-11-05
24   2021-02-04
25   2020-09-07
26   2022-01-13
27   2021-06-29
28   2020-10-12
29   2020-10-12
30   2021-07-27
31   2021-03-03
32   2021-02-09
33   2022-10-19
34   2021-03-11
35   2021-04-01
36   2021-03-08
37   2021-01-14
38   2021-03-05
39   2021-06-18
40   2021-04-06
Name: date, dtype: datetime64[ns]
after 1    2021-02-15
24   2021-02-04
32   2021-02-09
Name: date, dtype: datetime64[ns]
before 0    2021-01-19
1    2021-03-11
2    2021-02-19
3    2022-11-15
4    2022-11-21
5    2021-02-09
6    2021-04-09
7    2022-03-24
8    2021-03-01
9    2021-08-08
10   2021-07-22
11   2021-04-29
12   2021-09-30
13   2021-03-09
14   2021-01-23
15   2021-05-08
16   2021-01-15
17   2021-03-03
18   2021-02-04
19   2021-02-09
20   2021-01-12
21   2021-03-17
22   2021-01-14
23   2018-04-16
Name: date, dtype: datetime64[ns]
after 0    2021-01-19
5    2021-02-09
14   2021-01-23
16   2021-01-15
18   2021-02-04
19   2021-02-09
Name: date, dtype: datetime64[ns]
before 0    2022-11-21
1    2022-11-15
2    2021-02-09
3    2023-06-01
4    2021-01-29
5    2020-12-31
6    2021-04-22
7    2021-02-19
8    2021-01-31
9    2022-02-07
10   2021-04-09
11   2021-03-01
12   2022-08-29
13   2021-07-30
14   2021-09-30
15   2021-01-15
16   2021-02-09
17   2021-10-20
18   2021-01-27
19   2021-02-04
20   2020-12-30
21   2021-03-11
22   2020-10-19
23   2021-01-12
24   2021-03-03
25   2021-01-26
26   2021-03-05
27   2021-01-14
28   2021-08-22
Name: date, dtype: datetime64[ns]
after 2    2021-02-09
4    2021-01-29
8    2021-01-31
15   2021-01-15
16   2021-02-09
18   2021-01-27
19   2021-02-04
25   2021-01-26
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2020-09-23
1    2023-06-27
2    2023-06-26
3    2021-05-16
4    2021-02-09
5    2021-08-23
6    2021-01-29
7    2022-01-16
8    2021-10-08
9    2021-08-08
10   2021-02-09
11   2022-02-10
12   2021-01-27
13   2021-02-04
14   2021-03-04
15   2021-03-03
16   2020-12-22
17   2022-03-16
18   2021-04-01
19   2021-12-21
20   2021-08-25
21   2021-03-05
22   2021-11-28
23   2021-07-25
24   2022-07-11
Name: date, dtype: datetime64[ns]
after 4    2021-02-09
6    2021-01-29
10   2021-02-09
12   2021-01-27
13   2021-02-04
Name: date, dtype: datetime64[ns]
before 0    2021-02-04
1    2021-01-31
2    2020-12-08
3    2021-04-22
4    2022-07-15
5    2022-03-24
6    2021-01-29
7    2021-10-01
8    2021-02-09
9    2021-05-16
10   2021-02-09
11   2022-04-22
12   2021-01-15
13   2021-04-21
14   2021-05-07
15   2021-08-30
16   2021-02-04
17   2022-08-30
18   2021-01-15
19   2021-03-03
20   2022-02-10
21   2021-09-13
22   2021-03-17
23   2022-05-01
Name: date, dtype: datetime64[ns]
after 1    2021-01-31
6    2021-01-29
12   2021-01-15
18   2021-01-15
Name: date, dtype: datetime64[ns]
before 0   2021-02-24
1   2021-05-06
2   2021-03-17
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-08-12
1    2023-02-25
2    2022-07-13
3    2021-02-04
4    2023-05-31
5    2021-01-17
6    2021-04-12
7    2021-05-12
8    2023-06-23
9    2021-01-31
10   2021-02-04
11   2021-02-09
12   2021-03-26
13   2021-01-12
14   2021-01-27
15   2023-07-14
16   2021-03-21
17   2021-02-04
18   2021-01-28
19   2021-02-12
20   2021-03-14
21   2021-04-01
22   2022-05-26
23   2021-01-14
24   2021-01-29
25   2021-01-26
Name: date, dtype: datetime64[ns]
after 5    2021-01-17
13   2021-01-12
23   2021-01-14
25   2021-01-26
Name: date, dtype: datetime64[ns]
before 0    2023-07-17
1    2023-07-19
2    2023-07-18
3    2023-04-25
4    2023-03-26
5    2021-03-26
6    2021-07-09
7    2021-01-17
8    2023-01-10
9    2020-06-08
10   2020-11-29
11   2021-05-16
12   2021-04-02
13   2021-02-18
14   2021-02-26
15   2021-01-19
16   2021-05-08
17   2021-03-01
18   2021-01-09
19   2021-11-24
20   2020-11-16
21   2021-03-09
22   2020-09-16
23   2021-01-12
24   2021-06-29
25   2021-04-20
26   2021-11-30
27   2023-07-18
28   2021-02-04
29   2021-03-21
30   2021-04-01
31   2021-05-18
32   2020-12-30
33   2021-03-17
34   2021-01-18
35   2020-09-29
36   2021-11-11
37   2021-01-20
38   2021-01-03
39   2020-11-16
40   2020-11-13
41   2021-02-12
42   2020-07-14
43   2021-08-09
44   2022-02-10
45   2021-07-25
46   2022-11-11
47   2021-06-25
48   2020-07-10
49   2021-12-11
50   2021-01-14
51   2020-09-17
52   2022-03-18
53   2021-07-30
54   2021-03-11
Name: date, dtype: datetime64[ns]
after 7    2021-01-17
15   2021-01-19
18   2021-01-09
23   2021-01-12
32   2020-12-30
34   2021-01-18
37   2021-01-20
38   2021-01-03
50   2021-01-14
Name: date, dtype: datetime64[ns]
before 0    2021-01-21
1    2021-01-09
2    2021-01-17
3    2021-02-15
4    2021-03-09
5    2021-01-22
6    2021-04-20
7    2021-01-12
8    2021-01-28
9    2021-02-04
10   2021-03-03
11   2021-01-26
12   2021-03-17
13   2021-02-03
14   2021-01-22
15   2021-01-14
16   2020-02-23
Name: date, dtype: datetime64[ns]
after 0    2021-01-21
1    2021-01-09
2    2021-01-17
5    2021-01-22
7    2021-01-12
14   2021-01-22
15   2021-01-14
Name: date, dtype: datetime64[ns]
before 0    2023-08-21
1    2023-08-18
2    2023-08-18
3    2023-08-13
4    2023-08-21
        ...
69   2021-03-03
70   2021-04-01
71   2018-11-19
72   2021-01-26
73   2021-01-14
Name: date, Length: 74, dtype: datetime64[ns]
after 19   2021-01-18
32   2021-01-17
49   2021-01-12
73   2021-01-14
Name: date, dtype: datetime64[ns]
before 0   2021-04-20
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-09
1    2023-02-23
2    2021-01-13
3    2020-12-08
4    2021-01-24
5    2022-08-02
6    2021-01-17
7    2021-01-03
8    2021-02-02
9    2021-02-09
10   2022-04-14
11   2021-01-29
12   2021-03-03
13   2021-02-15
14   2021-02-19
15   2021-02-02
16   2020-08-15
17   2021-11-24
18   2021-01-12
19   2021-01-21
20   2021-09-13
21   2021-10-31
22   2022-07-12
23   2021-02-02
24   2021-02-04
25   2021-03-03
26   2020-11-05
27   2022-04-22
28   2020-10-12
29   2021-01-08
30   2021-03-21
31   2021-02-09
32   2021-01-28
33   2021-01-27
34   2020-10-12
35   2021-12-29
36   2022-10-14
37   2021-07-25
38   2020-09-07
39   2021-01-19
40   2021-04-01
41   2020-04-29
42   2021-11-05
43   2021-12-29
44   2021-02-09
45   2021-07-28
46   2020-02-03
47   2022-01-18
48   2021-01-14
49   2022-03-02
50   2021-08-22
Name: date, dtype: datetime64[ns]
after 2    2021-01-13
6    2021-01-17
7    2021-01-03
18   2021-01-12
29   2021-01-08
39   2021-01-19
48   2021-01-14
Name: date, dtype: datetime64[ns]
before 0    2023-04-04
1    2021-01-24
2    2021-01-07
3    2021-01-29
4    2022-07-06
5    2022-12-29
6    2023-06-26
7    2021-01-17
8    2022-09-21
9    2021-01-23
10   2023-03-27
11   2020-12-08
12   2021-01-31
13   2021-01-12
14   2021-02-09
15   2021-01-15
16   2021-03-01
17   2021-01-21
18   2021-03-09
19   2023-03-24
20   2019-04-12
21   2022-08-18
22   2022-12-02
23   2023-03-20
24   2023-03-16
25   2022-09-18
26   2020-12-30
27   2021-01-03
28   2021-01-27
29   2021-03-17
30   2022-05-16
31   2020-09-10
32   2021-02-04
33   2021-03-03
34   2021-01-26
35   2021-04-12
36   2021-01-19
37   2021-06-29
38   2021-01-28
39   2021-01-14
40   2022-03-17
41   2021-02-09
42   2022-10-19
43   2021-07-21
44   2022-04-27
45   2021-04-12
46   2020-11-20
47   2022-05-10
48   2021-11-07
49   2021-08-26
50   2018-07-24
51   2019-10-22
52   2021-08-22
Name: date, dtype: datetime64[ns]
after 2    2021-01-07
7    2021-01-17
13   2021-01-12
15   2021-01-15
26   2020-12-30
27   2021-01-03
36   2021-01-19
39   2021-01-14
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2022-07-27
1    2021-01-31
2    2022-11-22
3    2022-11-23
4    2021-01-29
5    2021-01-22
6    2022-11-29
7    2021-02-15
8    2021-03-01
9    2021-01-24
10   2021-05-16
11   2021-01-23
12   2021-08-02
13   2022-10-17
14   2021-01-15
15   2021-01-17
16   2021-02-09
17   2021-08-08
18   2021-12-09
19   2022-03-24
20   2021-10-01
21   2021-02-23
22   2021-02-02
23   2021-05-08
24   2021-01-27
25   2021-03-09
26   2021-01-21
27   2022-07-14
28   2021-01-28
29   2021-05-12
30   2021-01-12
31   2021-03-03
32   2021-03-17
33   2021-01-18
34   2021-01-08
35   2021-05-18
36   2020-11-23
37   2020-11-13
38   2021-01-19
39   2022-02-10
40   2021-01-29
41   2020-09-29
42   2021-07-25
43   2021-11-28
44   2021-01-14
45   2021-01-03
46   2021-01-18
47   2021-08-22
Name: date, dtype: datetime64[ns]
after 14   2021-01-15
15   2021-01-17
30   2021-01-12
33   2021-01-18
34   2021-01-08
44   2021-01-14
45   2021-01-03
46   2021-01-18
Name: date, dtype: datetime64[ns]
before 0    2023-07-10
1    2020-09-22
2    2021-02-15
3    2021-01-28
4    2021-05-16
5    2021-08-23
6    2021-01-17
7    2021-01-31
8    2021-10-01
9    2021-08-08
10   2021-01-22
11   2022-01-16
12   2021-01-24
13   2021-05-08
14   2021-03-09
15   2021-01-12
16   2022-10-18
17   2021-01-29
18   2021-01-27
19   2021-01-21
20   2021-01-13
21   2020-11-05
22   2021-02-09
23   2021-01-19
24   2021-01-28
25   2021-12-21
26   2022-03-16
27   2021-03-17
28   2020-10-30
29   2022-02-10
30   2020-11-04
31   2021-04-01
32   2021-01-14
Name: date, dtype: datetime64[ns]
after 6    2021-01-17
15   2021-01-12
20   2021-01-13
32   2021-01-14
Name: date, dtype: datetime64[ns]
before 0    2021-01-14
1    2023-05-18
2    2023-05-11
3    2020-12-02
4    2021-06-07
5    2020-06-24
6    2021-01-19
7    2021-01-17
8    2021-05-16
9    2021-08-23
10   2021-10-28
11   2021-02-04
12   2021-10-01
13   2022-03-24
14   2021-01-31
15   2021-08-08
16   2022-01-16
17   2021-05-08
18   2021-03-09
19   2021-01-21
20   2021-01-12
21   2021-01-29
22   2021-02-09
23   2020-01-09
24   2020-01-09
25   2021-02-15
26   2021-09-08
27   2021-09-17
28   2021-02-09
29   2020-12-30
30   2021-12-21
31   2021-01-03
32   2022-03-16
33   2021-03-17
34   2021-04-01
35   2022-02-10
36   2021-01-18
37   2021-01-28
38   2021-01-14
39   2021-08-26
Name: date, dtype: datetime64[ns]
after 0    2021-01-14
7    2021-01-17
20   2021-01-12
29   2020-12-30
31   2021-01-03
38   2021-01-14
Name: date, dtype: datetime64[ns]
before 0    2021-01-13
1    2020-12-03
2    2021-01-11
3    2021-01-15
4    2021-01-14
5    2021-01-17
6    2020-11-15
7    2021-07-19
8    2021-12-22
9    2021-02-04
10   2021-01-12
11   2021-03-01
12   2021-02-19
13   2021-04-09
14   2021-03-09
15   2021-01-23
16   2021-02-05
17   2021-01-22
18   2021-01-21
19   2021-01-29
20   2021-01-14
21   2021-09-13
22   2021-07-27
23   2021-07-20
24   2022-08-26
25   2021-07-21
26   2021-01-03
27   2021-03-21
28   2021-01-28
29   2021-01-04
30   2021-01-19
31   2021-02-04
32   2021-04-01
33   2021-01-14
34   2021-03-17
35   2020-07-28
36   2021-01-15
37   2021-02-09
38   2021-07-25
39   2021-01-18
40   2021-07-27
41   2021-11-28
42   2021-08-26
43   2021-07-27
44   2021-01-11
Name: date, dtype: datetime64[ns]
after 2    2021-01-11
26   2021-01-03
29   2021-01-04
44   2021-01-11
Name: date, dtype: datetime64[ns]
before 0   2021-03-17
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-03-13
1    2023-07-09
2    2023-06-08
3    2021-03-09
4    2022-09-01
        ...
95   2021-07-19
96   2021-07-29
97   2021-11-04
98   2021-08-20
99   2021-09-08
Name: date, Length: 100, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2020-12-10
1    2020-11-19
2    2022-09-23
3    2023-02-20
4    2020-09-16
5    2023-04-30
6    2021-02-16
7    2022-03-28
8    2021-07-13
9    2021-01-20
10   2020-07-31
11   2021-03-09
12   2020-12-22
13   2020-12-15
14   2021-01-07
15   2021-01-15
16   2021-01-08
17   2020-09-03
18   2020-09-03
19   2022-08-12
20   2021-11-26
21   2021-01-04
22   2020-12-30
23   2021-02-03
24   2022-07-19
25   2020-11-16
26   2022-03-29
27   2019-10-21
Name: date, dtype: datetime64[ns]
after 0    2020-12-10
1    2020-11-19
25   2020-11-16
Name: date, dtype: datetime64[ns]
before 0   2020-11-24
1   2022-03-28
2   2020-12-22
3   2021-03-09
4   2021-05-31
5   2020-02-14
6   2020-12-22
7   2022-07-14
8   2021-06-24
9   2022-01-17
Name: date, dtype: datetime64[ns]
after 0   2020-11-24
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2021-06-30
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-06-01
1    2020-12-04
2    2020-12-04
3    2023-07-17
4    2020-12-14
        ...
95   2023-05-18
96   2023-05-31
97   2023-05-28
98   2023-07-03
99   2023-07-04
Name: date, Length: 100, dtype: datetime64[ns]
after 1    2020-12-04
2    2020-12-04
6    2020-11-29
8    2020-11-12
12   2020-12-07
15   2020-12-08
Name: date, dtype: datetime64[ns]
before 0    2023-07-26
1    2023-08-13
2    2023-07-28
3    2023-08-14
4    2023-07-30
        ...
95   2019-04-02
96   2022-09-29
97   2021-04-15
98   2022-11-07
99   2022-07-31
Name: date, Length: 100, dtype: datetime64[ns]
after 32   2020-11-29
79   2020-11-21
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2020-12-08
1   2020-07-16
2   2020-09-03
3   2021-08-13
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2020-12-04
1   2022-12-23
2   2020-11-29
3   2021-04-09
4   2020-12-15
5   2020-12-08
6   2021-03-09
7   2021-04-01
Name: date, dtype: datetime64[ns]
after 2   2020-11-29
Name: date, dtype: datetime64[ns]
before 0   2020-12-15
1   2020-11-29
2   2020-12-08
3   2021-03-09
4   2020-11-13
5   2021-09-07
6   2020-11-18
Name: date, dtype: datetime64[ns]
after 1   2020-11-29
4   2020-11-13
6   2020-11-18
Name: date, dtype: datetime64[ns]
before 0    2023-04-26
1    2022-08-31
2    2020-11-29
3    2020-12-08
4    2020-08-15
5    2022-03-28
6    2021-03-09
7    2020-12-22
8    2021-01-04
9    2020-12-22
10   2021-01-03
11   2021-09-07
12   2020-07-10
Name: date, dtype: datetime64[ns]
after 2   2020-11-29
Name: date, dtype: datetime64[ns]
before 0    2023-07-09
1    2020-08-04
2    2022-09-01
3    2020-12-15
4    2020-10-21
5    2020-11-29
6    2020-06-27
7    2021-05-31
8    2020-11-17
9    2021-03-09
10   2022-03-28
11   2020-11-05
12   2020-09-27
13   2020-12-23
14   2020-12-22
15   2020-11-13
16   2020-12-28
17   2020-12-22
18   2020-12-22
19   2020-09-10
20   2022-01-17
21   2020-11-01
22   2021-08-26
Name: date, dtype: datetime64[ns]
after 5    2020-11-29
8    2020-11-17
11   2020-11-05
15   2020-11-13
21   2020-11-01
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2020-11-29
1    2023-07-18
2    2023-04-06
3    2022-07-28
4    2020-11-26
5    2023-01-15
6    2020-12-01
7    2020-12-22
8    2020-12-23
9    2020-12-08
10   2021-08-08
11   2022-04-21
12   2022-11-24
13   2021-04-08
14   2020-12-15
15   2023-03-02
16   2021-11-09
17   2020-11-17
18   2021-03-09
19   2020-12-18
20   2020-10-23
21   2020-12-08
22   2020-11-05
23   2021-03-15
24   2021-01-09
25   2020-12-03
26   2021-08-15
27   2021-09-11
28   2020-12-10
29   2020-12-07
30   2021-03-09
31   2021-01-04
32   2021-09-10
33   2020-12-30
34   2020-11-18
35   2021-01-12
36   2020-11-27
Name: date, dtype: datetime64[ns]
after 4    2020-11-26
17   2020-11-17
22   2020-11-05
34   2020-11-18
Name: date, dtype: datetime64[ns]
before 0    2020-03-20
1    2020-11-15
2    2020-12-15
3    2020-11-17
4    2021-03-09
5    2020-12-08
6    2020-09-24
7    2020-09-03
8    2020-05-04
9    2020-12-03
10   2020-08-25
11   2020-04-09
12   2020-07-28
13   2021-09-17
14   2021-01-04
15   2020-04-21
16   2020-07-10
Name: date, dtype: datetime64[ns]
after 1   2020-11-15
3   2020-11-17
Name: date, dtype: datetime64[ns]
before 0    2023-05-23
1    2020-11-15
2    2020-11-18
3    2020-12-08
4    2020-11-17
5    2021-08-08
6    2023-07-19
7    2021-03-09
8    2020-12-03
9    2023-02-16
10   2022-03-02
Name: date, dtype: datetime64[ns]
after 1   2020-11-15
2   2020-11-18
4   2020-11-17
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-04-04
1    2023-04-07
2    2020-11-15
3    2020-12-15
4    2020-12-03
5    2021-04-08
6    2021-01-12
7    2020-11-17
8    2021-01-11
9    2021-03-09
10   2023-04-10
11   2021-01-14
12   2021-02-09
13   2021-01-09
14   2020-11-05
15   2022-04-04
Name: date, dtype: datetime64[ns]
after 2    2020-11-15
7    2020-11-17
14   2020-11-05
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-07-31
1    2023-08-01
2    2023-08-10
3    2023-08-09
4    2023-08-10
5    2023-08-01
6    2023-08-07
7    2020-10-13
8    2020-11-15
9    2023-06-21
10   2023-07-19
11   2022-08-26
12   2020-11-17
13   2021-03-09
14   2021-05-31
15   2020-11-05
16   2022-03-28
17   2020-11-16
18   2020-09-10
19   2020-10-30
20   2020-11-01
21   2020-11-04
22   2022-01-17
23   2020-12-22
24   2023-07-11
25   2022-04-25
Name: date, dtype: datetime64[ns]
after 8    2020-11-15
12   2020-11-17
15   2020-11-05
17   2020-11-16
19   2020-10-30
20   2020-11-01
21   2020-11-04
Name: date, dtype: datetime64[ns]
before 0   2020-11-15
1   2020-11-26
2   2020-11-13
3   2020-10-21
4   2020-11-17
5   2020-04-29
6   2021-01-04
Name: date, dtype: datetime64[ns]
after 0   2020-11-15
2   2020-11-13
3   2020-10-21
Name: date, dtype: datetime64[ns]
before 0    2020-11-15
1    2023-05-30
2    2020-10-21
3    2022-09-29
4    2020-11-17
5    2023-06-19
6    2023-07-11
7    2021-04-08
8    2022-10-11
9    2021-11-03
10   2022-11-07
11   2021-01-09
12   2021-12-08
13   2020-12-10
14   2020-11-16
15   2023-07-07
Name: date, dtype: datetime64[ns]
after 2   2020-10-21
Name: date, dtype: datetime64[ns]
before 0   2023-03-06
1   2020-11-17
2   2020-11-05
3   2022-08-17
4   2022-01-01
5   2020-11-24
Name: date, dtype: datetime64[ns]
after 2   2020-11-05
Name: date, dtype: datetime64[ns]
before 0   2022-01-18
1   2020-11-17
2   2020-10-15
3   2022-02-02
4   2020-11-29
5   2020-11-03
6   2020-11-10
Name: date, dtype: datetime64[ns]
after 2   2020-10-15
5   2020-11-03
Name: date, dtype: datetime64[ns]
before 0   2023-06-23
1   2022-09-28
2   2022-05-26
3   2021-01-04
4   2020-11-13
5   2020-02-23
6   2022-02-17
7   2020-11-09
8   2023-07-17
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-02-08
1    2021-01-08
2    2022-09-23
3    2023-02-16
4    2020-10-21
5    2023-04-30
6    2020-11-24
7    2020-11-17
8    2020-08-15
9    2020-11-29
10   2022-08-18
11   2020-12-18
12   2020-12-22
13   2022-03-28
14   2020-09-25
15   2020-09-03
16   2021-12-24
17   2021-07-14
18   2020-09-10
19   2021-01-04
20   2020-11-10
21   2020-11-13
22   2020-12-22
23   2020-09-24
24   2022-02-09
25   2021-08-11
26   2020-07-10
27   2020-03-23
28   2020-12-30
29   2020-11-16
30   2017-02-20
31   2021-10-25
Name: date, dtype: datetime64[ns]
after 4   2020-10-21
Name: date, dtype: datetime64[ns]
before 0    2020-11-03
1    2020-11-03
2    2020-11-03
3    2023-06-30
4    2020-11-06
        ...
56   2022-07-19
57   2021-10-24
58   2017-04-19
59   2016-03-11
60   2018-09-14
Name: date, Length: 61, dtype: datetime64[ns]
after 8    2020-10-20
22   2020-10-30
33   2020-10-22
39   2020-10-23
47   2020-10-12
52   2020-10-12
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2023-07-02
1   2023-05-17
2   2020-11-26
3   2023-05-17
4   2023-07-15
5   2022-05-25
6   2020-12-10
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2020-09-14
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2023-05-22
1   2023-05-22
2   2020-08-23
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2022-10-07
1    2023-05-16
2    2022-10-07
3    2023-06-19
4    2023-07-04
5    2023-03-13
6    2023-06-15
7    2023-03-23
8    2023-03-14
9    2023-05-24
10   2022-10-21
11   2020-11-09
12   2022-12-29
13   2022-08-26
14   2022-01-11
15   2023-07-07
16   2022-06-08
17   2023-03-07
18   2020-11-23
19   2022-03-02
20   2020-09-07
21   2020-09-10
22   2020-11-05
23   2022-05-31
24   2021-03-11
25   2020-11-10
26   2020-11-13
27   2021-06-18
28   2021-11-18
29   2019-06-05
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-03-10
1    2023-07-09
2    2020-07-30
3    2020-07-31
4    2021-05-31
5    2020-09-22
6    2020-12-22
7    2020-08-26
8    2022-01-17
9    2020-12-22
10   2022-03-30
11   2021-01-04
12   2020-09-16
13   2020-09-04
Name: date, dtype: datetime64[ns]
after 5    2020-09-22
12   2020-09-16
Name: date, dtype: datetime64[ns]
before 0    2023-05-04
1    2022-06-02
2    2023-06-30
3    2023-03-08
4    2023-02-16
5    2022-12-07
6    2020-10-23
7    2020-11-29
8    2020-08-17
9    2023-07-07
10   2022-07-19
11   2020-12-22
12   2022-11-15
13   2023-03-23
14   2023-01-05
15   2022-10-18
16   2020-09-22
17   2020-12-22
18   2021-05-31
19   2020-12-10
20   2020-09-10
21   2020-09-07
22   2022-02-08
23   2021-05-14
24   2021-11-12
25   2022-09-08
26   2021-07-16
27   2020-08-04
28   2021-08-30
29   2021-04-29
30   2020-09-04
31   2021-02-09
32   2021-08-30
33   2021-02-19
34   2021-08-20
35   2021-07-08
36   2021-11-04
37   2021-03-02
38   2021-07-02
Name: date, dtype: datetime64[ns]
after 16   2020-09-22
20   2020-09-10
21   2020-09-07
Name: date, dtype: datetime64[ns]
before 0    2020-10-05
1    2020-10-04
2    2020-10-05
3    2023-07-15
4    2020-09-29
        ...
70   2021-01-07
71   2021-02-18
72   2020-08-25
73   2020-12-10
74   2020-10-06
Name: date, Length: 75, dtype: datetime64[ns]
after 1    2020-10-04
4    2020-09-29
9    2020-09-11
20   2020-09-17
24   2020-09-14
31   2020-09-07
33   2020-09-06
55   2020-09-21
56   2020-09-04
57   2020-10-01
59   2020-09-22
68   2020-09-22
Name: date, dtype: datetime64[ns]
before 0    2022-07-19
1    2023-05-07
2    2023-05-15
3    2023-05-09
4    2023-06-08
5    2020-12-02
6    2023-04-03
7    2023-03-29
8    2023-06-01
9    2022-08-29
10   2022-07-06
11   2020-10-23
12   2022-07-01
13   2023-04-26
14   2022-06-30
15   2020-08-15
16   2023-05-12
17   2023-05-08
18   2022-11-15
19   2020-08-23
20   2023-06-22
21   2023-04-10
22   2023-03-14
23   2020-01-06
24   2020-01-06
25   2022-06-16
26   2023-07-04
27   2021-01-04
28   2022-07-12
29   2022-01-01
30   2021-08-25
31   2021-02-09
32   2021-02-19
33   2020-07-10
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2020-09-24
1    2020-09-11
2    2020-10-23
3    2020-10-21
4    2020-11-29
5    2020-09-22
6    2020-09-21
7    2020-09-11
8    2021-01-04
9    2020-12-02
10   2020-07-02
11   2020-09-29
12   2020-01-13
13   2020-08-23
14   2020-01-14
15   2020-02-23
16   2021-08-26
Name: date, dtype: datetime64[ns]
after 1    2020-09-11
7    2020-09-11
13   2020-08-23
Name: date, dtype: datetime64[ns]
before 0   2021-06-30
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2020-09-04
1    2020-10-22
2    2020-12-04
3    2020-10-22
4    2020-08-31
5    2020-08-24
6    2023-07-12
7    2022-06-08
8    2020-07-30
9    2020-07-31
10   2020-09-07
11   2020-02-19
12   2020-09-10
13   2021-01-04
14   2020-08-23
15   2021-07-25
16   2021-01-15
17   2020-09-16
Name: date, dtype: datetime64[ns]
after 0    2020-09-04
4    2020-08-31
5    2020-08-24
10   2020-09-07
12   2020-09-10
14   2020-08-23
Name: date, dtype: datetime64[ns]
before 0    2023-04-18
1    2023-07-09
2    2020-09-22
3    2023-03-06
4    2021-02-23
5    2022-08-26
6    2023-07-06
7    2020-10-23
8    2022-04-24
9    2020-09-19
10   2020-11-29
11   2020-09-24
12   2023-03-20
13   2022-06-04
14   2022-08-12
15   2022-06-15
16   2020-09-22
17   2020-09-21
18   2022-09-20
19   2023-02-23
20   2020-09-23
21   2021-01-09
22   2020-02-13
23   2019-12-04
24   2020-07-10
25   2022-08-04
26   2020-12-10
27   2021-01-29
28   2019-05-03
29   2022-05-24
30   2020-01-13
31   2021-07-15
32   2021-01-04
33   2021-11-26
34   2021-11-03
35   2019-12-13
36   2020-12-22
37   2020-12-22
38   2020-01-14
39   2021-05-12
40   2020-01-06
41   2020-02-25
42   2022-07-19
43   2021-01-12
44   2016-08-24
45   2021-02-03
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2020-09-22
1    2020-09-21
2    2020-09-22
3    2021-08-08
4    2020-10-23
5    2020-11-29
6    2020-12-29
7    2020-09-22
8    2021-01-09
9    2020-09-24
10   2020-09-29
11   2020-08-25
12   2020-12-02
13   2020-11-13
14   2021-11-07
15   2022-07-11
16   2020-09-04
Name: date, dtype: datetime64[ns]
after 11   2020-08-25
16   2020-09-04
Name: date, dtype: datetime64[ns]
before 0    2023-03-03
1    2020-08-13
2    2020-09-22
3    2020-09-21
4    2020-10-23
5    2020-08-18
6    2022-02-17
7    2022-07-28
8    2020-08-23
9    2020-11-25
10   2022-02-06
11   2020-12-02
12   2022-07-11
13   2021-04-01
14   2020-09-04
Name: date, dtype: datetime64[ns]
after 1    2020-08-13
5    2020-08-18
8    2020-08-23
14   2020-09-04
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-17
1    2022-10-05
2    2022-11-29
3    2020-10-23
4    2020-09-21
5    2020-12-22
6    2020-09-22
7    2021-05-31
8    2020-09-23
9    2022-03-28
10   2018-01-08
11   2020-09-22
12   2020-07-28
13   2020-04-09
14   2020-09-19
15   2020-04-07
16   2020-09-18
17   2020-11-25
18   2020-09-04
Name: date, dtype: datetime64[ns]
after 18   2020-09-04
Name: date, dtype: datetime64[ns]
before 0    2023-07-09
1    2020-07-21
2    2020-10-23
3    2020-09-01
4    2020-09-19
5    2023-05-22
6    2022-11-15
7    2020-09-22
8    2020-09-14
9    2020-09-21
10   2020-09-23
11   2020-07-29
12   2021-03-03
13   2021-10-29
14   2020-09-22
15   2021-12-20
16   2020-12-10
17   2021-01-04
18   2020-09-24
19   2020-09-18
20   2020-12-29
21   2020-07-22
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-24
1    2023-07-26
2    2020-09-03
3    2023-06-30
4    2020-09-01
        ...
89   2021-01-07
90   2021-01-14
91   2020-08-25
92   2020-10-18
93   2020-12-06
Name: date, Length: 94, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2023-05-18
1   2020-10-12
2   2020-10-23
3   2020-09-23
4   2021-04-02
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2023-03-03
1   2020-09-14
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2020-08-10
1   2020-07-29
2   2022-08-30
3   2023-03-06
4   2020-07-17
5   2020-09-15
6   2020-09-15
7   2020-07-30
8   2020-08-06
Name: date, dtype: datetime64[ns]
after 0   2020-08-10
1   2020-07-29
4   2020-07-17
7   2020-07-30
8   2020-08-06
Name: date, dtype: datetime64[ns]
before 0    2023-07-09
1    2020-07-27
2    2020-08-13
3    2020-09-10
4    2020-08-04
5    2020-09-22
6    2020-09-23
7    2022-03-28
8    2020-09-07
9    2021-05-31
10   2020-07-05
11   2020-08-14
12   2020-02-14
13   2021-01-04
14   2020-07-16
15   2020-08-31
16   2020-12-22
Name: date, dtype: datetime64[ns]
after 1    2020-07-27
4    2020-08-04
14   2020-07-16
Name: date, dtype: datetime64[ns]
before 0    2023-07-12
1    2020-07-10
2    2023-06-22
3    2020-07-26
4    2023-07-06
5    2023-06-05
6    2021-06-22
7    2022-10-18
8    2023-07-03
9    2019-12-03
10   2020-10-07
11   2021-01-04
12   2020-09-29
13   2023-05-18
14   2019-11-18
15   2021-06-07
16   2022-07-19
17   2023-06-25
18   2021-08-10
19   2020-09-29
20   2020-08-31
21   2023-06-28
Name: date, dtype: datetime64[ns]
after 1   2020-07-10
3   2020-07-26
Name: date, dtype: datetime64[ns]
before 0   2022-09-16
1   2020-07-10
2   2022-01-20
3   2020-07-26
4   2020-07-16
5   2020-07-16
6   2020-06-26
Name: date, dtype: datetime64[ns]
after 1   2020-07-10
3   2020-07-26
4   2020-07-16
5   2020-07-16
Name: date, dtype: datetime64[ns]
before 0    2023-05-12
1    2023-07-07
2    2023-06-14
3    2023-04-18
4    2023-07-17
5    2023-07-03
6    2023-02-09
7    2022-10-06
8    2022-11-30
9    2020-07-26
10   2020-08-07
11   2020-08-15
12   2022-03-12
13   2021-09-08
14   2022-06-28
15   2020-07-16
16   2022-03-30
17   2023-07-06
18   2021-09-09
19   2020-09-10
20   2022-05-17
21   2020-11-10
22   2020-07-14
23   2023-07-01
24   2020-09-01
25   2020-07-16
26   2023-07-02
27   2022-03-02
28   2021-09-07
29   2020-12-30
30   2020-08-21
31   2022-08-25
32   2021-01-04
33   2020-08-18
34   2022-09-05
Name: date, dtype: datetime64[ns]
after 9    2020-07-26
15   2020-07-16
22   2020-07-14
25   2020-07-16
Name: date, dtype: datetime64[ns]
before 0    2020-07-26
1    2021-04-08
2    2023-04-13
3    2020-08-15
4    2021-01-04
5    2021-08-03
6    2019-01-24
7    2021-08-27
8    2020-12-24
9    2020-12-27
10   2020-08-26
11   2020-06-19
12   2020-08-21
Name: date, dtype: datetime64[ns]
after 0   2020-07-26
Name: date, dtype: datetime64[ns]
before 0    2023-08-22
1    2020-07-26
2    2021-08-08
3    2020-06-27
4    2020-07-19
5    2020-11-16
6    2020-07-13
7    2021-04-08
8    2020-07-31
9    2020-07-30
10   2020-07-29
11   2020-09-23
12   2021-01-04
13   2020-03-26
14   2020-12-22
15   2020-08-07
16   2020-07-27
17   2020-08-31
18   2020-09-17
19   2021-08-06
20   2021-08-12
21   2021-01-20
22   2020-07-22
23   2021-02-03
24   2020-11-27
25   2020-08-21
26   2021-07-19
Name: date, dtype: datetime64[ns]
after 1    2020-07-26
4    2020-07-19
6    2020-07-13
16   2020-07-27
22   2020-07-22
Name: date, dtype: datetime64[ns]
before 0    2020-07-26
1    2023-07-10
2    2020-06-30
3    2020-08-15
4    2023-06-01
        ...
64   2020-09-19
65   2021-05-19
66   2018-11-05
67   2020-11-17
68   2018-10-01
Name: date, Length: 69, dtype: datetime64[ns]
after 0    2020-07-26
2    2020-06-30
24   2020-07-05
45   2020-07-16
Name: date, dtype: datetime64[ns]
before 0    2023-03-15
1    2021-10-22
2    2022-08-17
3    2022-10-21
4    2022-11-10
5    2022-12-09
6    2021-01-26
7    2020-07-19
8    2023-07-20
9    2023-03-13
10   2022-06-10
11   2021-11-19
12   2020-11-10
13   2022-01-03
14   2022-03-04
15   2022-08-07
16   2020-07-16
17   2020-06-24
18   2021-09-29
19   2022-01-14
20   2020-09-10
21   2021-01-05
22   2021-01-11
23   2020-06-26
24   2021-09-09
25   2020-12-08
26   2020-07-10
27   2021-08-18
28   2021-10-25
Name: date, dtype: datetime64[ns]
after 7    2020-07-19
16   2020-07-16
17   2020-06-24
23   2020-06-26
26   2020-07-10
Name: date, dtype: datetime64[ns]
before 0    2020-07-17
1    2020-07-19
2    2020-07-30
3    2020-07-31
4    2020-05-06
5    2020-07-07
6    2021-04-29
7    2020-07-05
8    2020-08-18
9    2020-09-16
10   2020-06-27
11   2021-01-02
Name: date, dtype: datetime64[ns]
after 0    2020-07-17
1    2020-07-19
5    2020-07-07
7    2020-07-05
10   2020-06-27
Name: date, dtype: datetime64[ns]
before 0    2023-05-31
1    2020-07-22
2    2023-06-05
3    2020-08-15
4    2021-08-08
5    2020-10-07
6    2020-07-05
7    2020-06-08
8    2021-01-04
9    2020-08-18
10   2020-09-29
11   2020-12-07
12   2022-07-11
13   2021-07-25
14   2020-07-20
Name: date, dtype: datetime64[ns]
after 6    2020-07-05
14   2020-07-20
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-25
1    2023-05-09
2    2021-09-08
3    2020-07-12
4    2020-07-10
5    2020-07-05
6    2020-08-15
7    2020-07-31
8    2020-07-29
9    2020-06-23
10   2020-06-27
11   2023-07-24
Name: date, dtype: datetime64[ns]
after 3    2020-07-12
4    2020-07-10
5    2020-07-05
9    2020-06-23
10   2020-06-27
Name: date, dtype: datetime64[ns]
before 0    2023-07-24
1    2020-06-17
2    2023-06-13
3    2020-07-05
4    2022-07-25
5    2023-06-23
6    2020-07-19
7    2022-11-16
8    2021-08-09
9    2021-01-04
10   2020-07-05
11   2020-09-29
12   2021-07-06
13   2020-07-10
14   2020-07-14
15   2021-09-13
16   2020-07-16
Name: date, dtype: datetime64[ns]
after 1    2020-06-17
3    2020-07-05
10   2020-07-05
13   2020-07-10
14   2020-07-14
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-06-01
1    2023-02-20
2    2020-07-31
3    2020-07-19
4    2020-07-30
5    2020-07-05
6    2020-07-12
7    2020-07-16
8    2021-05-31
9    2020-07-26
10   2022-11-16
11   2022-08-26
12   2020-09-23
13   2020-09-22
14   2020-07-05
15   2022-08-30
16   2020-11-10
17   2022-01-17
18   2020-07-13
19   2020-07-16
20   2020-12-22
21   2020-12-22
22   2020-08-03
23   2020-07-10
24   2020-09-16
Name: date, dtype: datetime64[ns]
after 5    2020-07-05
6    2020-07-12
14   2020-07-05
18   2020-07-13
23   2020-07-10
Name: date, dtype: datetime64[ns]
before 0    2023-04-18
1    2023-05-14
2    2020-07-12
3    2023-06-05
4    2023-06-30
5    2020-07-13
6    2023-06-08
7    2020-07-05
8    2022-12-06
9    2020-08-15
10   2020-07-16
11   2020-07-19
12   2023-04-14
13   2020-07-05
14   2023-02-23
15   2019-01-24
16   2021-11-11
17   2021-03-11
18   2022-05-14
19   2021-05-19
20   2022-01-19
21   2020-06-10
Name: date, dtype: datetime64[ns]
after 2    2020-07-12
7    2020-07-05
13   2020-07-05
Name: date, dtype: datetime64[ns]
before 0    2023-04-18
1    2020-07-12
2    2020-07-14
3    2023-02-27
4    2022-10-07
5    2022-10-17
6    2020-07-30
7    2020-07-05
8    2020-07-31
9    2020-07-19
10   2020-06-25
11   2020-08-15
12   2020-07-07
13   2022-01-24
14   2020-10-22
15   2020-07-05
16   2020-06-27
17   2020-08-31
18   2021-07-20
19   2018-10-26
20   2022-09-27
Name: date, dtype: datetime64[ns]
after 1    2020-07-12
7    2020-07-05
10   2020-06-25
12   2020-07-07
15   2020-07-05
16   2020-06-27
Name: date, dtype: datetime64[ns]
before 0   2020-07-16
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-02
1    2020-07-05
2    2020-07-03
3    2020-10-27
4    2023-05-30
5    2023-07-14
6    2020-07-19
7    2021-12-31
8    2023-06-14
9    2020-08-15
10   2020-07-20
11   2020-07-07
12   2023-05-16
13   2020-07-05
14   2020-08-25
15   2022-03-07
16   2020-09-10
17   2023-07-20
18   2021-01-04
19   2020-12-10
20   2020-09-08
21   2021-12-09
22   2020-07-10
23   2023-07-05
Name: date, dtype: datetime64[ns]
after 1    2020-07-05
2    2020-07-03
11   2020-07-07
13   2020-07-05
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-08-10
1    2020-06-26
2    2020-05-11
3    2020-07-05
4    2022-08-08
5    2022-05-05
6    2020-07-16
7    2022-05-04
8    2022-01-03
9    2023-06-28
10   2020-09-03
11   2020-11-10
12   2021-08-13
13   2020-09-01
14   2021-09-27
15   2021-08-28
16   2020-06-24
17   2020-06-26
18   2020-12-08
19   2020-07-05
20   2019-06-10
21   2020-01-21
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2020-04-14
1    2020-07-19
2    2022-03-28
3    2020-07-20
4    2023-05-01
5    2021-01-07
6    2021-05-31
7    2020-09-23
8    2020-07-27
9    2020-05-06
10   2020-07-14
11   2020-08-03
12   2020-12-22
13   2020-11-10
14   2020-05-24
15   2020-03-27
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2022-11-10
1   2022-11-22
2   2020-09-23
3   2020-08-15
4   2020-12-22
5   2020-09-01
6   2019-08-12
7   2020-08-03
8   2020-07-10
9   2020-06-10
Name: date, dtype: datetime64[ns]
after 9   2020-06-10
Name: date, dtype: datetime64[ns]
before 0   2020-07-03
1   2022-09-05
2   2020-07-20
3   2021-11-28
4   2020-06-10
Name: date, dtype: datetime64[ns]
after 4   2020-06-10
Name: date, dtype: datetime64[ns]
before 0    2023-07-26
1    2023-08-09
2    2022-09-30
3    2020-06-27
4    2023-07-12
        ...
95   2020-07-05
96   2021-05-09
97   2020-06-26
98   2021-10-15
99   2020-06-24
Name: date, Length: 100, dtype: datetime64[ns]
after 19   2020-06-13
67   2020-06-16
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0   2020-07-01
1   2020-06-04
2   2020-07-20
3   2020-06-25
4   2020-06-10
Name: date, dtype: datetime64[ns]
after 1   2020-06-04
4   2020-06-10
Name: date, dtype: datetime64[ns]
before 0   2020-06-17
1   2020-07-16
2   2022-05-05
3   2022-08-08
4   2022-01-03
5   2020-06-26
6   2020-09-01
7   2020-06-24
8   2020-07-13
9   2020-12-23
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-07-09
1    2023-06-21
2    2023-06-01
3    2023-05-26
4    2023-05-31
        ...
95   2023-04-06
96   2023-04-02
97   2023-05-16
98   2023-05-18
99   2023-05-31
Name: date, Length: 100, dtype: datetime64[ns]
after 69   2020-06-09
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2020-06-10
1    2020-06-05
2    2020-06-24
3    2020-07-20
4    2020-05-26
5    2020-12-19
6    2020-09-30
7    2020-06-16
8    2020-07-02
9    2020-07-05
10   2020-01-06
11   2020-09-10
12   2020-12-10
13   2020-06-26
14   2020-05-24
15   2020-06-10
Name: date, dtype: datetime64[ns]
after 0    2020-06-10
1    2020-06-05
4    2020-05-26
14   2020-05-24
15   2020-06-10
Name: date, dtype: datetime64[ns]
before 0    2023-06-30
1    2020-06-24
2    2023-05-31
3    2023-06-30
4    2022-03-28
5    2020-04-09
6    2023-07-14
7    2023-06-10
8    2020-07-05
9    2022-05-30
10   2020-04-21
11   2020-06-26
12   2020-05-19
13   2020-06-10
Name: date, dtype: datetime64[ns]
after 12   2020-05-19
Name: date, dtype: datetime64[ns]
before 0   2021-06-01
1   2021-03-17
2   2021-07-25
3   2020-07-07
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2022-11-20
1   2023-01-05
2   2023-02-16
3   2022-10-05
4   2020-07-20
5   2020-06-16
6   2020-09-23
7   2020-07-05
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2020-11-29
1   2020-02-25
2   2020-07-20
3   2023-01-17
4   2020-09-22
5   2020-02-23
6   2020-06-01
Name: date, dtype: datetime64[ns]
after 1   2020-02-25
5   2020-02-23
Name: date, dtype: datetime64[ns]
before 0    2023-07-10
1    2023-07-07
2    2023-07-07
3    2023-07-11
4    2020-06-24
5    2020-07-20
6    2020-02-25
7    2020-01-09
8    2020-03-04
9    2020-02-21
10   2020-07-05
11   2021-01-04
12   2020-04-09
13   2020-06-01
14   2020-03-31
15   2021-10-05
16   2020-12-20
Name: date, dtype: datetime64[ns]
after 6   2020-02-25
9   2020-02-21
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2020-01-31
1    2023-05-22
2    2022-11-16
3    2020-06-24
4    2020-07-20
5    2020-11-16
6    2020-03-06
7    2020-01-28
8    2020-07-05
9    2020-06-01
10   2016-02-16
11   2022-05-03
12   2020-02-24
13   2020-06-26
14   2020-03-31
15   2022-10-28
16   2021-08-26
17   2019-12-19
18   2019-02-18
19   2019-01-15
Name: date, dtype: datetime64[ns]
after 0    2020-01-31
7    2020-01-28
12   2020-02-24
Name: date, dtype: datetime64[ns]
before 0   2020-02-20
1   2020-01-31
2   2020-07-20
3   2020-10-07
4   2020-02-24
5   2020-12-28
6   2020-03-31
7   2022-05-24
Name: date, dtype: datetime64[ns]
after 0   2020-02-20
1   2020-01-31
Name: date, dtype: datetime64[ns]
before 0    2023-07-31
1    2022-11-29
2    2023-03-22
3    2020-03-03
4    2022-10-17
5    2020-02-12
6    2020-03-04
7    2020-01-30
8    2020-02-16
9    2023-06-30
10   2020-07-20
11   2022-07-26
12   2021-02-16
13   2021-08-08
14   2020-09-22
15   2020-02-23
16   2020-06-26
17   2020-06-01
18   2022-03-28
19   2022-05-04
Name: date, dtype: datetime64[ns]
after 5   2020-02-12
7   2020-01-30
8   2020-02-16
Name: date, dtype: datetime64[ns]

<ipython-input-13-17bba36324e8>:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zzin_result.drop(['index'],axis=1, inplace=True)

before 0    2023-07-07
1    2020-02-16
2    2023-06-28
3    2023-05-19
4    2020-08-15
        ...
75   2019-01-21
76   2018-07-06
77   2019-06-03
78   2019-11-15
79   2022-08-27
Name: date, Length: 80, dtype: datetime64[ns]
after 1   2020-02-16
8   2020-02-14
Name: date, dtype: datetime64[ns]
before 0    2023-08-09
1    2023-07-08
2    2023-07-06
3    2023-07-07
4    2023-06-30
        ...
95   2023-03-16
96   2023-03-22
97   2023-04-26
98   2023-03-02
99   2023-06-21
Name: date, Length: 100, dtype: datetime64[ns]
after 14   2020-02-07
17   2020-02-03
92   2020-01-28
Name: date, dtype: datetime64[ns]
before 0   2021-06-02
1   2021-05-30
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-08-12
1    2023-06-10
2    2023-04-20
3    2023-02-25
4    2023-05-02
5    2023-06-18
6    2023-06-07
7    2023-04-02
8    2023-01-13
9    2023-05-19
10   2023-02-03
11   2023-03-16
12   2023-02-08
13   2021-11-09
14   2020-06-24
15   2023-06-09
16   2023-04-13
17   2021-01-12
18   2023-01-31
19   2020-07-20
20   2022-02-25
21   2021-10-29
22   2022-08-26
23   2021-07-09
24   2020-01-09
25   2022-05-31
26   2021-01-25
27   2021-01-20
28   2020-10-29
29   2021-11-16
30   2021-01-03
31   2020-07-30
32   2020-06-26
33   2020-02-07
34   2022-06-30
35   2021-01-08
36   2022-05-10
37   2023-04-11
38   2020-10-28
39   2020-07-07
40   2020-03-17
41   2020-02-03
42   2021-01-11
43   2019-12-10
44   2021-02-03
45   2020-09-03
46   2020-02-24
47   2020-07-20
48   2020-02-12
49   2020-01-30
50   2020-09-11
51   2020-02-17
52   2020-07-30
Name: date, dtype: datetime64[ns]
after 24   2020-01-09
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2020-01-14
1   2020-01-13
Name: date, dtype: datetime64[ns]
after 0   2020-01-14
1   2020-01-13
Name: date, dtype: datetime64[ns]
before 0    2019-12-16
1    2021-07-21
2    2019-12-13
3    2020-09-03
4    2023-03-23
5    2022-09-23
6    2022-09-01
7    2023-02-21
8    2022-01-19
9    2021-06-04
10   2021-06-17
11   2022-05-27
12   2021-11-11
13   2019-12-16
14   2021-06-18
15   2021-11-23
16   2020-11-12
17   2019-11-12
18   2021-08-26
Name: date, dtype: datetime64[ns]
after 0    2019-12-16
2    2019-12-13
13   2019-12-16
Name: date, dtype: datetime64[ns]
before 0   2019-12-16
1   2023-06-02
2   2019-11-18
3   2019-12-16
Name: date, dtype: datetime64[ns]
after 2   2019-11-18
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2022-10-05
1    2023-07-10
2    2021-07-09
3    2022-03-18
4    2022-08-12
5    2022-09-21
6    2019-11-22
7    2019-11-22
8    2022-06-15
9    2019-12-16
10   2019-11-18
11   2022-08-03
12   2020-01-31
13   2019-11-12
14   2019-12-16
15   2021-11-26
16   2019-09-30
Name: date, dtype: datetime64[ns]
after 6    2019-11-22
7    2019-11-22
10   2019-11-18
13   2019-11-12
Name: date, dtype: datetime64[ns]
before 0   2019-11-07
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0   2023-01-17
1   2019-12-06
2   2019-12-19
3   2020-01-28
4   2019-12-16
5   2020-09-23
6   2020-02-19
7   2022-07-11
Name: date, dtype: datetime64[ns]
after 1   2019-12-06
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2022-08-29
1    2022-03-28
2    2022-11-16
3    2022-08-26
4    2020-11-16
5    2023-07-12
6    2019-11-18
7    2020-09-11
8    2019-12-16
9    2022-06-15
10   2020-08-03
11   2022-03-09
12   2020-12-22
13   2020-07-10
14   2019-10-22
Name: date, dtype: datetime64[ns]
after 6   2019-11-18
Name: date, dtype: datetime64[ns]
before 0    2023-08-07
1    2023-07-10
2    2023-06-19
3    2023-07-11
4    2023-06-08
5    2023-07-21
6    2023-06-22
7    2023-04-26
8    2023-07-10
9    2023-06-23
10   2023-07-04
11   2023-06-28
12   2022-10-31
13   2020-01-06
14   2023-06-02
15   2020-09-02
16   2023-06-09
17   2023-07-21
18   2019-12-16
19   2021-07-27
20   2023-07-21
21   2020-01-31
22   2023-05-31
23   2023-07-21
24   2019-12-16
25   2021-09-07
26   2022-12-14
27   2023-06-19
28   2022-11-04
29   2020-06-01
30   2021-11-28
31   2021-06-27
32   2019-11-11
33   2020-07-02
34   2020-10-20
35   2019-10-16
36   2020-10-31
37   2020-07-20
38   2018-01-11
39   2020-07-13
Name: date, dtype: datetime64[ns]
after 32   2019-11-11
Name: date, dtype: datetime64[ns]
before 0   2022-05-03
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2023-04-01
1   2021-03-11
2   2019-11-18
3   2019-12-16
4   2019-12-16
Name: date, dtype: datetime64[ns]
after 2   2019-11-18
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2019-10-29
1   2019-11-18
2   2022-07-01
3   2019-12-03
Name: date, dtype: datetime64[ns]
after 0   2019-10-29
1   2019-11-18
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0   2023-03-06
1   2022-10-17
2   2019-11-18
3   2020-01-13
4   2021-11-04
5   2020-01-31
6   2019-12-16
7   2020-02-25
8   2019-10-21
Name: date, dtype: datetime64[ns]
after 2   2019-11-18
Name: date, dtype: datetime64[ns]
before 0    2022-01-11
1    2021-09-08
2    2023-06-16
3    2023-06-21
4    2020-11-17
5    2021-12-31
6    2019-11-18
7    2019-10-04
8    2021-09-07
9    2019-12-05
10   2019-10-16
11   2021-09-09
12   2018-08-30
13   2021-08-25
14   2018-10-22
15   2022-02-03
16   2020-02-07
Name: date, dtype: datetime64[ns]
after 6   2019-11-18
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2022-11-20
1    2023-02-16
2    2022-10-05
3    2022-07-01
4    2022-05-09
5    2022-07-31
6    2019-11-12
7    2020-11-17
8    2023-02-02
9    2022-07-05
10   2019-12-16
11   2023-04-11
12   2022-12-13
13   2022-06-23
14   2022-03-15
15   2021-11-28
Name: date, dtype: datetime64[ns]
after 6   2019-11-12
Name: date, dtype: datetime64[ns]
before 0   2023-02-14
1   2020-11-16
2   2020-09-24
3   2019-07-30
4   2019-10-15
5   2019-12-16
6   2019-10-16
7   2019-10-14
Name: date, dtype: datetime64[ns]
after 4   2019-10-15
6   2019-10-16
7   2019-10-14
Name: date, dtype: datetime64[ns]
before 0    2023-07-27
1    2023-07-27
2    2023-06-13
3    2023-04-18
4    2022-08-26
5    2020-11-17
6    2022-12-06
7    2019-12-16
8    2019-10-04
9    2022-05-10
10   2019-11-12
11   2021-09-06
12   2019-05-01
13   2020-12-22
14   2019-12-16
15   2022-06-15
16   2019-10-16
17   2021-11-26
18   2022-05-26
19   2019-12-04
20   2020-07-10
21   2019-05-03
Name: date, dtype: datetime64[ns]
after 16   2019-10-16
Name: date, dtype: datetime64[ns]
before 0    2023-02-07
1    2023-03-29
2    2022-12-19
3    2022-05-25
4    2023-06-02
5    2023-03-02
6    2021-08-02
7    2021-04-01
8    2020-07-07
9    2019-10-10
10   2019-11-01
11   2022-01-24
12   2017-02-13
13   2020-11-13
14   2021-08-02
15   2020-12-29
16   2021-07-05
17   2022-04-05
18   2022-03-31
19   2021-11-22
20   2020-07-07
21   2022-04-07
22   2021-06-13
23   2019-12-03
Name: date, dtype: datetime64[ns]
after 10   2019-11-01
Name: date, dtype: datetime64[ns]
before 0   2023-03-06
1   2020-11-16
2   2020-07-16
3   2019-07-30
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-05-31
1    2023-06-14
2    2023-07-06
3    2019-11-08
4    2019-11-06
5    2023-07-03
6    2020-11-03
7    2023-05-24
8    2020-10-20
9    2019-07-30
10   2018-11-02
Name: date, dtype: datetime64[ns]
after 3   2019-11-08
4   2019-11-06
Name: date, dtype: datetime64[ns]
before 0   2021-07-06
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-06-27
1    2023-05-29
2    2022-11-02
3    2022-11-17
4    2021-11-07
5    2021-06-08
6    2022-08-18
7    2022-08-04
8    2021-07-22
9    2019-12-06
10   2019-10-16
11   2021-09-14
12   2019-10-07
Name: date, dtype: datetime64[ns]
after 10   2019-10-16
12   2019-10-07
Name: date, dtype: datetime64[ns]
before 0    2022-11-04
1    2023-03-31
2    2023-07-06
3    2020-05-15
4    2022-11-03
5    2023-02-18
6    2022-10-17
7    2023-06-19
8    2023-07-21
9    2020-02-19
10   2020-06-29
11   2019-10-16
12   2020-05-15
13   2020-01-13
14   2020-01-31
15   2019-12-16
16   2020-01-17
17   2019-11-08
18   2022-02-08
19   2020-11-18
20   2019-11-06
21   2021-05-24
22   2021-04-16
Name: date, dtype: datetime64[ns]
after 11   2019-10-16
Name: date, dtype: datetime64[ns]
before 0    2023-08-02
1    2023-07-31
2    2023-07-31
3    2023-07-10
4    2023-07-09
        ...
95   2022-05-25
96   2021-04-09
97   2022-02-08
98   2022-05-02
99   2021-06-02
Name: date, Length: 100, dtype: datetime64[ns]
after 68   2019-10-22
76   2019-10-07
93   2019-10-14
Name: date, dtype: datetime64[ns]
before 0    2023-07-24
1    2023-03-02
2    2021-10-15
3    2019-10-04
4    2019-11-12
5    2019-04-23
6    2019-10-25
7    2023-05-02
8    2022-08-30
9    2020-02-19
10   2019-11-11
11   2022-11-18
12   2020-01-31
13   2021-12-21
14   2021-10-13
15   2021-04-01
16   2017-12-15
17   2023-07-18
Name: date, dtype: datetime64[ns]
after 3   2019-10-04
6   2019-10-25
Name: date, dtype: datetime64[ns]
before 0    2023-07-27
1    2023-07-27
2    2023-05-23
3    2019-10-28
4    2022-12-02
5    2022-08-17
6    2020-06-04
7    2020-09-11
8    2020-06-27
9    2022-05-24
10   2019-10-16
11   2019-04-22
12   2019-10-07
Name: date, dtype: datetime64[ns]
after 3    2019-10-28
10   2019-10-16
12   2019-10-07
Name: date, dtype: datetime64[ns]
before 0    2022-10-18
1    2021-04-28
2    2021-04-23
3    2022-08-26
4    2021-04-16
5    2021-04-14
6    2021-04-18
7    2022-07-28
8    2019-10-16
9    2021-04-25
10   2019-10-07
11   2021-04-21
12   2022-01-04
13   2019-10-22
14   2021-07-19
15   2021-04-30
16   2021-04-21
17   2021-03-03
18   2016-07-11
Name: date, dtype: datetime64[ns]
after 8    2019-10-16
10   2019-10-07
13   2019-10-22
Name: date, dtype: datetime64[ns]
before 0   2019-11-07
1   2021-02-24
2   2021-03-17
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-08-14
1    2023-03-10
2    2023-07-03
3    2023-06-19
4    2022-04-21
5    2023-04-13
6    2023-06-09
7    2019-11-18
8    2023-06-28
9    2023-03-20
10   2023-06-09
11   2019-10-22
12   2023-06-29
13   2023-05-31
14   2023-07-20
15   2019-12-16
16   2022-06-30
17   2022-05-10
18   2023-04-11
19   2022-12-14
20   2020-07-30
21   2020-07-20
22   2020-09-11
23   2021-06-27
24   2020-10-20
25   2019-10-16
26   2022-07-05
27   2020-07-02
Name: date, dtype: datetime64[ns]
after 11   2019-10-22
25   2019-10-16
Name: date, dtype: datetime64[ns]
before 0   2020-07-30
1   2019-10-16
2   2023-02-14
3   2019-10-11
4   2019-10-21
5   2021-10-25
Name: date, dtype: datetime64[ns]
after 1   2019-10-16
3   2019-10-11
Name: date, dtype: datetime64[ns]
before Series([], Name: date, dtype: datetime64[ns])
after Series([], Name: date, dtype: datetime64[ns])
before 0    2023-01-13
1    2023-03-10
2    2023-03-17
3    2023-05-18
4    2019-09-11
5    2020-03-26
6    2019-08-01
7    2021-04-26
8    2019-04-02
9    2020-12-03
10   2022-03-28
11   2021-01-22
12   2019-08-01
13   2021-06-30
14   2019-04-10
15   2021-03-08
16   2019-08-14
17   2019-09-25
18   2019-04-11
Name: date, dtype: datetime64[ns]
after 17   2019-09-25
Name: date, dtype: datetime64[ns]
before 0    2023-03-13
1    2023-01-20
2    2023-05-23
3    2023-01-25
4    2023-03-10
5    2023-02-10
6    2023-06-09
7    2019-01-03
8    2019-11-11
9    2023-01-11
10   2023-01-02
11   2022-12-12
12   2022-09-20
13   2021-11-09
14   2022-05-18
15   2019-06-25
16   2021-08-26
17   2023-01-18
Name: date, dtype: datetime64[ns]
after Series([], Name: date, dtype: datetime64[ns])

In [ ]:
# 기사별 링크 크롤링 결과
real_result

,link,article,name,date
0,https://news.google.com/articles/CBMiOWh0dHBzO...,블로터,인스웨이브시스템즈,2023-08-13
1,https://news.google.com/articles/CBMiOWh0dHA6L...,비즈워치,인스웨이브시스템즈,2023-08-19
2,https://news.google.com/articles/CBMiJmh0dHBzO...,딜사이트,인스웨이브시스템즈,2023-08-04
3,https://news.google.com/articles/CBMiXWh0dHA6L...,더벨(thebell),인스웨이브시스템즈,2023-08-01
4,https://news.google.com/articles/CBMiOmh0dHBzO...,충청신문,인스웨이브시스템즈,2023-08-17
...,...,...,...,...
2338,https://news.google.com/articles/CBMiXGh0dHBzO...,더벨(thebell),티라유텍,2019-10-22
2339,https://news.google.com/articles/CBMiKmh0dHBzO...,이투데이,티라유텍,2019-10-16
2340,https://news.google.com/articles/CBMiKmh0dHBzO...,이투데이,미디어젠,2019-10-16
2341,https://news.google.com/articles/CBMiOmh0dHBzO...,서울파이낸스,미디어젠,2019-10-11
2342,https://news.google.com/articles/CBMiOWh0dHA6L...,비즈워치,캐리소프트,2019-09-25

## 뉴스 필터링

In [ ]:
csv_file_path = f'/content/drive/MyDrive/[구글]1-15페이지.csv'
df = pd.read_csv(csv_file_path)
df.drop(['Unnamed: 0'],axis=1, inplace=True)
df

,link,article,name,date
0,https://news.google.com/articles/CBMiOWh0dHBzO...,블로터,인스웨이브시스템즈,2023-08-13
1,https://news.google.com/articles/CBMiOWh0dHA6L...,비즈워치,인스웨이브시스템즈,2023-08-19
2,https://news.google.com/articles/CBMiJmh0dHBzO...,딜사이트,인스웨이브시스템즈,2023-08-04
3,https://news.google.com/articles/CBMiXWh0dHA6L...,더벨(thebell),인스웨이브시스템즈,2023-08-01
4,https://news.google.com/articles/CBMiOmh0dHBzO...,충청신문,인스웨이브시스템즈,2023-08-17
...,...,...,...,...
2338,https://news.google.com/articles/CBMiXGh0dHBzO...,더벨(thebell),티라유텍,2019-10-22
2339,https://news.google.com/articles/CBMiKmh0dHBzO...,이투데이,티라유텍,2019-10-16
2340,https://news.google.com/articles/CBMiKmh0dHBzO...,이투데이,미디어젠,2019-10-16
2341,https://news.google.com/articles/CBMiOmh0dHBzO...,서울파이낸스,미디어젠,2019-10-11
2342,https://news.google.com/articles/CBMiOWh0dHA6L...,비즈워치,캐리소프트,2019-09-25

- values_to_keep : 크롤링 대상 언론사

In [ ]:
values_to_keep = ['머니투데이','매일경제','서울경제신문', '서울경제','더벨(thebell)', '더벨','한국경제',
                  '이투데이','머니s', '머니S','아시아경제','서울파이낸스','딜사이트',
                  '비즈워치', '이코노미스트','라이센스뉴스','시사저널e','충청신문',
                  '조선비즈','전국매일신문','Investing.com','영남일보','CBC뉴스',
                  '블로터','더팩트','아시아에이','문화뉴스','한겨레','뉴스핌',
                  '이데일리', '비즈니스포스트', '시사저널이코노미', '파이낸셜뉴스', '국제뉴스',
                  '데일리안', 'MTN', '아주경제', '뉴스토마토', '뉴스1', '한국경제TV']

# 크롤링 대상 언론사 데이터만 선택하여 새로운 데이터프레임 생성
filtered_df = df[df['article'].isin(values_to_keep)]

In [ ]:
print(len(filtered_df))
filtered_df.reset_index(inplace=True, drop=True) # 인덱스 정리
filtered_df

1920

,link,article,name,date
0,https://news.google.com/articles/CBMiOWh0dHBzO...,블로터,인스웨이브시스템즈,2023-08-13
1,https://news.google.com/articles/CBMiOWh0dHA6L...,비즈워치,인스웨이브시스템즈,2023-08-19
2,https://news.google.com/articles/CBMiJmh0dHBzO...,딜사이트,인스웨이브시스템즈,2023-08-04
3,https://news.google.com/articles/CBMiXWh0dHA6L...,더벨(thebell),인스웨이브시스템즈,2023-08-01
4,https://news.google.com/articles/CBMiOmh0dHBzO...,충청신문,인스웨이브시스템즈,2023-08-17
...,...,...,...,...
1915,https://news.google.com/articles/CBMiXGh0dHBzO...,더벨(thebell),티라유텍,2019-10-22
1916,https://news.google.com/articles/CBMiKmh0dHBzO...,이투데이,티라유텍,2019-10-16
1917,https://news.google.com/articles/CBMiKmh0dHBzO...,이투데이,미디어젠,2019-10-16
1918,https://news.google.com/articles/CBMiOmh0dHBzO...,서울파이낸스,미디어젠,2019-10-11
1919,https://news.google.com/articles/CBMiOWh0dHA6L...,비즈워치,캐리소프트,2019-09-25

## 기사 내용 가져오기


*   신문사별 크롤링 함수가 다르기 때문에, if-elif-else 문을 사용하였습니다.

In [ ]:

for index, row in filtered_df.iterrows():
  if row['article']=='머니투데이':
    title,  content=mt(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='매일경제':
    title, content=mk(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='서울경제신문':
    title, content=sedaily(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='더벨(thebell)':
    title, content=thebell(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='한국경제':
    title, content=hankyung(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='이투데이':
    title,content=etoday(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='머니s' or row['article']=='머니S':
    title, content=moneys(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='아시아경제':
    title, content=asiae(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='서울파이낸스':
    title, content=seoulfn(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='딜사이트':
    title, content=dealsite(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='비즈워치':
    title,content=bizwatch(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='이코노미스트':
    title, content=economist(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='라이센스뉴스':
    title, content=license_news(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='시사저널e':
    title, content=sisa(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='충청신문':
    title,content=chungcheong(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='조선비즈':
    title, content=chosun(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='전국매일신문':
    title, content=jkmail(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='Investing.com':
    title, content=inv(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='영남일보':
    title,content=yn(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='CBC뉴스':
    title, content=cbc(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='블로터':
    title, content=blt(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='더팩트':
    title, content=thefact(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='아시아에이':
    title, content=asiaa(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='문화뉴스':
    title,content=culture(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='한겨레':
    title, content=hangyere(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  elif row['article']=='뉴스핌':
    title, content=pim(row['link'])

    filtered_df.at[index, 'title'] = title
    filtered_df.at[index, 'content'] = content
    print(f"{index}번째 index")

  else:
    pass

<ipython-input-164-608fb345d6bd>:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.at[index, 'title'] = title
<ipython-input-164-608fb345d6bd>:170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.at[index, 'content'] = content

0번째 index
1번째 index
2번째 index
3번째 index
4번째 index
5번째 index
6번째 index
7번째 index
8번째 index
9번째 index
10번째 index
11번째 index
12번째 index
13번째 index
14번째 index
15번째 index
16번째 index
17번째 index
18번째 index
19번째 index
20번째 index
21번째 index
22번째 index
23번째 index
24번째 index
25번째 index
26번째 index
27번째 index
28번째 index
29번째 index
30번째 index
31번째 index
32번째 index
33번째 index
34번째 index
35번째 index
37번째 index
38번째 index
39번째 index
40번째 index
41번째 index
42번째 index
43번째 index
44번째 index
45번째 index
46번째 index
47번째 index
48번째 index
49번째 index
50번째 index
51번째 index
52번째 index
53번째 index
54번째 index
55번째 index
56번째 index
57번째 index
58번째 index
59번째 index
60번째 index
61번째 index
62번째 index
63번째 index
64번째 index
65번째 index
66번째 index
67번째 index
68번째 index
69번째 index
70번째 index
71번째 index
72번째 index
73번째 index
74번째 index
75번째 index
76번째 index
77번째 index
78번째 index
79번째 index
80번째 index
81번째 index
82번째 index
83번째 index
84번째 index
85번째 index
86번째 index
87번째 index
88번째 index
89번째 index
90번째 index
91번째 index
92번째 index
93번째 index
94번째 index
95번째 index
96번째 index
97번째 index
98번째 index
99번째 index
100번째 index
101번째 index
102번째 index
103번째 index
104번째 index
105번째 index
106번째 index
107번째 index
108번째 index
109번째 index
110번째 index
111번째 index
112번째 index
113번째 index
114번째 index
115번째 index
116번째 index
117번째 index
118번째 index
119번째 index
120번째 index
121번째 index
122번째 index
123번째 index
124번째 index
125번째 index
126번째 index
127번째 index
128번째 index
129번째 index
130번째 index
131번째 index
132번째 index
133번째 index
134번째 index
135번째 index
136번째 index
137번째 index
138번째 index
139번째 index
140번째 index
141번째 index
142번째 index
143번째 index
144번째 index
145번째 index
146번째 index
147번째 index
148번째 index
149번째 index
150번째 index
151번째 index
152번째 index
153번째 index
154번째 index
155번째 index
156번째 index
157번째 index
158번째 index
159번째 index
160번째 index
161번째 index
162번째 index
163번째 index
164번째 index
165번째 index
166번째 index
167번째 index
168번째 index
169번째 index
170번째 index
171번째 index
172번째 index
173번째 index
174번째 index
175번째 index
176번째 index
177번째 index
178번째 index
179번째 index
180번째 index
181번째 index
182번째 index
183번째 index
184번째 index
185번째 index
186번째 index
187번째 index
188번째 index
189번째 index
190번째 index
191번째 index
192번째 index
193번째 index
194번째 index
195번째 index
196번째 index
197번째 index
198번째 index
199번째 index
200번째 index
201번째 index
202번째 index
203번째 index
204번째 index
205번째 index
206번째 index
207번째 index
208번째 index
209번째 index
210번째 index
211번째 index
212번째 index
213번째 index
214번째 index
215번째 index
216번째 index
217번째 index
218번째 index
219번째 index
220번째 index
221번째 index
222번째 index
223번째 index
224번째 index
225번째 index
226번째 index
227번째 index
228번째 index
229번째 index
230번째 index
231번째 index
232번째 index
233번째 index
234번째 index
235번째 index
236번째 index
237번째 index
238번째 index
239번째 index
240번째 index
241번째 index
242번째 index
243번째 index
244번째 index
245번째 index
246번째 index
247번째 index
248번째 index
249번째 index
250번째 index
251번째 index
252번째 index
253번째 index
254번째 index
255번째 index
256번째 index
257번째 index
258번째 index
259번째 index
260번째 index
261번째 index
262번째 index
263번째 index
264번째 index
265번째 index
266번째 index
267번째 index
268번째 index
269번째 index
270번째 index
271번째 index
272번째 index
273번째 index
274번째 index
275번째 index
276번째 index
277번째 index
278번째 index
279번째 index
280번째 index
281번째 index
282번째 index
283번째 index
284번째 index
285번째 index
286번째 index
287번째 index
288번째 index
289번째 index
290번째 index
291번째 index
292번째 index
293번째 index
294번째 index
295번째 index
296번째 index
297번째 index
298번째 index
299번째 index
300번째 index
301번째 index
302번째 index
303번째 index
304번째 index
305번째 index
306번째 index
307번째 index
308번째 index
309번째 index
310번째 index
311번째 index
312번째 index
313번째 index
314번째 index
315번째 index
316번째 index
317번째 index
318번째 index
319번째 index
320번째 index
321번째 index
322번째 index
323번째 index
324번째 index
325번째 index
326번째 index
327번째 index
328번째 index
329번째 index
330번째 index
331번째 index
332번째 index
333번째 index
334번째 index
335번째 index
336번째 index
337번째 index
338번째 index
339번째 index
340번째 index
341번째 index
342번째 index
343번째 index
344번째 index
345번째 index
346번째 index
347번째 index
348번째 index
349번째 index
350번째 index
351번째 index
352번째 index
353번째 index
354번째 index
355번째 index
356번째 index
357번째 index
358번째 index
359번째 index
360번째 index
361번째 index
362번째 index
363번째 index
364번째 index
365번째 index
366번째 index
367번째 index
368번째 index
369번째 index
370번째 index
371번째 index
372번째 index
373번째 index
374번째 index
375번째 index
376번째 index
377번째 index
378번째 index
379번째 index
380번째 index
381번째 index
382번째 index
383번째 index
384번째 index
385번째 index
386번째 index
387번째 index
388번째 index
389번째 index
390번째 index
391번째 index
392번째 index
393번째 index
394번째 index
395번째 index
396번째 index
397번째 index
398번째 index
399번째 index
400번째 index
401번째 index
402번째 index
403번째 index
404번째 index
405번째 index
406번째 index
407번째 index
408번째 index
409번째 index
410번째 index
411번째 index
412번째 index
413번째 index
414번째 index
415번째 index
416번째 index
417번째 index
418번째 index
419번째 index
420번째 index
421번째 index
422번째 index
423번째 index
424번째 index
425번째 index
426번째 index
427번째 index
428번째 index
429번째 index
430번째 index
431번째 index
432번째 index
433번째 index
434번째 index
435번째 index
436번째 index
437번째 index
438번째 index
439번째 index
440번째 index
441번째 index
442번째 index
443번째 index
444번째 index
445번째 index
446번째 index
447번째 index
448번째 index
449번째 index
450번째 index
451번째 index
452번째 index
453번째 index
454번째 index
455번째 index
456번째 index
457번째 index
458번째 index
459번째 index
460번째 index
461번째 index
462번째 index
463번째 index
464번째 index
465번째 index
466번째 index
467번째 index
468번째 index
469번째 index
470번째 index
471번째 index
472번째 index
473번째 index
474번째 index
475번째 index
476번째 index
477번째 index
478번째 index
479번째 index
480번째 index
481번째 index
482번째 index
483번째 index
484번째 index
485번째 index
486번째 index
487번째 index
488번째 index
489번째 index
490번째 index
491번째 index
492번째 index
493번째 index
494번째 index
495번째 index
496번째 index
497번째 index
498번째 index
499번째 index
500번째 index
501번째 index
502번째 index
503번째 index
504번째 index
505번째 index
506번째 index
507번째 index
508번째 index
509번째 index
510번째 index
511번째 index
512번째 index
513번째 index
514번째 index
515번째 index
516번째 index
517번째 index
518번째 index
519번째 index
520번째 index
521번째 index
522번째 index
523번째 index
524번째 index
525번째 index
526번째 index
527번째 index
528번째 index
529번째 index
530번째 index
531번째 index
532번째 index
533번째 index
534번째 index
535번째 index
536번째 index
537번째 index
538번째 index
539번째 index
540번째 index
541번째 index
542번째 index
543번째 index
544번째 index
545번째 index
546번째 index
547번째 index
548번째 index
549번째 index
550번째 index
551번째 index
552번째 index
553번째 index
554번째 index
555번째 index
556번째 index
557번째 index
558번째 index
559번째 index
560번째 index
561번째 index
562번째 index
563번째 index
564번째 index
565번째 index
566번째 index
567번째 index
568번째 index
569번째 index
570번째 index
571번째 index
572번째 index
573번째 index
574번째 index
575번째 index
576번째 index
577번째 index
578번째 index
579번째 index
580번째 index
581번째 index
582번째 index
583번째 index
584번째 index
585번째 index
586번째 index
587번째 index
588번째 index
589번째 index
590번째 index
591번째 index
592번째 index
593번째 index
594번째 index
595번째 index
596번째 index
597번째 index
598번째 index
599번째 index
600번째 index
601번째 index
602번째 index
603번째 index
604번째 index
605번째 index
606번째 index
607번째 index
608번째 index
609번째 index
610번째 index
611번째 index
612번째 index
613번째 index
614번째 index
615번째 index
616번째 index
617번째 index
618번째 index
619번째 index
620번째 index
621번째 index
622번째 index
623번째 index
624번째 index
625번째 index
626번째 index
627번째 index
628번째 index
629번째 index
630번째 index
631번째 index
632번째 index
633번째 index
634번째 index
635번째 index
636번째 index
637번째 index
638번째 index
639번째 index
640번째 index
641번째 index
642번째 index
643번째 index
644번째 index
645번째 index
646번째 index
647번째 index
648번째 index
649번째 index
650번째 index
651번째 index
652번째 index
653번째 index
654번째 index
655번째 index
656번째 index
657번째 index
658번째 index
659번째 index
660번째 index
661번째 index
662번째 index
663번째 index
664번째 index
665번째 index
666번째 index
667번째 index
668번째 index
669번째 index
670번째 index
671번째 index
672번째 index
673번째 index
674번째 index
675번째 index
676번째 index
677번째 index
678번째 index
679번째 index
680번째 index
681번째 index
682번째 index
683번째 index
684번째 index
685번째 index
686번째 index
687번째 index
688번째 index
689번째 index
690번째 index
691번째 index
692번째 index
693번째 index
694번째 index
695번째 index
696번째 index
697번째 index
698번째 index
699번째 index
700번째 index
701번째 index
702번째 index
703번째 index
704번째 index
705번째 index
706번째 index
707번째 index
708번째 index
709번째 index
710번째 index
711번째 index
712번째 index
713번째 index
714번째 index
715번째 index
716번째 index
717번째 index
718번째 index
719번째 index
720번째 index
721번째 index
722번째 index
723번째 index
724번째 index
725번째 index
726번째 index
727번째 index
728번째 index
729번째 index
730번째 index
731번째 index
732번째 index
733번째 index
734번째 index
735번째 index
736번째 index
737번째 index
738번째 index
739번째 index
740번째 index
741번째 index
742번째 index
743번째 index
744번째 index
745번째 index
746번째 index
747번째 index
748번째 index
749번째 index
750번째 index
751번째 index
752번째 index
753번째 index
754번째 index
755번째 index
756번째 index
757번째 index
758번째 index
759번째 index
760번째 index
761번째 index
762번째 index
763번째 index
764번째 index
765번째 index
766번째 index
767번째 index
768번째 index
769번째 index
770번째 index
771번째 index
772번째 index
773번째 index
774번째 index
775번째 index
776번째 index
777번째 index
778번째 index
779번째 index
780번째 index
781번째 index
782번째 index
783번째 index
784번째 index
785번째 index
786번째 index
787번째 index
788번째 index
789번째 index
790번째 index
791번째 index
792번째 index
793번째 index
794번째 index
795번째 index
796번째 index
797번째 index
798번째 index
799번째 index
800번째 index
801번째 index
802번째 index
803번째 index
804번째 index
805번째 index
806번째 index
807번째 index
808번째 index
809번째 index
810번째 index
811번째 index
812번째 index
813번째 index
814번째 index
815번째 index
816번째 index
817번째 index
818번째 index
819번째 index
820번째 index
821번째 index
822번째 index
823번째 index
824번째 index
825번째 index
826번째 index
827번째 index
828번째 index
829번째 index
830번째 index
831번째 index
832번째 index
833번째 index
834번째 index
835번째 index
836번째 index
837번째 index
838번째 index
839번째 index
840번째 index
841번째 index
842번째 index
843번째 index
844번째 index
845번째 index
846번째 index
847번째 index
848번째 index
849번째 index
850번째 index
851번째 index
852번째 index
853번째 index
854번째 index
855번째 index
856번째 index
857번째 index
858번째 index
859번째 index
860번째 index
861번째 index
862번째 index
863번째 index
864번째 index
865번째 index
866번째 index
867번째 index
868번째 index
869번째 index
870번째 index
871번째 index
872번째 index
873번째 index
874번째 index
875번째 index
876번째 index
877번째 index
878번째 index
879번째 index
880번째 index
881번째 index
882번째 index
883번째 index
884번째 index
885번째 index
886번째 index
887번째 index
888번째 index
889번째 index
890번째 index
891번째 index
892번째 index
893번째 index
894번째 index
895번째 index
896번째 index
897번째 index
898번째 index
899번째 index
900번째 index
901번째 index
902번째 index
903번째 index
904번째 index
905번째 index
906번째 index
907번째 index
908번째 index
909번째 index
910번째 index
911번째 index
912번째 index
913번째 index
914번째 index
915번째 index
916번째 index
917번째 index
918번째 index
919번째 index
920번째 index
921번째 index
922번째 index
923번째 index
924번째 index
925번째 index
926번째 index
927번째 index
928번째 index
929번째 index
930번째 index
931번째 index
932번째 index
933번째 index
934번째 index
935번째 index
936번째 index
937번째 index
938번째 index
939번째 index
940번째 index
941번째 index
942번째 index
943번째 index
944번째 index
945번째 index
946번째 index
947번째 index
948번째 index
949번째 index
950번째 index
951번째 index
952번째 index
953번째 index
954번째 index
955번째 index
956번째 index
957번째 index
958번째 index
959번째 index
960번째 index
961번째 index
962번째 index
963번째 index
964번째 index
965번째 index
966번째 index
967번째 index
968번째 index
969번째 index
970번째 index
971번째 index
972번째 index
973번째 index
974번째 index
975번째 index
976번째 index
977번째 index
978번째 index
979번째 index
980번째 index
981번째 index
982번째 index
983번째 index
984번째 index
985번째 index
986번째 index
987번째 index
988번째 index
989번째 index
990번째 index
991번째 index
992번째 index
993번째 index
994번째 index
995번째 index
996번째 index
997번째 index
998번째 index
999번째 index
1000번째 index
1001번째 index
1002번째 index
1003번째 index
1004번째 index
1005번째 index
1006번째 index
1007번째 index
1008번째 index
1009번째 index
1010번째 index
1011번째 index
1012번째 index
1013번째 index
1014번째 index
1015번째 index
1016번째 index
1017번째 index
1018번째 index
1019번째 index
1020번째 index
1021번째 index
1022번째 index
1023번째 index
1024번째 index
1025번째 index
1026번째 index
1027번째 index
1028번째 index
1029번째 index
1030번째 index
1031번째 index
1032번째 index
1033번째 index
1034번째 index
1035번째 index
1036번째 index
1037번째 index
1038번째 index
1039번째 index
1040번째 index
1041번째 index
1042번째 index
1043번째 index
1044번째 index
1045번째 index
1046번째 index
1047번째 index
1048번째 index
1049번째 index
1050번째 index
1051번째 index
1052번째 index
1053번째 index
1054번째 index
1055번째 index
1056번째 index
1057번째 index
1058번째 index
1059번째 index
1060번째 index
1061번째 index
1062번째 index
1063번째 index
1064번째 index
1065번째 index
1066번째 index
1067번째 index
1068번째 index
1069번째 index
1070번째 index
1071번째 index
1072번째 index
1073번째 index
1074번째 index
1075번째 index
1076번째 index
1077번째 index
1078번째 index
1079번째 index
1080번째 index
1081번째 index
1082번째 index
1083번째 index
1084번째 index
1085번째 index
1086번째 index
1087번째 index
1088번째 index
1089번째 index
1090번째 index
1091번째 index
1092번째 index
1093번째 index
1094번째 index
1095번째 index
1096번째 index
1097번째 index
1098번째 index
1099번째 index
1100번째 index
1101번째 index
1102번째 index
1103번째 index
1104번째 index
1105번째 index
1106번째 index
1107번째 index
1108번째 index
1109번째 index
1110번째 index
1111번째 index
1112번째 index
1113번째 index
1114번째 index
1115번째 index
1116번째 index
1117번째 index
1118번째 index
1119번째 index
1120번째 index
1121번째 index
1122번째 index
1123번째 index
1124번째 index
1125번째 index
1126번째 index
1127번째 index
1128번째 index
1129번째 index
1130번째 index
1131번째 index
1132번째 index
1133번째 index
1134번째 index
1135번째 index
1136번째 index
1137번째 index
1138번째 index
1139번째 index
1140번째 index
1141번째 index
1142번째 index
1143번째 index
1144번째 index
1145번째 index
1146번째 index
1147번째 index
1148번째 index
1149번째 index
1150번째 index
1151번째 index
1152번째 index
1153번째 index
1154번째 index
1155번째 index
1156번째 index
1157번째 index
1158번째 index
1159번째 index
1160번째 index
1161번째 index
1162번째 index
1163번째 index
1164번째 index
1165번째 index
1166번째 index
1167번째 index
1168번째 index
1169번째 index
1170번째 index
1171번째 index
1172번째 index
1173번째 index
1174번째 index
1175번째 index
1176번째 index
1177번째 index
1178번째 index
1179번째 index
1180번째 index
1181번째 index
1182번째 index
1183번째 index
1184번째 index
1185번째 index
1186번째 index
1187번째 index
1188번째 index
1189번째 index
1190번째 index
1191번째 index
1192번째 index
1193번째 index
1194번째 index
1195번째 index
1196번째 index
1197번째 index
1198번째 index
1199번째 index
1200번째 index
1201번째 index
1202번째 index
1203번째 index
1204번째 index
1205번째 index
1206번째 index
1207번째 index
1208번째 index
1209번째 index
1210번째 index
1211번째 index
1212번째 index
1213번째 index
1214번째 index
1215번째 index
1216번째 index
1217번째 index
1218번째 index
1219번째 index
1220번째 index
1221번째 index
1222번째 index
1223번째 index
1224번째 index
1225번째 index
1226번째 index
1227번째 index
1228번째 index
1229번째 index
1230번째 index
1231번째 index
1232번째 index
1233번째 index
1234번째 index
1235번째 index
1236번째 index
1237번째 index
1238번째 index
1239번째 index
1240번째 index
1241번째 index
1242번째 index
1243번째 index
1244번째 index
1245번째 index
1246번째 index
1247번째 index
1248번째 index
1249번째 index
1250번째 index
1251번째 index
1252번째 index
1253번째 index
1254번째 index
1255번째 index
1256번째 index
1257번째 index
1258번째 index
1259번째 index
1260번째 index
1261번째 index
1262번째 index
1263번째 index
1264번째 index
1265번째 index
1266번째 index
1267번째 index
1268번째 index
1269번째 index
1270번째 index
1271번째 index
1272번째 index
1273번째 index
1274번째 index
1275번째 index
1276번째 index
1277번째 index
1278번째 index
1279번째 index
1280번째 index
1281번째 index
1282번째 index
1283번째 index
1284번째 index
1285번째 index
1286번째 index
1287번째 index
1288번째 index
1289번째 index
1290번째 index
1291번째 index
1292번째 index
1293번째 index
1294번째 index
1295번째 index
1296번째 index
1297번째 index
1298번째 index
1299번째 index
1300번째 index
1301번째 index
1302번째 index
1303번째 index
1304번째 index
1305번째 index
1306번째 index
1307번째 index
1308번째 index
1309번째 index
1310번째 index
1311번째 index
1312번째 index
1313번째 index
1314번째 index
1315번째 index
1316번째 index
1317번째 index
1318번째 index
1319번째 index
1320번째 index
1321번째 index
1322번째 index
1323번째 index
1324번째 index
1325번째 index
1326번째 index
1327번째 index
1328번째 index
1329번째 index
1330번째 index
1331번째 index
1332번째 index
1333번째 index
1334번째 index
1335번째 index
1336번째 index
1337번째 index
1338번째 index
1339번째 index
1340번째 index
1341번째 index
1342번째 index
1343번째 index
1344번째 index
1345번째 index
1346번째 index
1347번째 index
1348번째 index
1349번째 index
1350번째 index
1351번째 index
1352번째 index
1353번째 index
1354번째 index
1355번째 index
1356번째 index
1357번째 index
1358번째 index
1359번째 index
1360번째 index
1361번째 index
1362번째 index
1363번째 index
1364번째 index
1365번째 index
1366번째 index
1367번째 index
1368번째 index
1369번째 index
1370번째 index
1371번째 index
1372번째 index
1373번째 index
1374번째 index
1375번째 index
1376번째 index
1377번째 index
1378번째 index
1379번째 index
1380번째 index
1381번째 index
1382번째 index
1383번째 index
1384번째 index
1385번째 index
1386번째 index
1387번째 index
1388번째 index
1389번째 index
1390번째 index
1391번째 index
1392번째 index
1393번째 index
1394번째 index
1395번째 index
1396번째 index
1397번째 index
1398번째 index
1399번째 index
1400번째 index
1401번째 index
1402번째 index
1403번째 index
1404번째 index
1405번째 index
1406번째 index
1407번째 index
1408번째 index
1409번째 index
1410번째 index
1411번째 index
1412번째 index
1413번째 index
1414번째 index
1415번째 index
1416번째 index
1417번째 index
1418번째 index
1419번째 index
1420번째 index
1421번째 index
1422번째 index
1423번째 index
1424번째 index
1425번째 index
1426번째 index
1427번째 index
1428번째 index
1429번째 index
1430번째 index
1431번째 index
1432번째 index
1433번째 index
1434번째 index
1435번째 index
1436번째 index
1437번째 index
1438번째 index
1439번째 index
1440번째 index
1441번째 index
1442번째 index
1443번째 index
1444번째 index
1445번째 index
1446번째 index
1447번째 index
1448번째 index
1449번째 index
1450번째 index
1451번째 index
1452번째 index
1453번째 index
1454번째 index
1455번째 index
1456번째 index
1457번째 index
1458번째 index
1459번째 index
1460번째 index
1461번째 index
1462번째 index
1463번째 index
1464번째 index
1465번째 index
1466번째 index
1467번째 index
1468번째 index
1469번째 index
1470번째 index
1471번째 index
1472번째 index
1473번째 index
1474번째 index
1475번째 index
1476번째 index
1477번째 index
1478번째 index
1479번째 index
1480번째 index
1481번째 index
1482번째 index
1483번째 index
1484번째 index
1485번째 index
1486번째 index
1487번째 index
1488번째 index
1489번째 index
1490번째 index
1491번째 index
1492번째 index
1493번째 index
1494번째 index
1495번째 index
1496번째 index
1497번째 index
1498번째 index
1499번째 index
1500번째 index
1501번째 index
1502번째 index
1503번째 index
1504번째 index
1505번째 index
1506번째 index
1507번째 index
1508번째 index
1509번째 index
1510번째 index
1511번째 index
1512번째 index
1513번째 index
1514번째 index
1515번째 index
1516번째 index
1517번째 index
1518번째 index
1519번째 index
1520번째 index
1521번째 index
1522번째 index
1523번째 index
1524번째 index
1525번째 index
1526번째 index
1527번째 index
1528번째 index
1529번째 index
1530번째 index
1531번째 index
1532번째 index
1533번째 index
1534번째 index
1535번째 index
1536번째 index
1537번째 index
1538번째 index
1539번째 index
1540번째 index
1541번째 index
1542번째 index
1543번째 index
1544번째 index
1545번째 index
1546번째 index
1547번째 index
1548번째 index
1549번째 index
1550번째 index
1551번째 index
1552번째 index
1553번째 index
1554번째 index
1555번째 index
1556번째 index
1557번째 index
1558번째 index
1559번째 index
1560번째 index
1561번째 index
1562번째 index
1563번째 index
1564번째 index
1565번째 index
1566번째 index
1567번째 index
1568번째 index
1569번째 index
1570번째 index
1571번째 index
1572번째 index
1573번째 index
1574번째 index
1575번째 index
1576번째 index
1577번째 index
1578번째 index
1579번째 index
1580번째 index
1581번째 index
1582번째 index
1583번째 index
1584번째 index
1585번째 index
1586번째 index
1587번째 index
1588번째 index
1589번째 index
1590번째 index
1591번째 index
1592번째 index
1593번째 index
1594번째 index
1595번째 index
1596번째 index
1597번째 index
1598번째 index
1599번째 index
1600번째 index
1601번째 index
1602번째 index
1603번째 index
1604번째 index
1605번째 index
1606번째 index
1607번째 index
1608번째 index
1609번째 index
1610번째 index
1611번째 index
1612번째 index
1613번째 index
1614번째 index
1615번째 index
1616번째 index
1617번째 index
1618번째 index
1619번째 index
1620번째 index
1621번째 index
1622번째 index
1623번째 index

In [ ]:
# csv로 저장
filtered_df.to_csv('[구글]1-15페이지_완성(찐).csv', index=False)